In [32]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
import re
import pandas as pd
from Code.UtilityFunctions.run_query import run_query
from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.wikidata_functions import get_name_of_location_with_long_lat, wikidata_query, categories_dict_singular
from collections import Counter

In [27]:
biz = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)
categories = list(biz['categories'].str.cat(sep=', ').split(sep=', '))
categories_dict_singular = categories_dict_singular(categories)

category_occurences = pd.DataFrame(list(dict(Counter(categories)).items()),
                                   columns=['category', 'occurences'
                                            ]).sort_values(by='occurences',
                                                           ascending=False)
# Maps the split categories to the original categories
category_occurences['split_category'] = category_occurences['category'].map(categories_dict_singular)
category_occurences = category_occurences.explode('split_category')

# Maps the yelp categories that are already mapped to a schemaType to the original category.
class_mapping = pd.read_csv(get_path('class_mappings.csv'))
class_mapping['SchemaType'] = class_mapping['SchemaType'].apply(lambda x: eval(x)[0])
category_occurences['split_category'] = category_occurences['split_category'].apply(lambda x: x.title().replace(' ', ''))
category_occurences = category_occurences.merge(class_mapping,
                                                left_on='category',
                                                right_on='YelpCategory',
                                                how='left').drop(columns=['YelpCategory'])

In [33]:
def space_words_lower(string):
    return re.sub('(?<!^)([A-Z])([^A-Z])', r' \1\2', string).lower()

In [35]:
category_qid = {}
category_qid2 = {}
for cat in category_occurences.itertuples():
    if pd.isna(cat.SchemaType):
        cat = space_words_lower(cat.split_category)
    else:
        cat = space_words_lower(cat.SchemaType)
    try:
        wikidata_query_cat_query = wikidata_query(category_query(
            category=cat))  # Querys wikidata for the QID of the category
        category_qid[cat] = (
            wikidata_query_cat_query["item.value"][0][31:],
            wikidata_query_cat_query["itemLabel.value"][0]
        )  # Adds QID and label of the first result of the query
        category_qid2[cat] = min_qid(
            wikidata_query_cat_query
        )  # Adds QID and label with min_qid function
    except:
        pass

restaurant schema
food yelp
retail schema
service schema
day spa schema
day spa schema
night club schema
physician schema
physician schema
local business schema
bar or pub schema
automotive business schema
event schema
event schema
sandwich yelp
american( traditional) yelp
active life yelp
pizza yelp
coffee yelp
tea yelp
fast food restaurant schema
bed and breakfast schema
bed and breakfast schema
american( new) yelp
hotel schema
hotel schema
house schema
house schema
fashion yelp
burger yelp
entertainment business schema
entertainment business schema
auto repair schema
hair salon schema
nail salon schema
mexican yelp
italian yelp
specialty food yelp
physician schema
pet schema
real estate agent schema
seafood yelp
fitnes yelp
instruction yelp
professional service schema
hair removal yelp
dessert yelp
traditional chinese schema
bakery schema
grocery store schema
salad yelp
hotel yelp
chicken wing yelp
cafe or coffee shop schema
ice cream shop schema
ice cream shop schema
caterer yelp
pet schema
dentist schema
skin schema
event venue schema
event venue schema
tire shop schema
winery schema
winery schema
brewery schema
deli yelp
oil change station yelp
waxing yelp
general contractor schema
women's clothing yelp
massage yelp
sports club schema
day spa schema
dentistry schema
school schema
flower yelp
gift yelp
auto parts store schema
auto parts store schema
apartment schema
convenience store schema
home decor yelp
exercise gym schema
japanese yelp
bar or pub schema
bar or pub schema
sushi bar yelp
barbeque yelp
juice bar yelp
smoothy yelp
barber yelp
auto dealer schema
sporting good yelp
accessory yelp
pharmacy schema
dentist schema
local flavor yelp
furniture store schema
pet groomer yelp
asian fusion yelp
health and beauty business schema
health and beauty business schema
jewelry store schema
restaurant schema
restaurant schema
financial service schema
trainer yelp
hair salon schema
art gallery schema
art gallery schema
department store schema
electronic yelp
veterinary care schema
massage therapy yelp
pet schema
eyelash service yelp
mens clothing store schema
food truck yelp
mediterranean yelp
auto body shop schema
government service schema
government service schema
hvac business schema
hvac business schema
hvac business schema
lounge yelp
winery schema
service schema
service schema
vegetarian diet schema
laundry service yelp
medical clinic schema
optometrist yelp
plumber schema
gas station schema
music venue schema
donut yelp
dry cleaning or laundry schema
dry cleaning or laundry schema
party planning yelp
event planning yelp
soup yelp
food service schema
pet store schema
taco yelp
shoe store schema
optician schema
optician schema
southern yelp
park schema
mag yelp
music yelp
video yelp
book schema
makeup artist yelp
thai yelp
auto wash schema
florist schema
how to supply schema
mobile phone store schema
mover yelp
yoga yelp
specialty schema
cajun yelp
creole yelp
tex- mex yelp
auto detailing yelp
landscaping yelp
nursery yelp
gardening yelp
appliance yelp
brewery schema
discount store yelp
brewery schema
transportation yelp
vegan diet schema
vietnamese yelp
dry cleaning or laundry schema
tour yelp
sewing yelp
alteration yelp
indian yelp
hair salon schema
latin american yelp
chicken shop yelp
auto repair schema
auto repair schema
real estate agent schema
gift shop yelp
self storage schema
shipping center yelp
hardware store schema
printing service yelp
art gallery schema
medical clinic schema
greek yelp
gluten free diet schema
hot dog yelp
kitchen yelp
bath yelp
property management yelp
vintage yelp
consignment yelp
used yelp
dentist schema
bank or credit union schema
bank or credit union schema
comfort food yelp
bagel yelp
auto glass service yelp
chiropractic schema
wedding planning yelp
dentist schema
towing yelp
tobacco shop yelp
auto rental schema
tanning yelp
dentist schema
ethnic food yelp
transmission repair yelp
antique yelp
dive bar yelp
mattress yelp
hair extension yelp
buffet yelp
floor plan schema
cheesesteak yelp
clothing store schema
tattoo parlor schema
health market yelp
caribbean yelp
middle eastern yelp
performing arts theater schema
sports wear yelp
real estate agent schema
pet training yelp
tree service yelp
physical therapy schema
water heater installation yelp
water heater repair yelp
bridal yelp
hobby shop schema
meat shop yelp
urgent care yelp
soul food yelp
fruit yelp
veggie yelp
dentist schema
carpet cleaning yelp
mobile phone repair yelp
toy store schema
notary schema
gastropub yelp
interior design yelp
photograph schema
pharmacy schema
electronics repair yelp
family practice yelp
french yelp
nonprofit type schema
nonprofit type schema
pest control yelp
farmers market yelp
korean yelp
golf course schema
electrician schema
bubble tea yelp
vape shop yelp
mobile phone accessory yelp
roofing contractor schema
diagnostic schema
photography store yelp
photography service yelp
periodontist yelp
motorcycle schema
service schema
service schema
eyebrow service yelp
dance group schema
windows installation yelp
house painter schema
children's clothing yelp
festival schema
weight loss center yelp
tapa yelp
small plate yelp
nutritionist yelp
auto dealer schema
pet boarding yelp
acupuncture yelp
food establishment schema
cupcake yelp
optician schema
book store schema
child care schema
child care schema
museum schema
reflexology yelp
insurance agency schema
junk removal yelp
hauling yelp
telecommunication yelp
hospital schema
laser hair removal yelp
noodle yelp
dry cleaning or laundry schema
arcade yelp
permanent makeup yelp
office cleaning yelp
outdoor gear yelp
piercing yelp
childrens event schema
cosmetic surgeon yelp
mortgage loan schema
masonry yelp
concrete yelp
attorney schema
halal diet schema
movie theater schema
street vendor yelp
session photography yelp
grocery store schema
handyman yelp
internet service provider yelp
damage restoration yelp
windshield installation yelp
windshield repair yelp
jewelry repair yelp
preschool schema
winery schema
mailbox center yelp
computer yelp
pawn shop schema
pawn shop schema
seafood market yelp
boot camp yelp
lighting fixture yelp
lighting equipment yelp
dermatology schema
spray tanning yelp
watch action schema
airport schema
post office schema
karaoke yelp
event photography yelp
bed details schema
bed details schema
locksmith schema
locksmith schema
gutter service yelp
nail salon schema
parcel delivery schema
parcel delivery schema
sports club schema
pressure washer yelp
obstetric schema
obstetric schema
art gallery schema
auto customization yelp
wrap yelp
party supply yelp
carpeting yelp
wheel repair yelp
rim repair yelp
landmarks or historical buildings schema
landmarks or historical buildings schema
pool service yelp
hot tub service yelp
shopping center schema
bike rental yelp
custom cake yelp
pilate yelp
limo yelp
garden store schema
sports medicine yelp
boat trip schema
security system yelp
home inspector yelp
organization schema
spanish yelp
dog walker yelp
cuban yelp
amusement park schema
wear action schema
public swimming pool schema
coffee roastery yelp
musical instrument yelp
musical teacher yelp
door sale yelp
door installation yelp
wholesale store schema
motorcycle repair schema
motorcycle repair schema
shaved ice yelp
laboratory science schema
air duct cleaning yelp
travel agency schema
packing service yelp
acai bowl yelp
playground schema
shade yelp
blind yelp
martial art yelp
office equipment store schema
canadian( new) yelp
public swimming pool schema
public swimming pool schema
florist schema
shoe repair yelp
gardener yelp
vitamin yelp
suppplement yelp
pediatric schema
credit card schema
credit card schema
taxi schema
car stereo installation yelp
gun yelp
ammo yelp
recreation center yelp
parking facility schema
baby gear yelp
baby furniture yelp
watch repair yelp
art gallery schema
landscape architect yelp
visual artwork schema
tiling yelp
hookah bar yelp
music composition schema
music composition schema
window washing yelp
campground schema
room schema
car window tinting yelp
pakistani yelp
tapas bar yelp
motorcycle dealer schema
psychiatric schema
psychiatric schema
orthopedist yelp
raman yelp
glas yelp
mirro yelp
rehabilitation center yelp
elementary school schema
naturopathic yelp
holistic yelp
smog check station yelp
internal medicine yelp
adult entertainment schema
church schema
cabinetry yelp
irish yelp
hiking yelp
poke yelp
irrigation yelp
pool cleaner yelp
library schema
auto rental schema
international grocery yelp
motorcycle repair schema
signmaking yelp
exercise gym schema
fish& chip yelp
lingerie yelp
reiki yelp
imported food yelp
head shop yelp
dance studio yelp
fence yelp
gate yelp
laundromat yelp
auto insurance yelp
gelato yelp
framing yelp
medical business schema
bowling alley schema
party equipment rental yelp
pasta shop yelp
laser eye surgery yelp
lasik yelp
waffle yelp
video yelp
video game rental, yelp
brewpub yelp
hawaiian yelp
brewery schema
outlet store schema
butcher yelp
siding yelp
financial advising yelp
jazz yelp
blue yelp
college or university schema
college or university schema
medical imaging technique schema
clothing store schema
auto loan provider yelp
escape game yelp
traditional chinese schema
musical instrument service yelp
resort schema
garage door service yelp
public swimming pool schema
park schema
how to supply schema
pet adoption yelp
cemetery schema
cemetery schema
personal shopping yelp
crepery yelp
furniture reupholstery yelp
roadside assistance yelp
snow removal yelp
recycling center schema
home window tinting yelp
television station schema
fishing yelp
barre class yelp
organization schema
bar or pub schema
mass media yelp
lawn service yelp
countertop installation yelp
threading service yelp
pretzel yelp
gun range yelp
rifle range yelp
drywall installation yelp
drywall repair yelp
rug yelp
ice cream shop schema
home insurance yelp
rental insurance yelp
animal shelter schema
winery schema
cardio class yelp
refinishing service yelp
comic series schema
walk- in clinic yelp
life insurance yelp
propane yelp
personal injury law yelp
do- it- yourself food yelp
internet cafe schema
vacation rental yelp
vinyl format schema
department of motor vehicles yelp
dim sum yelp
leather good yelp
health club schema
cannabis clinic yelp
tax service yelp
home theatre installation yelp
costume yelp
historical tour yelp
supernatural reading yelp
team building activity yelp
divorce law yelp
family law yelp
public transportation yelp
educational organization schema
bar or pub schema
plus size fashion yelp
carpet installation yelp
water purification service yelp
gold buyer yelp
modern european yelp
sports club schema
boxing yelp
stadium or arena schema
stadium or arena schema
life coach yelp
boat reservation schema
food establishment schema
tanning bed yelp
cannabis dispensary yelp
screen printing yelp
t- shirt printing yelp
web content schema
marketing yelp
party bus rental yelp
dj yelp
rafting yelp
kayaking yelp
accounting service schema
fireplace service yelp
german yelp
podiatric schema
knitting supply yelp
surgical schema
home automation yelp
teeth whitening yelp
beach schema
airport schema
mortgage loan schema
university housing yelp
cycling class yelp
data recovery yelp
paint store yelp
adult yelp
airline schema
deck yelp
railing yelp
septic service yelp
patisserie shop yelp
cake shop yelp
sports team schema
commercial real estate yelp
solar installation yelp
personal chef yelp
pain management yelp
african yelp
casino schema
szechuan yelp
chimney sweep yelp
souvenir shop yelp
health care schema
herb yelp
spice yelp
skating rink yelp
swimwear yelp
new mexican cuisine yelp
winery schema
candle store yelp
auto dealer schema
painting schema
painting schema
rv repair yelp
pawn shop schema
filipino yelp
grout service yelp
distillery schema
carpenter yelp
bespoke clothing yelp
plastic surgery schema
falafel yelp
dance school yelp
utility yelp
donation center yelp
computer store schema
walking tour yelp
occupational therapy schema
wildlife control yelp
meditation center yelp
puerto rican yelp
paddleboarding yelp
waterproofing yelp
fitness equipment yelp
exercise equipment yelp
comedy club schema
retirement home yelp
shutter yelp
auto dealer schema
mini golf yelp
art school yelp
adult education yelp
body contouring yelp
cosmetology school yelp
cantonese yelp
emergency schema
electronics store schema
insulation installation yelp
campground schema
photo booth rental yelp
cooking class yelp
tattoo removal yelp
criminal defense law yelp
advertising yelp
kebab yelp
uniform yelp
investment fund schema
psychiatric schema
live food yelp
raw food yelp
customized merchandise yelp
farm yelp
spiritual shop yelp
tenni yelp
motorcycle schema
film action schema
film action schema
vehicle wrap yelp
hunting supply yelp
fishing supply yelp
wig yelp
rv park schema
donair yelp
turkish yelp
whiskey bar yelp
music store schema
legal service schema
lebanese yelp
swimming lesson yelp
swimming school yelp
furniture store schema
peruvian yelp
appraisal service yelp
employment agency schema
screen printing yelp
indoor playcentre yelp
radiography schema
auto upholstery yelp
kickboxing yelp
metal fabricator yelp
ear nose& throat yelp
general litigation yelp
boat repair yelp
registration service yelp
brazilian yelp
middle school schema
middle school schema
taiwanese yelp
tabletop game yelp
print media yelp
cooking school yelp
pop- up restaurant yelp
smokehouse yelp
british yelp
hot pot yelp
embroidery yelp
crochet yelp
gymnastic yelp
park schema
hospital schema
videographer yelp
kosher diet schema
estate planning law yelp
tiki bar yelp
generator installation yelp
generator repair yelp
golf equipment yelp
orthotic yelp
bus trip schema
flea market yelp
dui law yelp
aquarium schema
pan asian yelp
colombian yelp
ethiopian yelp
horseback riding yelp
sauna yelp
allergist yelp
mountain schema
commercial truck repair yelp
patio covering yelp
tv mounting yelp
furniture assembly yelp
hydro- jetting yelp
empanada yelp
farming equipment yelp
golf course schema
food establishment schema
vocational school yelp
technical school yelp
neurologic schema
christmas tree yelp
house schema
boat trip schema
security service yelp
salvadoran yelp
business consulting yelp
perfume yelp
driving school vehicle usage schema
wholesale schema
botanical garden yelp
climbing yelp
cultural center yelp
hair loss center yelp
shared office space yelp
stucco service yelp
hat yelp
psychic yelp
alternative medicine yelp
firearm training yelp
sports team schema
auction house yelp
environmental testing yelp
rv park schema
popcorn shop yelp
tutoring center yelp
assisted living facility yelp
wearable size group maternity schema
business law yelp
special education yelp
axe throwing yelp
town car service yelp
cigar bar yelp
macaron yelp
furniture repair yelp
liquor store schema
sleep specialist yelp
sunglass yelp
zoo schema
auto security yelp
home network installation yelp
diving yelp
brewery schema
boat dealer yelp
cardiologist yelp
float schema
herbal shop yelp
environmental abatement yelp
challenge course yelp
bartender yelp
laser tag yelp
brazilian jiu- jitsu yelp
employment law yelp
hair salon schema
moroccan yelp
demolition service yelp
hostel schema
esthetician yelp
yelp event yelp
house schema
laotian yelp
venezuelan yelp
bus station schema
iv hydration yelp
piano bar yelp
acne treatment yelp
real estate law yelp
cafeteria yelp
brewery schema
tui na yelp
piano service yelp
brassery yelp
museum schema
fertility yelp
nursing schema
radio station schema
private tutor yelp
bankruptcy law yelp
blood donation center yelp
plasma donation center yelp
musician yelp
leisure center yelp
aquarium schema
officiant yelp
skate shop yelp
car inspector yelp
tasting class yelp
payroll service yelp
home staging yelp
afghan yelp
midwifery schema
book store schema
dominican yelp
polish yelp
dentist schema
pool yelp
billiard yelp
trailer repair yelp
aesthetician yelp
kombucha yelp
newspaper schema
newspaper schema
bus trip schema
foundation repair yelp
russian yelp
prosthodontist yelp
firewood yelp
grilling equipment yelp
luggage yelp
holiday decoration yelp
lighting store yelp
exercise gym schema
persian yelp
iranian yelp
vehicle shipping yelp
hypnosi yelp
hypnotherapy yelp
ski resort schema
ski resort schema
local fish store yelp
gastroenterologic schema
hospice yelp
day camp yelp
basque yelp
sugaring yelp
csa yelp
roofing contractor schema
farm equipment repair yelp
marina yelp
henna artist yelp
check cashing yelp
pay- day loan yelp
osteopathic schema
fire protection service yelp
livestoock feed yelp
livestock supply yelp
mobile dent repair yelp
trust yelp
excavation service yelp
will yelp
go kart yelp
teppanyaki yelp
pet transportation yelp
probate yelp
pet hospice yelp
pet cremation service yelp
olive oil yelp
paint- your- own pottery yelp
clothing store schema
estate liquidation yelp
travel agency schema
boudoir photography yelp
cryotherapy yelp
auto dealer schema
archery yelp
mongolian yelp
wedding chapel yelp
arabic yelp
race track yelp
audiologist yelp
music recording schema
music recording schema
train station schema
movie theater schema
rock climbing yelp
engraving yelp
career counseling yelp
police station schema
awning yelp
shoe shine yelp
workers compensation law yelp
argentine yelp
scuba diving yelp
dumpster rental yelp
jet ski yelp
strip club yelp
paintball yelp
psychiatric schema
portuguese yelp
health coach yelp
bistro yelp
prenatal care yelp
perinatal care yelp
test preparation yelp
ethnic grocery yelp
soccer yelp
shopping center schema
bike tour yelp
spine surgeon yelp
real estate photography yelp
balloon service yelp
urologic schema
wine tasting class yelp
pop- up shop yelp
television station schema
doula yelp
gemstone yelp
mineral yelp
knife sharpening yelp
auto dealer schema
speakeasy yelp
surfing yelp
delicatessen yelp
self- defense class yelp
malaysian yelp
lake body of water schema
personal assistant yelp
cremation service yelp
ticket schema
mobility equipment sale yelp
mobility equipment service yelp
water delivery yelp
pumpkin patch yelp
pole dancing class yelp
park schema
auto rental schema
horse boarding yelp
eatertainment yelp
psychic medium yelp
kitchen supply yelp
airport schema
bookkeeper yelp
cafe or coffee shop schema
lactation service yelp
fondue yelp
condominium yelp
champagne bar yelp
gunsmith yelp
high fidelity audio equipment yelp
hearing impaired supported schema
cpr class yelp
medical transportation yelp
surf shop yelp
cabaret yelp
magician yelp
pick your own farm yelp
poutinery yelp
bar crawl yelp
auto rental schema
auto rental schema
restaurant schema
cidery yelp
endocrinologist yelp
virtual reality center yelp
batting cage yelp
health retreat yelp
attraction farm yelp
medical cannabis referral yelp
clock repair yelp
shredding service yelp
architect yelp
artificial turf yelp
painting schema
honduran yelp
karate yelp
park schema
reproductive health service yelp
belgian yelp
medical law yelp
religious item yelp
indonesian yelp
halotherapy yelp
personal care service yelp
public market yelp
trophy shop yelp
childbirth education yelp
bird shop yelp
outdoor power equipment service yelp
drug schema
race yelp
competition yelp
shaved snow yelp
nursing schema
disc golf yelp
oncologist yelp
structural engineer yelp
pet photography yelp
basketball court yelp
himalayan yelp
nepalese yelp
house sitter yelp
dietitian yelp
memory care yelp
museum schema
muay thai yelp
pulmonologist yelp
colonic yelp
haitian yelp
public art yelp
child care schema
airport schema
massage school yelp
tai chi yelp
well drilling yelp
insurance agency schema
speech pathology schema
title loan yelp
immigration law yelp
car share service yelp
aerial fitnes yelp
music album production type schema
motorsport vehicle repair yelp
fingerprinting yelp
courthouse schema
powder coating yelp
cambodian yelp
party bike rental yelp
valet service yelp
art gallery schema
ukrainian yelp
flight schema
burmese yelp
store schema
honey yelp
motorcycle schema
skydiving yelp
wallpapering yelp
talent agency yelp

In [43]:
category_occurences

,category,occurences,split_category,SchemaType,tempcol_wiki_category_mapping
0,Restaurants,52268,Restaurant,Restaurant,Restaurant
1,Food,27781,Food,NaN,Food
2,Shopping,24395,Shopping,Retail,Retail
3,Home Services,14356,HomeService,Service,Service
4,Beauty & Spas,14292,Beauty,DaySpa,DaySpa
...,...,...,...,...,...
1422,Beach Bars,1,BeachBar,Beach,Beach
1423,DUI Schools,1,DuiSchool,NaN,DuiSchool
1424,Patent Law,1,PatentLaw,NaN,PatentLaw
1425,Housing Cooperatives,1,HousingCooperative,NaN,HousingCooperative
1426,Trade Fairs,1,TradeFair,NaN,TradeFair

In [38]:
category_occurences

,category,occurences,split_category,SchemaType,tempcol_wiki_category_mapping
0,Restaurants,52268,Restaurant,Restaurant,RestaurantHELLO
1,Food,27781,Food,NaN,FoodHELLO
2,Shopping,24395,Shopping,Retail,ShoppingHELLO
3,Home Services,14356,HomeService,Service,HomeServiceHELLO
4,Beauty & Spas,14292,Beauty,DaySpa,BeautyHELLO
...,...,...,...,...,...
1422,Beach Bars,1,BeachBar,Beach,BeachBarHELLO
1423,DUI Schools,1,DuiSchool,NaN,DuiSchoolHELLO
1424,Patent Law,1,PatentLaw,NaN,PatentLawHELLO
1425,Housing Cooperatives,1,HousingCooperative,NaN,HousingCooperativeHELLO
1426,Trade Fairs,1,TradeFair,NaN,TradeFairHELLO

In [24]:
class_mapping

            YelpCategory          SchemaType
0            Accountants   AccountingService
1     Addiction Medicine                Drug
2    Adult Entertainment  AdultEntertainment
3               Airlines             Airline
4        Airport Lounges             Airport
..                   ...                 ...
379            Wine Bars              Winery
380    Wine Tasting Room              Winery
381           Wine Tours              Winery
382             Wineries              Winery
383                 Zoos                 Zoo

[384 rows x 2 columns]

In [2]:
biz = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)

coordinates = (biz["longitude"].apply(round, args=(2,)).astype(str) + "," + biz["latitude"].apply(round, args=(2,)).astype(str)).unique()
coordinates

array(['-119.71,34.43', '-90.34,38.55', '-110.88,32.22', ...,
       '-90.05,30.02', '-90.23,38.66', '-75.41,40.2'], dtype=object)

In [3]:
coordinates[0:10]

array(['-119.71,34.43', '-90.34,38.55', '-110.88,32.22', '-75.16,39.96',
       '-75.47,40.34', '-87.06,36.27', '-90.34,38.63', '-82.73,27.77',
       '-90.32,38.57', '-86.77,36.21'], dtype=object)

In [4]:
coordinates[0:1][0]

'-119.71,34.43'

In [3]:
coordinates_df = pd.DataFrame(coordinates, columns=['coordinates']).head(40)

In [10]:
for i in coordinates_df.itertuples():
    if get_name_of_location_with_long_lat(i.coordinates) is None:
        print(i.coordinates, get_name_of_location_with_long_lat(i.coordinates))

In [8]:
df = pd.DataFrame(coordinates_df['coordinates'].apply(lambda x: [x] + list(get_name_of_location_with_long_lat(x))).tolist(), columns=['coordinates','mapped_qid', 'qid_label'])
df.to_csv(path_or_buf='/home/ubuntu/DVML-P7/Development/location_mappings.csv',index=False)

In [17]:
print(f"Number of unique qid's: {len(location_mappings.mapped_qid.unique())}\nNumber of unique city names: {len(location_mappings.qid_label.unique())}")

Number of unique qid's: 693
Number of unique city names: 684

In [58]:
location_mappings_df = pd.DataFrame(coordinates_df['coordinates'].apply(lambda x: [x] + list(get_name_of_location_with_long_lat(x))).tolist(), columns=['coordinates','city', 'cityLabel', 'county', 'countyLabel', 'state', 'stateLabel', 'country', 'countryLabel'])

In [7]:
get_name_of_location_with_long_lat(coordinates[0])

('Q159288',
 'Santa Barbara',
 'Q108106',
 'Santa Barbara County',
 'Q99',
 'California',
 'Q30',
 'United States of America')

In [10]:
longitude_and_latitude = coordinates[0]
query =f""" 
        SELECT DISTINCT ?distance ?city ?cityLabel WHERE {{

        # Use the around service
        SERVICE wikibase:around {{ 
            # Looking for items with coordinate locations(P625)
            ?city wdt:P625 ?location . 

            # That are in a circle with a centre of with a point
            bd:serviceParam wikibase:center "Point({longitude_and_latitude})"^^geo:wktLiteral   . 
            # Where the circle has a radius of 20km
            bd:serviceParam wikibase:radius "20" . 
            bd:serviceParam wikibase:distance ?distance .
        }} .

        {{?city wdt:P31/wdt:P279* wd:Q1093829.}} # Q1093829 = city in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q4946305.}} # Q4946305 = borough in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q515.}} # Q515 = city
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q15127012.}} # Q15127012 = town in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q498162.}} # Q498162 = census-designated place in the United States
        # Use the label service to get the English label
        SERVICE wikibase:label {{
        bd:serviceParam wikibase:language "en" . 
        }}
        }}
        ORDER BY ?distance
        LIMIT 1"""
a=wikidata_query(query)
a['city.value'][0][31:], a['cityLabel.value'][0]

('Q159288', 'Santa Barbara')

In [9]:
query2 = f"""SELECT ?city ?cityLabel ?population WHERE {{
    ?city p:P1082 ?statement .
        ?statement ps:P1082 ?population .
        ?statement pq:P585 ?date .
        FILTER NOT EXISTS {{
            ?city p:P1082/pq:P585 ?date2 .
            FILTER(?date2 > ?date)
        }}# Use the label service to get the English label
        SERVICE wikibase:label {{
        bd:serviceParam wikibase:language "en" . 
        }}
        }}
        ORDER BY ?distance
        LIMIT 1"""
wikidata_query(query2)

EndPointInternalError: EndPointInternalError: The endpoint returned the HTTP status code 500.

Response:
b'SPARQL-QUERY: queryStr=SELECT ?city ?cityLabel ?population WHERE {\n    ?city p:P1082 ?statement .\n        ?statement ps:P1082 ?population .\n        ?statement pq:P585 ?date .\n        FILTER NOT EXISTS {\n            ?city p:P1082/pq:P585 ?date2 .\n            FILTER(?date2 > ?date)\n        }# Use the label service to get the English label\n        SERVICE wikibase:label {\n        bd:serviceParam wikibase:language "en" . \n        }\n        }\n        ORDER BY ?distance\n        LIMIT 1\njava.util.concurrent.TimeoutException\n\tat java.util.concurrent.FutureTask.get(FutureTask.java:205)\n\tat com.bigdata.rdf.sail.webapp.BigdataServlet.submitApiTask(BigdataServlet.java:292)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doSparqlQuery(QueryServlet.java:678)\n\tat com.bigdata.rdf.sail.webapp.QueryServlet.doGet(QueryServlet.java:290)\n\tat com.bigdata.rdf.sail.webapp.RESTServlet.doGet(RESTServlet.java:240)\n\tat com.bigdata.rdf.sail.webapp.MultiTenancyServlet.doGet(MultiTenancyServlet.java:273)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:687)\n\tat javax.servlet.http.HttpServlet.service(HttpServlet.java:790)\n\tat org.eclipse.jetty.servlet.ServletHolder.handle(ServletHolder.java:865)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1655)\n\tat org.wikidata.query.rdf.blazegraph.throttling.ThrottlingFilter.doFilter(ThrottlingFilter.java:320)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.throttling.SystemOverloadFilter.doFilter(SystemOverloadFilter.java:82)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat ch.qos.logback.classic.helpers.MDCInsertingServletFilter.doFilter(MDCInsertingServletFilter.java:49)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.QueryEventSenderFilter.doFilter(QueryEventSenderFilter.java:116)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.ClientIPFilter.doFilter(ClientIPFilter.java:43)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.JWTIdentityFilter.doFilter(JWTIdentityFilter.java:66)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RealAgentFilter.doFilter(RealAgentFilter.java:33)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1642)\n\tat org.wikidata.query.rdf.blazegraph.filters.RequestConcurrencyFilter.doFilter(RequestConcurrencyFilter.java:50)\n\tat org.eclipse.jetty.servlet.ServletHandler$CachedChain.doFilter(ServletHandler.java:1634)\n\tat org.eclipse.jetty.servlet.ServletHandler.doHandle(ServletHandler.java:533)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:146)\n\tat org.eclipse.jetty.security.SecurityHandler.handle(SecurityHandler.java:548)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:257)\n\tat org.eclipse.jetty.server.session.SessionHandler.doHandle(SessionHandler.java:1595)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextHandle(ScopedHandler.java:255)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doHandle(ContextHandler.java:1340)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:203)\n\tat org.eclipse.jetty.servlet.ServletHandler.doScope(ServletHandler.java:473)\n\tat org.eclipse.jetty.server.session.SessionHandler.doScope(SessionHandler.java:1564)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.nextScope(ScopedHandler.java:201)\n\tat org.eclipse.jetty.server.handler.ContextHandler.doScope(ContextHandler.java:1242)\n\tat org.eclipse.jetty.server.handler.ScopedHandler.handle(ScopedHandler.java:144)\n\tat org.eclipse.jetty.server.handler.ContextHandlerCollection.handle(ContextHandlerCollection.java:220)\n\tat org.eclipse.jetty.server.handler.HandlerCollection.handle(HandlerCollection.java:126)\n\tat org.eclipse.jetty.server.handler.HandlerWrapper.handle(HandlerWrapper.java:132)\n\tat org.eclipse.jetty.server.Server.handle(Server.java:503)\n\tat org.eclipse.jetty.server.HttpChannel.handle(HttpChannel.java:364)\n\tat org.eclipse.jetty.server.HttpConnection.onFillable(HttpConnection.java:260)\n\tat org.eclipse.jetty.io.AbstractConnection$ReadCallback.succeeded(AbstractConnection.java:305)\n\tat org.eclipse.jetty.io.FillInterest.fillable(FillInterest.java:103)\n\tat org.eclipse.jetty.io.ChannelEndPoint$2.run(ChannelEndPoint.java:118)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.runTask(EatWhatYouKill.java:333)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.doProduce(EatWhatYouKill.java:310)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.tryProduce(EatWhatYouKill.java:168)\n\tat org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.run(EatWhatYouKill.java:126)\n\tat org.eclipse.jetty.util.thread.ReservedThreadExecutor$ReservedThread.run(ReservedThreadExecutor.java:366)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool.runJob(QueuedThreadPool.java:765)\n\tat org.eclipse.jetty.util.thread.QueuedThreadPool$2.run(QueuedThreadPool.java:683)\n\tat java.lang.Thread.run(Thread.java:750)\n'

In [ ]:
def get_name_of_location_with_long_lat(longitude_and_latitude: str) -> tuple[str, str]:
    try:
        query =f""" 
        SELECT DISTINCT ?distance ?city ?cityLabel ?population ?county ?countyLabel ?state ?stateLabel ?country ?countryLabel WHERE {{

        # Use the around service
        SERVICE wikibase:around {{ 
            # Looking for items with coordinate locations(P625)
            ?city wdt:P625 ?location . 

            # That are in a circle with a centre of with a point
            bd:serviceParam wikibase:center "Point({longitude_and_latitude})"^^geo:wktLiteral   . 
            # Where the circle has a radius of 20km
            bd:serviceParam wikibase:radius "20" . 
            bd:serviceParam wikibase:distance ?distance .
        }} .

        {{?city wdt:P31/wdt:P279* wd:Q1093829.}} # Q1093829 = city in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q4946305.}} # Q4946305 = borough in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q515.}} # Q515 = city
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q15127012.}} # Q15127012 = town in the United States
        UNION
        {{?city wdt:P31/wdt:P279* wd:Q498162.}} # Q498162 = census-designated place in the United States
        
        OPTIONAL {{ ?city wdt:P131 ?county . }}
        OPTIONAL {{ ?county wdt:P131 ?state . }}
        OPTIONAL {{ ?state wdt:P131 ?country . }}
        ?city p:P1082 ?statement .
        ?statement ps:P1082 ?population .
        ?statement pq:P585 ?date .
        FILTER NOT EXISTS {{
            ?city p:P1082/pq:P585 ?date2 .
            FILTER(?date2 > ?date)
        }}
        # Use the label service to get the English label
        SERVICE wikibase:label {{
        bd:serviceParam wikibase:language "en" . 
        }}
        }}
        ORDER BY ?distance
        LIMIT 1"""
        
        a = wikidata_query(query)
        return a['city.value'][0][31:], a['cityLabel.value'][0], a['population.value'][0], a['county.value'][0][31:], a['countyLabel.value'][0], a['state.value'][0][31:], a['stateLabel.value'][0], a['country.value'][0][31:], a['countryLabel.value'][0]
    except:
        return (None, None, None, None, None, None, None, None, None)

In [4]:
location_mappings_df = pd.DataFrame(columns=['coordinates','city', 'cityLabel', 'county', 'countyLabel', 'state', 'stateLabel', 'country', 'countryLabel'])
for i in coordinates_df.itertuples():
    location_mappings_df = pd.concat([location_mappings_df,pd.DataFrame([i.coordinates] + list(get_name_of_location_with_long_lat(i.coordinates)), index=location_mappings_df.columns).T], ignore_index=True)

In [5]:
location_mappings_df

,coordinates,city,cityLabel,county,countyLabel,state,stateLabel,country,countryLabel
0,"-119.71,34.43",Q159288,Santa Barbara,Q108106,Santa Barbara County,Q99,California,Q30,United States of America
1,"-90.34,38.55",Q966126,Grantwood Village,Q498034,St. Louis County,Q1581,Missouri,Q30,United States of America
2,"-110.88,32.22",Q18575,Tucson,Q58688,Pima County,Q816,Arizona,Q30,United States of America
3,"-75.16,39.96",None,None,None,None,None,None,None,None
4,"-75.47,40.34",Q1183476,Green Lane,Q378527,Montgomery County,Q1400,Pennsylvania,Q30,United States of America
5,"-87.06,36.27",Q616259,Ashland City,Q495072,Cheatham County,Q1509,Tennessee,Q30,United States of America
6,"-90.34,38.63",Q967881,Richmond Heights,Q498034,St. Louis County,Q1581,Missouri,Q30,United States of America
7,"-82.73,27.77",Q4876370,Bear Creek,Q494556,Pinellas County,Q812,Florida,Q30,United States of America
8,"-90.32,38.57",Q962845,Shrewsbury,Q498034,St. Louis County,Q1581,Missouri,Q30,United States of America
9,"-86.77,36.21",Q23197,Nashville,Q1177705,Davidson County,Q1509,Tennessee,Q30,United States of America
10,"-82.46,28.19",Q2375799,Land O' Lakes,Q500992,Pasco County,Q812,Florida,Q30,United States of America
11,"-82.46,27.96",Q49255,Tampa,Q488874,Hillsborough County,Q812,Florida,Q30,United States of America
12,"-86.13,39.64",None,None,None,None,None,None,None,None
13,"-82.79,27.97",Q244146,Clearwater,Q494556,Pinellas County,Q812,Florida,Q30,United States of America
14,"-82.76,27.92",Q932577,Largo,Q494556,Pinellas County,Q812,Florida,Q30,United States of America
15,"-75.14,39.95",None,None,None,None,None,None,None,None
16,"-110.97,32.23",Q79893,South Tucson,Q58688,Pima County,Q816,Arizona,Q30,United States of America
17,"-90.13,29.94",Q2498106,Jefferson,Q498276,Jefferson Parish,Q1588,Louisiana,Q30,United States of America
18,"-90.25,29.98",Q991464,Kenner,Q498276,Jefferson Parish,Q1588,Louisiana,Q30,United States of America
19,"-75.16,39.94",None,None,None,None,None,None,None,None
20,"-113.5,53.55",None,None,None,None,None,None,None,None
21,"-86.11,39.91",None,None,None,None,None,None,None,None
22,"-86.05,39.9",None,None,None,None,None,None,None,None
23,"-119.79,39.48",Q49225,Reno,Q484340,Washoe County,Q1227,Nevada,Q30,United States of America
24,"-86.72,36.25",None,None,None,None,None,None,None,None
25,"-74.99,40.27",None,None,None,None,None,None,None,None
26,"-119.7,34.42",Q159288,Santa Barbara,Q108106,Santa Barbara County,Q99,California,Q30,United States of America
27,"-86.77,36.16",Q23197,Nashville,Q1177705,Davidson County,Q1509,Tennessee,Q30,United States of America
28,"-86.66,36.46",None,None,None,None,None,None,None,None
29,"-116.29,43.62",Q1516892,Garden City,Q109820,Ada County,Q1221,Idaho,Q30,United States of America
30,"-75.22,40.02",None,None,None,None,None,None,None,None
31,"-75.48,40.04",Q1021562,Paoli,Q27840,Chester County,Q1400,Pennsylvania,Q30,United States of America
32,"-75.29,40.01",Q1132213,Ardmore,Q27844,Delaware County,Q1400,Pennsylvania,Q30,United States of America
33,"-90.06,29.95",Q34404,New Orleans,Q486231,Orleans Parish,Q1588,Louisiana,Q30,United States of America
34,"-75.14,39.96",None,None,None,None,None,None,None,None
35,"-75.63,40.03",Q1016263,Exton,Q7986999,West Whiteland Township,Q27840,Chester County,Q1400,Pennsylvania
36,"-75.55,39.82",None,None,None,None,None,None,None,None
37,"-89.95,38.8",Q577939,Edwardsville,Q486448,Madison County,Q1204,Illinois,Q30,United States of America
38,"-119.75,39.54",None,None,None,None,None,None,None,None
39,"-86.25,39.79",None,None,None,None,None,None,None,None

In [67]:
location_mappings = pd.read_csv(get_path("location_mappings.csv"))
location_mappings

         coordinates      city          cityLabel
0      -119.71,34.43   Q159288      Santa Barbara
1       -90.34,38.55   Q966126  Grantwood Village
2      -110.88,32.22    Q18575             Tucson
3       -75.16,39.96     Q1345       Philadelphia
4       -75.47,40.34  Q1183476         Green Lane
...              ...       ...                ...
11410   -82.68,27.87  Q2151669      Pinellas Park
11411   -119.8,39.32  Q7972623      Washoe Valley
11412   -90.05,30.02    Q34404        New Orleans
11413   -90.23,38.66    Q38022          St. Louis
11414    -75.41,40.2  Q1132200          Evansburg

[11415 rows x 3 columns]

In [3]:
len(location_mappings['city'].unique()), len(location_mappings['cityLabel'].unique())

(693, 684)

In [40]:
USA_Cities = pd.read_csv(get_path("USA_Cities.csv"))
USA_Counties = pd.read_csv(get_path("USA_Counties.csv"))
USA_States = pd.read_csv(get_path("USA_States.csv"))
Canada_Cities = pd.read_csv(get_path("Canada_Cities.csv"))
Canada_States = pd.read_csv(get_path("Canada_States.csv"))

In [41]:
USA_Cities.sort_values(by=['city_iri'])

,city_iri,city,county_iri,population
14443,http://www.wikidata.org/entity/Q100,Boston,http://www.wikidata.org/entity/Q54072,675647
5473,http://www.wikidata.org/entity/Q1000030,Orange City,http://www.wikidata.org/entity/Q486118,6267
5489,http://www.wikidata.org/entity/Q1000065,Neosho,http://www.wikidata.org/entity/Q489891,12590
5450,http://www.wikidata.org/entity/Q1000082,Hampton,http://www.wikidata.org/entity/Q111694,744
5466,http://www.wikidata.org/entity/Q1000105,Chatham,http://www.wikidata.org/entity/Q115200,1529
...,...,...,...,...
5475,http://www.wikidata.org/entity/Q998914,Alva,http://www.wikidata.org/entity/Q489468,5028
5476,http://www.wikidata.org/entity/Q999293,Hewitt,http://www.wikidata.org/entity/Q111368,16026
5464,http://www.wikidata.org/entity/Q999465,Mexico Beach,http://www.wikidata.org/entity/Q488865,916
5503,http://www.wikidata.org/entity/Q999905,Buellton,http://www.wikidata.org/entity/Q108106,5161
5468,http://www.wikidata.org/entity/Q999955,Goldendale,http://www.wikidata.org/entity/Q820502,3453

In [42]:
USA_Cities.sort_values(by=['city_iri'])

,city_iri,city,county_iri,population
14443,http://www.wikidata.org/entity/Q100,Boston,http://www.wikidata.org/entity/Q54072,675647
5473,http://www.wikidata.org/entity/Q1000030,Orange City,http://www.wikidata.org/entity/Q486118,6267
5489,http://www.wikidata.org/entity/Q1000065,Neosho,http://www.wikidata.org/entity/Q489891,12590
5450,http://www.wikidata.org/entity/Q1000082,Hampton,http://www.wikidata.org/entity/Q111694,744
5466,http://www.wikidata.org/entity/Q1000105,Chatham,http://www.wikidata.org/entity/Q115200,1529
...,...,...,...,...
5475,http://www.wikidata.org/entity/Q998914,Alva,http://www.wikidata.org/entity/Q489468,5028
5476,http://www.wikidata.org/entity/Q999293,Hewitt,http://www.wikidata.org/entity/Q111368,16026
5464,http://www.wikidata.org/entity/Q999465,Mexico Beach,http://www.wikidata.org/entity/Q488865,916
5503,http://www.wikidata.org/entity/Q999905,Buellton,http://www.wikidata.org/entity/Q108106,5161
5468,http://www.wikidata.org/entity/Q999955,Goldendale,http://www.wikidata.org/entity/Q820502,3453

In [43]:
USA_Cities['city_iri'] = USA_Cities['city_iri'].apply(lambda x: x.split('/')[-1])
USA_Cities['county_iri'] = USA_Cities['county_iri'].apply(lambda x: x.split('/')[-1] if type(x) == str else x)

In [44]:
USA_Counties['county_iri'] = USA_Counties['county_iri'].apply(lambda x: x.split('/')[-1])
USA_Counties['state_iri'] = USA_Counties['state_iri'].apply(lambda x: x.split('/')[-1])

In [45]:
USA_States['state_iri'] = USA_States['state_iri'].apply(lambda x: x.split('/')[-1])
USA_States['country_iri'] = USA_States['country_iri'].apply(lambda x: x.split('/')[-1])

In [46]:
Canada_Cities['city_iri'] = Canada_Cities['city_iri'].apply(lambda x: x.split('/')[-1])
Canada_Cities['state_iri'] = Canada_Cities['state_iri'].apply(lambda x: x.split('/')[-1])

In [47]:
Canada_States['state_iri'] = Canada_States['state_iri'].apply(lambda x: x.split('/')[-1])
Canada_States['country_iri'] = Canada_States['country_iri'].apply(lambda x: x.split('/')[-1])

In [48]:
Canada_Cities

   city_iri           city state_iri  population
0     Q2096       Edmonton     Q1951     1010899
1  Q3476253  Sherwood Park  Q1768240       68782
2   Q939127     St. Albert     Q1951       68232
3   Q253903       Beaumont     Q1951       20888

In [49]:
Canada_States

  state_iri                      state country_iri
0     Q1952                Nova Scotia         Q16
1     Q1978       Prince Edward Island         Q16
2     Q1989               Saskatchewan         Q16
3     Q2003  Newfoundland and Labrador         Q16
4     Q1904                    Ontario         Q16
5     Q1948                   Manitoba         Q16
6     Q1965              New Brunswick         Q16
7      Q176                     Quebec         Q16
8     Q1973           British Columbia         Q16
9     Q1951                    Alberta         Q16

In [50]:
Canada = Canada_Cities.merge(Canada_States, left_on='state_iri', right_on='state_iri', how='left')
Canada

   city_iri           city state_iri  population    state country_iri
0     Q2096       Edmonton     Q1951     1010899  Alberta         Q16
1  Q3476253  Sherwood Park  Q1768240       68782      NaN         NaN
2   Q939127     St. Albert     Q1951       68232  Alberta         Q16
3   Q253903       Beaumont     Q1951       20888  Alberta         Q16

In [51]:
USA_Cities[USA_Cities['city_iri'] == 'Q38022']

      city_iri       city county_iri  population
14447   Q38022  St. Louis      Q1581      301578

In [52]:
USA = USA_Cities.merge(USA_Counties, left_on='county_iri', right_on='county_iri', how='left').merge(USA_States, left_on='state_iri', right_on='state_iri', how='left')

In [53]:
USA_Cities.sort_values(by='city_iri', ascending=False)

       city_iri          city county_iri  population
5468    Q999955    Goldendale    Q820502        3453
5503    Q999905      Buellton    Q108106        5161
5464    Q999465  Mexico Beach    Q488865         916
5476    Q999293        Hewitt    Q111368       16026
5475    Q998914          Alva    Q489468        5028
...         ...           ...        ...         ...
5466   Q1000105       Chatham    Q115200        1529
5450   Q1000082       Hampton    Q111694         744
5489   Q1000065        Neosho    Q489891       12590
5473   Q1000030   Orange City    Q486118        6267
14443      Q100        Boston     Q54072      675647

[14689 rows x 4 columns]

In [54]:
USA.sort_values(by=['city_iri'])

,city_iri,city,county_iri,population,county,state_iri,state,country_iri
14452,Q100,Boston,Q54072,675647,Suffolk County,Q771,Massachusetts,Q30
5475,Q1000030,Orange City,Q486118,6267,Sioux County,Q1546,Iowa,Q30
5491,Q1000065,Neosho,Q489891,12590,Newton County,Q1581,Missouri,Q30
5452,Q1000082,Hampton,Q111694,744,Dakota County,Q1527,Minnesota,Q30
5468,Q1000105,Chatham,Q115200,1529,Columbia County,Q1384,New York,Q30
...,...,...,...,...,...,...,...,...
5477,Q998914,Alva,Q489468,5028,Woods County,Q1649,Oklahoma,Q30
5478,Q999293,Hewitt,Q111368,16026,McLennan County,Q1439,Texas,Q30
5466,Q999465,Mexico Beach,Q488865,916,Bay County,Q812,Florida,Q30
5505,Q999905,Buellton,Q108106,5161,Santa Barbara County,Q99,California,Q30
5470,Q999955,Goldendale,Q820502,3453,Klickitat County,Q1223,Washington,Q30

In [55]:
USA_Canada = pd.concat([USA, Canada], ignore_index=True)

In [56]:
location_mappings[location_mappings['cityLabel'] == 'St. Louis']['coordinates'].value_counts()

-90.21,38.62    1
-90.21,38.6     1
-90.18,38.6     1
-90.24,38.63    1
-90.21,38.61    1
-90.25,38.59    1
-90.22,38.6     1
-90.24,38.65    1
-90.23,38.58    1
-90.18,38.62    1
-90.24,38.62    1
-90.25,38.61    1
-90.19,38.65    1
-90.19,38.64    1
-90.25,38.62    1
-90.23,38.62    1
-90.23,38.6     1
-90.21,38.65    1
-90.21,38.64    1
-90.19,38.57    1
-90.22,38.66    1
-90.2,38.6      1
-90.23,38.65    1
-90.2,38.57     1
-90.21,38.59    1
-90.18,38.64    1
-90.22,38.65    1
-90.23,38.63    1
-90.23,38.61    1
-90.18,38.63    1
-90.23,38.64    1
-90.22,38.61    1
-90.25,38.64    1
-90.19,38.62    1
-90.23,38.59    1
-90.2,38.64     1
-90.22,38.63    1
-90.24,38.6     1
-90.24,38.61    1
-90.26,38.62    1
-90.19,38.63    1
-90.26,38.63    1
-90.24,38.64    1
-90.24,38.59    1
-90.22,38.64    1
-90.25,38.63    1
-90.2,38.61     1
-90.22,38.62    1
-90.21,38.63    1
-90.19,38.61    1
-90.2,38.62     1
-90.22,38.59    1
-90.2,38.65     1
-90.2,38.63     1
-90.25,38.6     1
-90.23,38.66    1
Name: coordinates, dtype: int64

In [57]:
USA_Canada

,city_iri,city,county_iri,population,county,state_iri,state,country_iri
0,Q79252,Phenix City,Q501055,38816,Lee County,Q173,Alabama,Q30
1,Q79252,Phenix City,Q503329,38816,Russell County,Q173,Alabama,Q30
2,Q79276,Lamar,Q61048,1719,Johnson County,Q1612,Arkansas,Q30
3,Q79227,Bethel Heights,Q61020,3015,Benton County,Q1612,Arkansas,Q30
4,Q79286,Monette,Q61354,1506,Craighead County,Q1612,Arkansas,Q30
...,...,...,...,...,...,...,...,...
14708,Q52474,Layton,Q26631,81773,Davis County,Q829,Utah,Q30
14709,Q2096,Edmonton,NaN,1010899,NaN,Q1951,Alberta,Q16
14710,Q3476253,Sherwood Park,NaN,68782,NaN,Q1768240,NaN,NaN
14711,Q939127,St. Albert,NaN,68232,NaN,Q1951,Alberta,Q16
14712,Q253903,Beaumont,NaN,20888,NaN,Q1951,Alberta,Q16

In [58]:
location_mappings.rename(columns={'city':'city_iri'}, inplace=True)

In [59]:
USA_Canada.sort_values(by=['city_iri'])

,city_iri,city,county_iri,population,county,state_iri,state,country_iri
14452,Q100,Boston,Q54072,675647,Suffolk County,Q771,Massachusetts,Q30
5475,Q1000030,Orange City,Q486118,6267,Sioux County,Q1546,Iowa,Q30
5491,Q1000065,Neosho,Q489891,12590,Newton County,Q1581,Missouri,Q30
5452,Q1000082,Hampton,Q111694,744,Dakota County,Q1527,Minnesota,Q30
5468,Q1000105,Chatham,Q115200,1529,Columbia County,Q1384,New York,Q30
...,...,...,...,...,...,...,...,...
5477,Q998914,Alva,Q489468,5028,Woods County,Q1649,Oklahoma,Q30
5478,Q999293,Hewitt,Q111368,16026,McLennan County,Q1439,Texas,Q30
5466,Q999465,Mexico Beach,Q488865,916,Bay County,Q812,Florida,Q30
5505,Q999905,Buellton,Q108106,5161,Santa Barbara County,Q99,California,Q30
5470,Q999955,Goldendale,Q820502,3453,Klickitat County,Q1223,Washington,Q30

In [60]:
df = location_mappings.merge(USA_Canada, left_on='city_iri', right_on='city_iri', how='left')

In [66]:
df.sort_values(by=['coordinates'])

,coordinates,city_iri,cityLabel,city,county_iri,population,county,state_iri,state,country_iri
10078,"-110.63,32.06",Q5903247,Rincon Valley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4891,"-110.66,32.01",Q1560792,Vail,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9022,"-110.66,32.09",Q5903247,Rincon Valley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10793,"-110.66,32.25",Q1862070,Tanque Verde,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11378,"-110.67,32.08",Q5903247,Rincon Valley,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
4494,"-90.55,38.66",Q959443,Chesterfield,Chesterfield,Q498034,49999.0,St. Louis County,Q1581,Missouri,Q30
3596,"-90.55,38.75",Q773432,St. Charles,St. Charles,Q489873,70493.0,St. Charles County,Q1581,Missouri,Q30
5074,"-90.55,38.76",Q773432,St. Charles,St. Charles,Q489873,70493.0,St. Charles County,Q1581,Missouri,Q30
9986,"-90.55,38.79",Q773432,St. Charles,St. Charles,Q489873,70493.0,St. Charles County,Q1581,Missouri,Q30
9275,"-92.46,43.99",Q486479,Rochester,Rochester,Q485656,121395.0,Olmsted County,Q1527,Minnesota,Q30

In [63]:
print(len(df['coordinates'].unique()), 
      len(df['city_iri'].unique()), 
      len(df['cityLabel'].unique()), 
      len(df['city'].unique()), 
      len(df['county_iri'].unique()), 
      len(df['population'].unique()), 
      len(df['county'].unique()), 
      len(df['state_iri'].unique()), 
      len(df['state'].unique()), 
      len(df['country_iri'].unique()))

11415 693 684 175 44 177 35 15 15 3

In [ ]:
USA_Cities.loc[USA_Cities['city_iri'].str.contains('Q966126')]

Empty DataFrame
Columns: [city_iri, city, county_iri, population]
Index: []

In [ ]:
USA_Canada.loc[USA_Canada['county_iri'] == 'Q1581']

,city_iri,city,county_iri,population,county,state_iri,state,country_iri
4061,Q317865,Joplin,Q1581,51762,NaN,NaN,NaN,NaN
4062,Q317865,Joplin,Q1581,51762,NaN,NaN,NaN,NaN
4063,Q317865,Joplin,Q1581,51762,NaN,NaN,NaN,NaN
4064,Q317865,Joplin,Q1581,51762,NaN,NaN,NaN,NaN
6331,Q267220,Republic,Q1581,18750,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
68450,Q107260832,"Briarwood Estates, Missouri",Q1581,347,NaN,NaN,NaN,NaN
68451,Q107260850,"Lake Arrowhead, Missouri",Q1581,363,NaN,NaN,NaN,NaN
68455,Q107313405,"Shakertowne, Missouri",Q1581,625,NaN,NaN,NaN,NaN
68456,Q107313429,"Lake Timberline, Missouri",Q1581,726,NaN,NaN,NaN,NaN
68457,Q107313442,"Goose Creek Lake, Missouri",Q1581,524,NaN,NaN,NaN,NaN