In [6]:
from rdflib import Namespace, Graph, URIRef, Literal, BNode
from rdflib.namespace import RDFS
from Code.UtilityFunctions.run_query import run_query
import pandas as pd

In [4]:
print(RDFS.Class)

http://www.w3.org/2000/01/rdf-schema#Class

In [2]:
import json

In [29]:
s = '{u"valet": false, u"garage": null, u"street": true, u"lot": false, u"validated": null}'
s = s.replace("'", '"').lower().replace("none", "null").replace('u"', '"')

In [30]:
s

'{"valet": false, "garage": null, "street": true, "lot": false, "validated": null}'

In [31]:
json.loads(s)

{'valet': False,
 'garage': None,
 'street': True,
 'lot': False,
 'validated': None}

In [22]:
sparql_query = """
SELECT DISTINCT ?o
WHERE {
    ?s schema:aggregateRating ?o .
    ?s rdfs:Class schema:LocalBusiness .
}
"""

run_query(sparql_query, as_dataframe=True)

  o.value
0     3.5

In [23]:
sparql_query = """
SELECT DISTINCT ?o
FROM <http://www.yelpkg.com/yelp_kg>
WHERE {
  ?s ?p ?o .
}
LIMIT 100
"""

run_query(sparql_query, as_dataframe=True)

                                o.value
0    https://schema.org/MedicalBusiness
1   https://schema.org/MedicalSpecialty
2       https://schema.org/PhysicalExam
3              https://schema.org/Place
4   https://schema.org/FinancialService
..                                  ...
95                                 skin
96                            preschool
97                              archery
98                            blindness
99                                 blue

[100 rows x 1 columns]