In [17]:
from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.schema_functions import get_schema_predicate, get_schema_type
import pandas as pd

In [25]:
checkins = pd.read_json(get_path("yelp_academic_dataset_checkin.json"), lines=True)
checkins['date'] = checkins['date'].str.split(', ', expand=False)
checkins

                   business_id                                               date
0       ---kPU91CF4Lq2-WlRu9Lw  [2020-03-13 21:10:56, 2020-06-02 22:18:06, 202...
1       --0iUa4sNDFiZFrAdIWhZQ  [2010-09-13 21:43:09, 2011-05-04 23:08:15, 201...
2       --30_8IhuyMHbSOcNWd6DQ         [2013-06-14 23:29:17, 2014-08-13 23:20:22]
3       --7PUidqRWpRSpXebiyxTg  [2011-02-15 17:12:00, 2011-07-28 02:46:10, 201...
4       --7jw19RH9JKXgFohspgQw  [2014-04-21 20:42:11, 2014-04-28 21:04:46, 201...
...                        ...                                                ...
131925  zznJox6-nmXlGYNWgTDwQQ  [2013-03-23 16:22:47, 2013-04-07 02:03:12, 201...
131926  zznZqH9CiAznbkV6fXyHWA                              [2021-06-12 01:16:12]
131927  zzu6_r3DxBJuXcjnOYVdTw  [2011-05-24 01:35:13, 2012-01-01 23:44:33, 201...
131928  zzw66H6hVjXQEt0Js3Mo4A         [2016-12-03 23:33:26, 2018-12-02 19:08:45]
131929  zzyx5x0Z7xXWWvWnZFuxlQ                              [2015-01-06 17:51:53]

[131930 rows x 2 columns]

In [26]:
checkins['date'] = checkins['date'].apply(lambda x: x == [])

In [29]:
checkins[checkins['date'] == True]

Empty DataFrame
Columns: [business_id, date]
Index: []

In [30]:
[] == []

True

In [2]:
x = eval("True")
x, type(x)

(True, bool)

In [2]:
from Code.UtilityFunctions.run_query import run_query
query = """
SELECT DISTINCT(?p)
WHERE {
    ?s ?p ?o .
    FILTER regex(?p, "^https://schema.org/")
}
"""

run_query(query, as_dataframe=True)

                               p.value
0           https://schema.org/address
1          https://schema.org/category
2          https://schema.org/latitude
3          https://schema.org/location
4         https://schema.org/longitude
5      https://schema.org/publicAccess
6       https://schema.org/reviewCount
7               https://schema.org/url
8   https://schema.org/aggregateRating
9         https://schema.org/legalName
10       https://schema.org/postalCode
11      https://schema.org/checkinTime
12            https://schema.org/about
13           https://schema.org/author
14      https://schema.org/dateCreated
15      https://schema.org/description
16            https://schema.org/knows

In [3]:
int('f1')

ValueError: invalid literal for int() with base 10: 'f1'

In [9]:
s = "f0"

float(s)

ValueError: could not convert string to float: 'f0'

In [14]:
s = "f9"

float(s)

ValueError: could not convert string to float: 'f9'

In [15]:
"1".isdigit()

True