In [12]:
import pandas as pd
import numpy as np

from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.dictionary_functions import flatten_dictionary
from Code.UtilityFunctions.run_query import run_query

In [34]:
business = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)
business['categories'] = business['categories'].str.split(', ', expand=False)

#users = pd.read_json(get_path("yelp_academic_dataset_user.json"), lines=True)
#reviews = pd.read_json(get_path("yelp_academic_dataset_review.json"), lines=True)
checkins = pd.read_json(get_path("yelp_academic_dataset_checkin.json"), lines=True)
checkins['date'] = checkins['date'].str.split(', ', expand=False)

tips = pd.read_json(get_path("yelp_academic_dataset_tip.json"), lines=True)

In [36]:
business

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"[Doctors, Traditional Chinese Medicine, Naturo...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"[Shipping Centers, Local Services, Notaries, M...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","[Department Stores, Shopping, Fashion, Home & ...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","[Brewpubs, Breweries, Food]","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","[Nail Salons, Beauty & Spas]","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","[Pets, Nurseries & Gardening, Pet Stores, Hobb...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","[Shopping, Jewelry, Piercing, Toy Stores, Beau...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","[Fitness/Exercise Equipment, Eyewear & Opticia...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","[Beauty & Spas, Permanent Makeup, Piercing, Ta...","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [37]:
checkins

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"[2020-03-13 21:10:56, 2020-06-02 22:18:06, 202..."
1,--0iUa4sNDFiZFrAdIWhZQ,"[2010-09-13 21:43:09, 2011-05-04 23:08:15, 201..."
2,--30_8IhuyMHbSOcNWd6DQ,"[2013-06-14 23:29:17, 2014-08-13 23:20:22]"
3,--7PUidqRWpRSpXebiyxTg,"[2011-02-15 17:12:00, 2011-07-28 02:46:10, 201..."
4,--7jw19RH9JKXgFohspgQw,"[2014-04-21 20:42:11, 2014-04-28 21:04:46, 201..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"[2013-03-23 16:22:47, 2013-04-07 02:03:12, 201..."
131926,zznZqH9CiAznbkV6fXyHWA,[2021-06-12 01:16:12]
131927,zzu6_r3DxBJuXcjnOYVdTw,"[2011-05-24 01:35:13, 2012-01-01 23:44:33, 201..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"[2016-12-03 23:33:26, 2018-12-02 19:08:45]"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,[2015-01-06 17:51:53]

 How many different types of businesses are defined in Yelp?

In [14]:
sparql_query = """

SELECT COUNT(DISTINCT(?category))
WHERE {
    ?business schema:category ?category .
}

"""

run_query(query=sparql_query, as_dataframe=True)

HTTPError: HTTP Error 403: Forbidden

In [3]:
unique_categories = {category for sublist in business['categories'] if sublist for category in sublist}
len(unique_categories)

1311

How many businesses of type "Restaurants" exist?

In [ ]:
sparql_query = """

SELECT COUNT(?business)
WHERE {
    ?business schema:category category_uri:Restaurants .
}

"""

run_query(query=sparql_query, as_dataframe=True)

In [10]:
# TO DO Python
# def str_split(string):
#     if isinstance(string, str):
#         return string.split(", ")
#     else:
#         return string
#
#
# business["categories"] = business["categories"].apply(str_split)
#
# category_biz_count = {}
# for i in range(len(business)):
#     if business["categories"][i]:
#         for category in business["categories"][i]:
#             category_biz_count[category] = category_biz_count.get(category, 0) + 1
#
# category_biz_count["Restaurants"]

counter = 0
for row in business['categories']:
    if row is not None and "Restaurants" in row:
        counter += 1
counter

52268

How many businesses of type Restaurants have been reviwed?

In [ ]:
sparql_query = """

SELECT COUNT(DISTINCT(?business))
WHERE {
    ?business schema:category category_uri:Restaurants .
    ?review schema:about ?business .
}

"""

run_query(query=sparql_query, as_dataframe=True)

52268

How many businesses have been reviewed?

In [8]:
sparql_query = """

SELECT COUNT(?business)
WHERE {
    ?review schema:about ?business .
    ?business schema:category ?category .
    ?category rdfs:subClassOf schema:LocalBusiness .
}

"""

run_query(query=sparql_query, as_dataframe=True)

URLError: <urlopen error [Errno 111] Connection refused>

In [ ]:
reviews['business_id'].unique.count()

How many businesses have, on average, a rating of 4.5?

In [148]:
sparql_query = """
SELECT COUNT(?business)
WHERE {
    ?business schema:category ?category .
    ?business schema:aggregateRating ?rating .
    FILTER (?rating == 4.5)
}

"""

run_query(query=sparql_query, as_dataframe=True)

,business.type,business.value,rating.type,rating.datatype,rating.value,callret-2.type,callret-2.value
0,uri,https://example.org/business_id/-a7VXX0-V9LgWMFrq90iNA,typed-literal,http://www.w3.org/2001/XMLSchema#float,3.5,literal,3.5
1,uri,https://example.org/business_id/0UqeZTDBdV0uY3wesbLvYQ,typed-literal,http://www.w3.org/2001/XMLSchema#float,4.0,literal,4
2,uri,https://example.org/business_id/1jx1sfgjgVg0nM6n3p0xWA,typed-literal,http://www.w3.org/2001/XMLSchema#float,4.5,literal,4.5
3,uri,https://example.org/business_id/2MAQeAqmD8enCT2ZYqUgIQ,typed-literal,http://www.w3.org/2001/XMLSchema#float,4.0,literal,4
4,uri,https://example.org/business_id/2O2K6SXPWv56amqxCECd4w,typed-literal,http://www.w3.org/2001/XMLSchema#float,4.5,literal,4.5
5,uri,https://example.org/business_id/5Z8iBpJMmOMz6G_7oVnzRA,typed-literal,http://www.w3.org/2001/XMLSchema#float,2.5,literal,2.5
6,uri,https://example.org/business_id/7omkeqEv-kKMIn9kmOR6Lw,typed-literal,http://www.w3.org/2001/XMLSchema#float,5.0,literal,5
7,uri,https://example.org/business_id/7xc84taj12pt-RtZhAfSkQ,typed-literal,http://www.w3.org/2001/XMLSchema#float,5.0,literal,5
8,uri,https://example.org/business_id/8n93L-ilMAsvwUatarykSg,typed-literal,http://www.w3.org/2001/XMLSchema#float,3.0,literal,3
9,uri,https://example.org/business_id/9RGR4_r4PJLTooNmscUE_A,typed-literal,http://www.w3.org/2001/XMLSchema#float,4.0,literal,4

In [19]:
sparql_query = """

select ?x, (str(?x) as ?sx) {
  values ?x { 
    "1.11111"^^xsd:decimal
    "1.11115"^^xsd:decimal
    "1.11119"^^xsd:decimal
  }
}

"""

run_query(query=sparql_query, as_dataframe=True)

   x.value sx.value
0  1.11111  1.11111
1  1.11115  1.11115
2  1.11119  1.11119

In [24]:
sparql_query = """

SELECT ?rating
FROM <http://www.yelpkg.com/business>
WHERE {
    ?business rdfs:Class schema:LocalBusiness .
    ?business schema:starRating ?rating .
    FILTER (?rating > 0 && ?rating <= 5)
}
GROUP BY xsd:decimal(?rating)
ORDER BY ?rating
LIMIT 10

"""

run_query(query=sparql_query, as_dataframe=True)

QueryBadFormed: QueryBadFormed: A bad request has been sent to the endpoint: probably the SPARQL query is badly formed.

Response:
b'Virtuoso 37000 Error SP031: SPARQL compiler: The XPATH function http://www.w3.org/2001/XMLSchema#decimal() can handle only 1 arguments but the call provides 2\n\nSPARQL query:\ndefine sql:big-data-const 0\n#output-format:application/sparql-results+json\n\n    PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#> \n    PREFIX schema: <https://schema.org/> \n    PREFIX xsd: <http://www.w3.org/2001/XMLSchema#> \n    \n\nSELECT ?rating\nFROM <http://www.yelpkg.com/business>\nWHERE {\n    ?business rdfs:Class schema:LocalBusiness .\n    ?business schema:starRating ?rating .\n    FILTER (?rating > 0 && ?rating <= 5)\n}\nGROUP BY xsd:decimal(?rating, 2)\nORDER BY ?rating\nLIMIT 10\n\n'

In [47]:
business.groupby('stars')['stars'].count()

stars
1.0     1986
1.5     4932
2.0     9527
2.5    14316
3.0    18453
3.5    26519
4.0    31125
4.5    27181
5.0    16307
Name: stars, dtype: int64

What is the average rating across businesses?

In [11]:
sparql_query = """
SELECT AVG(?rating) as ?averagerating
WHERE {
    ?business schema:category ?category .
    ?business schema:aggregateRating ?rating .
}

"""

run_query(query=sparql_query, as_dataframe=True)

,averagerating.type,averagerating.datatype,averagerating.value
0,typed-literal,http://www.w3.org/2001/XMLSchema#decimal,3.59672355766033

In [12]:
business['stars'].mean()

3.5967235576603303

How many businesses have been reviewed in New York, NY?

In [129]:
sparql_query = """
SELECT ?state ?city COUNT(?business) AS ?count_business
WHERE {
    ?business schema:category ?category .
    ?business schema:addressRegion ?state .
    ?business schema:location ?city .
    FILTER(?city = "New York")
}
GROUP BY ?state ?city
ORDER BY DESC(?count_business)
LIMIT 10

"""

run_query(query=sparql_query, as_dataframe=True)[["state.value", "city.value", "count_business.value"]]

  state.value     city.value count_business.value
0          PA   Philadelphia                14567
1          AZ         Tucson                 9249
2          FL          Tampa                 9048
3          IN   Indianapolis                 7540
4          TN      Nashville                 6968
5          LA    New Orleans                 6208
6          NV           Reno                 5932
7          AB       Edmonton                 5054
8          MO    Saint Louis                 4827
9          CA  Santa Barbara                 3829

In [15]:
business.groupby(["state", "city"])["business_id"].count().sort_values(ascending=False)[0:10]

state  city
PA     Philadelphia     14567
AZ     Tucson            9249
FL     Tampa             9048
IN     Indianapolis      7540
TN     Nashville         6968
LA     New Orleans       6208
NV     Reno              5932
AB     Edmonton          5054
MO     Saint Louis       4827
CA     Santa Barbara     3829
Name: business_id, dtype: int64

During which hours of Monday is business X most visited? TO DO

In [ ]:
sparql_query = """
SELECT ?business
WHERE {
    ?business schema:category ?category .
    ?business schema:checkinTime ?visits .
    ???????????????????????
}
GROUP BY ?business
ORDER BY DESC(?visits)
LIMIT 10

"""

Which are the top 10 most visisted businesses?

In [ ]:
sparql_query = """
SELECT ?business COUNT(?visits)
WHERE {
    ?business schema:category ?category .
    ?business schema:checkinTime ?visits .
}
GROUP BY ?business
ORDER BY DESC(?visits)
LIMIT 10

"""

run_query(query=sparql_query, as_dataframe=True)

In [53]:
checkins

,business_id,date
0,---kPU91CF4Lq2-WlRu9Lw,"[2020-03-13 21:10:56, 2020-06-02 22:18:06, 202..."
1,--0iUa4sNDFiZFrAdIWhZQ,"[2010-09-13 21:43:09, 2011-05-04 23:08:15, 201..."
2,--30_8IhuyMHbSOcNWd6DQ,"[2013-06-14 23:29:17, 2014-08-13 23:20:22]"
3,--7PUidqRWpRSpXebiyxTg,"[2011-02-15 17:12:00, 2011-07-28 02:46:10, 201..."
4,--7jw19RH9JKXgFohspgQw,"[2014-04-21 20:42:11, 2014-04-28 21:04:46, 201..."
...,...,...
131925,zznJox6-nmXlGYNWgTDwQQ,"[2013-03-23 16:22:47, 2013-04-07 02:03:12, 201..."
131926,zznZqH9CiAznbkV6fXyHWA,[2021-06-12 01:16:12]
131927,zzu6_r3DxBJuXcjnOYVdTw,"[2011-05-24 01:35:13, 2012-01-01 23:44:33, 201..."
131928,zzw66H6hVjXQEt0Js3Mo4A,"[2016-12-03 23:33:26, 2018-12-02 19:08:45]"
131929,zzyx5x0Z7xXWWvWnZFuxlQ,[2015-01-06 17:51:53]

In [55]:
checkins = checkins.explode('date')

In [59]:
checkins.groupby(['business_id']).size()

business_id
---kPU91CF4Lq2-WlRu9Lw    11
--0iUa4sNDFiZFrAdIWhZQ    10
--30_8IhuyMHbSOcNWd6DQ     2
--7PUidqRWpRSpXebiyxTg    10
--7jw19RH9JKXgFohspgQw    26
                          ..
zznJox6-nmXlGYNWgTDwQQ    67
zznZqH9CiAznbkV6fXyHWA     1
zzu6_r3DxBJuXcjnOYVdTw    23
zzw66H6hVjXQEt0Js3Mo4A     2
zzyx5x0Z7xXWWvWnZFuxlQ     1
Length: 131930, dtype: int64

How many of the Yelp categories are also mapped to schema.org?

In [ ]:
sparql_query = """
SELECT COUNT(?category)
WHERE {
    ?category rdfs.Class example:yelpCategory.
    ?category skos:exactMatch ?schemacategory .
    ?category skos:narrowMatch ?schemacategory .
    ?schemacategory rdfs.Class example:SchemaCategory .

}
"""

run_query(query=sparql_query, as_dataframe=True)

In [63]:
mappings = pd.read_csv(get_path("class_mappings.csv"))
len(mappings)

384

How many people have written a review or tip on Yelp? TO DO: review author user, user author tip giver ikke mening

In [37]:
sparql_query = """
SELECT COUNT(?users)
WHERE {
    ?user rdfs:Class schema:Person .
    ?review schema:author ?user .


}
"""

run_query(query=sparql_query, as_dataframe=True)

  callret-0.type                        callret-0.datatype callret-0.value
0  typed-literal  http://www.w3.org/2001/XMLSchema#integer               0

How many users have 10 friends? TO DO SELECT WHERE 10

In [ ]:
sparql_query = """
SELECT ?user (COUNT(?friend) as ?numberOfFriends)
WHERE {
    ?user rdfs:Class schema:Person .
    ?user schema:knows ?friend .
}
HAVING { ?numberOfFriends = 10 }
GROUP BY ?user
"""

run_query(query=sparql_query, as_dataframe=True)

How many friends does a user have on average?

In [ ]:
sparql_query = """
SELECT (AVG(?friend) as ?averageFriends)
WHERE {
    ?user rdfs:Class schema:Person .
    ?user schema:knows ?friend .
}
"""

run_query(query=sparql_query, as_dataframe=True)

How many users have authored 10 reviews or tips?

In [ ]:
sparql_query = """
SELECT ?user (COUNT(?reviews) as ?numberOfReviews)
WHERE {
    ?user rdfs:Class schema:Person .
    ?user schema:knows ?friend .
}
HAVING { ?numberOfFriends = 10 }
GROUP BY ?user
"""

run_query(query=sparql_query, as_dataframe=True)

In [64]:
tips

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

How many reviews or tips does a user make on average every month?

In [ ]:
# TO DO