In [3]:
import pandas as pd
import numpy as np

from flatten_dict import flatten_dictionary

df = pd.read_json("C:/Users/magnu/Aalborg Universitet/Christian Fillip Pinderup Nielsen - DVML P7/Data/yelp_academic_dataset_business.json", lines=True)
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,AB,T6J 5H2,53.468419,-113.492054,3.0,13,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Nail Salons, Beauty & Spas","{'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3..."
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,TN,37204,36.115118,-86.766925,4.0,5,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Pets, Nurseries & Gardening, Pet Stores, Hobby...","{'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3..."
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,IN,46250,39.908707,-86.065088,3.5,8,1,"{'RestaurantsPriceRange2': '1', 'BusinessAccep...","Shopping, Jewelry, Piercing, Toy Stores, Beaut...",None
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,IL,62025,38.782351,-89.950558,4.0,24,1,"{'BusinessParking': '{'garage': False, 'street...","Fitness/Exercise Equipment, Eyewear & Optician...","{'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ..."
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,FL,33572,27.771002,-82.394910,4.5,9,1,"{'WheelchairAccessible': 'True', 'BusinessAcce...","Beauty & Spas, Permanent Makeup, Piercing, Tattoo","{'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19..."

In [1]:
#Number of businesses
query = """

SELECT COUNT(?biz)
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz rdfs:Class schema:LocalBusiness .
}

"""

print(len(df))

#Number of users
query = """

SELECT COUNT(?users)
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?user rdfs:Class schema:Person .
}
"""

#Number of unique predicates
query = """

SELECT DISTINCT ?p
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?s ?p ?o .
}
"""

##### Star ratings

In [ ]:
#Rate distribution
query = """

SELECT ?rating COUNT(?biz)
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz rdfs:Class schema:LocalBusiness .
?biz schema:starRating ?rating .
}
GROUP BY ?rating

"""

print(df.groupby('stars')['stars'].count())

#Total average rating
query = """

SELECT AVG(?rating) as ?averagerating
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz schema:starRating ?rating .
}
"""

print(np.average(df['stars']))

##### Geographical areas

In [ ]:
#Number of businesses in different regions
query = """

SELECT ?state COUNT(?biz)
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz rdfs:Class schema:LocalBusiness .
?biz schema:adressRegion ?state .
}
"""

#Area with lowest average rating
query = """

SELECT ?state AVG(?rating) as ?averagerating
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz schema:adressRegion ?state .
?biz schema:starRating ?rating .
}
GROUP BY ?state
ORDER BY DESC(?averagerating)
"""

##### Categories

In [ ]:
#Different categories and numbers of businesses with that category
query = """

SELECT DISTINCT ?category COUNT(?biz)
FROM <https://covid-19ds.data.dice-research.org/2020-09-23>
WHERE {
?biz schema:category ?category .
}
"""