In [1]:
from UtilityFunctions.run_query import run_query

In [5]:
query = 'SELECT ?s ?p ?o FROM <http://www.yelpkg.com/business> WHERE{?s ?p ?o } LIMIT 10'
run_query(query=query, as_dataframe=True, do_print=False)

,s.type,s.value,p.type,p.value,o.type,o.value
0,uri,https://example.org/business_id/-a7VXX0-V9LgWM...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
1,uri,https://example.org/business_id/0UqeZTDBdV0uY3...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
2,uri,https://example.org/business_id/1jx1sfgjgVg0nM...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
3,uri,https://example.org/business_id/2MAQeAqmD8enCT...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
4,uri,https://example.org/business_id/2O2K6SXPWv56am...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
5,uri,https://example.org/business_id/5Z8iBpJMmOMz6G...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
6,uri,https://example.org/business_id/7omkeqEv-kKMIn...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
7,uri,https://example.org/business_id/7xc84taj12pt-R...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
8,uri,https://example.org/business_id/8n93L-ilMAsvwU...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness
9,uri,https://example.org/business_id/9RGR4_r4PJLToo...,uri,http://www.w3.org/2000/01/rdf-schema#Class,uri,https://schema.org/LocalBusiness

In [6]:
query = 'SELECT COUNT(?biz) FROM <http://www.yelpkg.com/business> WHERE {?biz rdfs:Class schema:LocalBusiness}'
run_query(query=query, as_dataframe=True, do_print=False)

  callret-0.type                        callret-0.datatype callret-0.value
0  typed-literal  http://www.w3.org/2001/XMLSchema#integer          150346

In [7]:
query = 'SELECT AVG(?rating) as ?averagerating WHERE {?biz schema:starRating ?rating}'
run_query(query=query, as_dataframe=True, do_print=False)

,averagerating.type,averagerating.datatype,averagerating.value
0,typed-literal,http://www.w3.org/2001/XMLSchema#decimal,3.745765119499982