In [9]:
import pandas as pd
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])

from Code.UtilityFunctions.get_data_path import get_path

In [8]:
# Read in the business data
business_file = "yelp_academic_dataset_business.json"
businesses = pd.read_json(path_or_buf=get_path(business_file), lines=True)

KeyboardInterrupt:

In [ ]:
businesses['city'] = businesses['city'].str.replace(",", "")
pd.DataFrame(businesses["city"].value_counts().sort_index()).to_csv("test_cities.csv")

NameError: name 'businesses' is not defined

### Turn the locations unique

In [15]:
location_df = pd.read_csv(get_path("business_locations.csv"))

In [35]:
location_df.describe()

,business_id,neighbourhood,postcode,city,county,state,country
count,150346,35461,93588,92032,137612,145401,145401
unique,150346,821,873,172,61,16,2
top,Pns2l4eNsfO8kk83dixA6A,Waterfront,93102,Philadelphia,Philadelphia County,Pennsylvania,United States
freq,1,1461,1461,14098,14098,33185,140081

In [33]:
location_df[location_df["postcode"].isna() == True]

,business_id,neighbourhood,postcode,city,county,state,country
2,tUFrWirKiKi_TAnsVWINQQ,NaN,NaN,Tucson,Pima County,Arizona,United States
3,MTSW4McQd7CbVtyjqoe9mw,NaN,NaN,Philadelphia,Philadelphia County,Pennsylvania,United States
6,n_0UpQx1hsNbnPUSlodU8w,NaN,NaN,NaN,Saint Louis County,Missouri,United States
8,k0hlBqXX-Bt0vf1op7Jr1w,NaN,NaN,NaN,Saint Louis County,Missouri,United States
13,jaxMSoInw8Poo3XeMJt8lQ,NaN,NaN,Clearwater,Pinellas County,Florida,United States
...,...,...,...,...,...,...,...
150338,fn3ybdsRSrIDpKZTsRuAWg,NaN,NaN,Indianapolis,Marion County,Indiana,United States
150340,hn9Toz3s-Ei3uZPt7esExA,NaN,NaN,Edmonton,NaN,Alberta,Canada
150341,IUQopTMmYQG-qRtBk-8QnA,Strathcona Industrial Park,NaN,NaN,NaN,Alberta,Canada
150342,c8GjPIOTGVmIemT7j5_SyQ,NaN,NaN,NaN,Davidson County,Tennessee,United States
150344,mtGm22y5c2UHNXDFAjaPNw,NaN,NaN,Edwardsville,Madison County,Illinois,United States

In [19]:
location_df.state.drop_duplicates().count()

16

In [26]:
location_df.city.drop_duplicates().count()

172

In [ ]:
location_df[['city', 'county', 'state', 'country']].drop_duplicates().count()  # Simply to count number of cities

In [14]:
location_df

,business_id,neighbourhood,postcode,city,county,state,country
0,Pns2l4eNsfO8kk83dixA6A,Westside$Santa Barbara$Santa Barbara County$Ca...,93101,Santa Barbara$Santa Barbara County$California$...,Santa Barbara County$California$United States,California$United States,United States
1,mpf3x-BjTdTEA3yCZrAYPw,NaN,63123,NaN,Saint Louis County$Missouri$United States,Missouri$United States,United States
2,tUFrWirKiKi_TAnsVWINQQ,NaN,NaN,Tucson$Pima County$Arizona$United States,Pima County$Arizona$United States,Arizona$United States,United States
3,MTSW4McQd7CbVtyjqoe9mw,NaN,NaN,Philadelphia$Philadelphia County$Pennsylvania$...,Philadelphia County$Pennsylvania$United States,Pennsylvania$United States,United States
4,mWMc6_wTdE0EUBKIGXDVfA,NaN,18074,Marlborough Township$Montgomery County$Pennsyl...,Montgomery County$Pennsylvania$United States,Pennsylvania$United States,United States
...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,NaN,NaN,NaN,NaN,Alberta$Canada,Canada
150342,c8GjPIOTGVmIemT7j5_SyQ,NaN,NaN,NaN,Davidson County$Tennessee$United States,Tennessee$United States,United States
150343,_QAMST-NrQobXduilWEqSw,Allisonville$Indianapolis$Marion County$Indian...,46250,Indianapolis$Marion County$Indiana$United States,Marion County$Indiana$United States,Indiana$United States,United States
150344,mtGm22y5c2UHNXDFAjaPNw,NaN,NaN,Edwardsville$Madison County$Illinois$United St...,Madison County$Illinois$United States,Illinois$United States,United States
150345,jV_XOycEzSlTx-65W906pg,NaN,33572,NaN,Hillsborough County$Florida$United States,Florida$United States,United States

In [11]:
location_df['neighbourhood'] = location_df['neighbourhood'] + '$' + location_df['city'] + '$' + location_df['county'] + '$' + location_df['state'] + '$' + location_df['country']
location_df['city'] = location_df['city'] + '$' + location_df['county'] + '$' + location_df['state'] + '$' + location_df['country']
location_df['county'] = location_df['county'] + '$' + location_df['state'] + '$' + location_df['country']
location_df['state'] = location_df['state'] + '$' + location_df['country']

In [12]:
location_df[['city', 'county', 'state', 'country']].drop_duplicates().count()

city       178
county     235
state      238
country    238
dtype: int64

In [13]:
print(f"{'{:,.0f}'.format(location_df['city'].count())} businesses of {'{:,.0f}'.format(location_df.shape[0])} have a city listed.")

85,470 businesses of 150,346 have a city listed.