In [1]:
from Code.UtilityFunctions.run_query import run_query

In [2]:
query = """
SELECT ?s ?p ?o
WHERE {
    ?s rdfs:Class schema:UserReview .
    ?s schema:about ?o
}
"""

run_query(query, as_dataframe=True)

,s.value,o.value
0,https://example.org/review_id/-1DvOqVr2_HBUuZKRZCV9g,F3n0sB5Dqn-N2fAA5TgmFQ
1,https://example.org/review_id/-1JTtFmo0CIqdG2dkOYKVw,y3iKFTk_sgIXCT6fNcBn_Q
2,https://example.org/review_id/-1V3_r_S0PGIA28r8EDfqg,DsKzHnkLKnxZTVsFpts4oA
3,https://example.org/review_id/-1Vpb_hfA_0-kuemnMx8LA,j8JOZvfeHEfUWq3gEz6ABQ
4,https://example.org/review_id/-1jlYT99CT2y2dxXViV8_w,6p07zfmJWvytr0paqpyvbg
...,...,...
99995,https://example.org/review_id/Ca7aQICpeZvymuGcg50wJg,w0LzrzBFdRO1atLCyNOplQ
99996,https://example.org/review_id/CaWaC_uEiyI_Yzea5RQCQg,TDKBPcViJQDMrdUm6a9XZA
99997,https://example.org/review_id/CaudGRJ8tMRit5KZluBu4g,x2q2snVzsCnAc5RYE1litw
99998,https://example.org/review_id/Cb5mk-nojCH6VV34fjyDIw,X0yZMHwB1yUyzISAqRyYtQ
99999,https://example.org/review_id/CcGaOKOQb4w679b110PTkw,IKqsFOXFiY7-QgtJP2PKxg