In [260]:
# https://github.com/maxlath/wikibase-dump-filter
# https://github.com/maxlath/wikibase-dump-filter/blob/main/docs/cli.md
# extracter instance of (P31) city (Q515) eller state in US (Q35657) og som er i country (P17) USA (Q30) eller Mexico (Q96) eller Canada(Q16)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q515,Q35657&P17:Q30,Q96,Q16' --omit sitelinks > city_state_america.ndjson

# extracter instance of (P31) business (Q4830453)
# led efter has subsidiary (P355)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q4830453' --omit sitelinks > business.ndjson

In [261]:
# https://linuxhint.com/bash_head_tail_command/
#!head -n 1 simplified_dump.ndjson > simpl.ndjson

In [262]:
# https://stedolan.github.io/jq/tutorial/
# https://www.linode.com/docs/guides/using-jq-to-process-json-on-the-command-line/
#!jq '.' simpl.ndjson > simpl.json

In [263]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
from math import ceil
import numpy as np
import pandas as pd
import requests
from SPARQLWrapper import JSON, SPARQLWrapper

from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.wikidata_query_tools import (
    retrieve_wikidata_claims,
    wikidata_query,
)

In [264]:
query_all_us_states = """
SELECT ?state
WHERE {
  ?state wdt:P31 wd:Q35657 .
}
LIMIT 10
"""
wikidata_query(sparql_query=query_all_us_states)

  state.type                          state.value
0        uri   http://www.wikidata.org/entity/Q99
1        uri  http://www.wikidata.org/entity/Q173
2        uri  http://www.wikidata.org/entity/Q724
3        uri  http://www.wikidata.org/entity/Q759
4        uri  http://www.wikidata.org/entity/Q771
5        uri  http://www.wikidata.org/entity/Q779
6        uri  http://www.wikidata.org/entity/Q782
7        uri  http://www.wikidata.org/entity/Q797
8        uri  http://www.wikidata.org/entity/Q812
9        uri  http://www.wikidata.org/entity/Q816

In [265]:
def category_query(category: str):
    return f"""SELECT distinct ?item ?itemLabel ?itemDescription WHERE{{
    ?item ?label "{category}"@en.
    ?article schema:about ?item .
    ?article schema:inLanguage "en" .
    ?article schema:isPartOf <https://en.wikipedia.org/>.
    SERVICE wikibase:label {{ bd:serviceParam wikibase:language "en". }}}}"""

In [266]:
wiki_qid_of_category = wikidata_query(category_query(category="restaurant"))[
    ["item.value", "itemLabel.value", "itemDescription.value"]
].head()

In [267]:
def min_qid(df_qid):
    # Getting the minimum value of the QID number and the itemLabel
    index = df_qid['item.value'].apply(lambda x: int(x.split("/")[-1].replace("Q", ""))).idxmin()
    df = df_qid.loc[index][['item.value','itemLabel.value']]
    return df[0][31:], df[1]
min_qid(df_qid=wiki_qid_of_category)

('Q11707', 'restaurant')

In [325]:
test_query = wikidata_query(category_query(category="garden"))
test_query["item.value"][0][31:], test_query["itemLabel.value"][0]

('Q909444', 'Sentō Imperial Palace')

In [328]:
df = (wikidata_query(category_query(category="garden"))[['itemLabel.value', 'item.value']])
df

                     itemLabel.value                                item.value
0              Sentō Imperial Palace    http://www.wikidata.org/entity/Q909444
1                             garden   http://www.wikidata.org/entity/Q1107656
2                          Soswaewon    http://www.wikidata.org/entity/Q493693
3                Parco del Valentino   http://www.wikidata.org/entity/Q1061804
4        Classical Gardens of Suzhou   http://www.wikidata.org/entity/Q1144337
5        McGovern Centennial Gardens  http://www.wikidata.org/entity/Q21196493
6      Schedel Arboretum and Gardens   http://www.wikidata.org/entity/Q7431032
7  Gardens of the French Renaissance   http://www.wikidata.org/entity/Q5522491
8                     Désert de Retz   http://www.wikidata.org/entity/Q1270698
9              Weymouth Peace Garden  http://www.wikidata.org/entity/Q28003099

In [326]:
min_qid(wikidata_query(category_query(category="garden")))

('Q493693', 'Soswaewon')

In [271]:
biz = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)

# schema_types = pd.read_csv(get_path("schemaorg-current-https-types.csv"))

In [272]:
categories_unique = list(set(biz["categories"].str.cat(sep=", ").split(sep=", ")))
categories = list(biz["categories"].str.cat(sep=", ").split(sep=", "))

In [273]:
from collections import Counter

category_occurences = pd.DataFrame(list(dict(Counter(categories)).items()), columns=["category", "occurences"]).sort_values(by="occurences", ascending=False)

In [274]:
display(category_occurences)

                  category  occurences
17             Restaurants       52268
18                    Food       27781
12                Shopping       24395
135          Home Services       14356
107          Beauty & Spas       14292
...                    ...         ...
1261            Beach Bars           1
1267           DUI Schools           1
1270            Patent Law           1
1274  Housing Cooperatives           1
1310           Trade Fairs           1

[1311 rows x 2 columns]

In [275]:
word = "Undersea/Hyperbaric Medicine"


def split_word_inc_slash(word):
    # Splitting the words that have a slash in them, and turning them into two words
    word_space = word.split(" ")
    word_space
    new_wordlist_a = []
    new_wordlist_b = []
    for i in word_space:
        i = i.lower()
        if "/" not in i:
            new_wordlist_a.append(i)
            new_wordlist_b.append(i)
        else:
            slash_split = i.split("/")
            new_wordlist_a.append(slash_split[0])
            new_wordlist_b.append(slash_split[1])
    new_word_a = " ".join(new_wordlist_a)
    new_word_b = " ".join(new_wordlist_b)
    return [new_word_a, new_word_b]


split_word_inc_slash(word)

['undersea medicine', 'hyperbaric medicine']

In [276]:
# transforms Yelp category words to words that is succesfull in finding the QID on wikidata
# TODO: fix & split issues
# TODO: fix & split has to be done first, and / split after
import re
import inflect
p = inflect.engine()

categories_dict = {}
for word in categories_unique:
    if '&' in word and '/' in word:
        word_list = re.split('&|/',word.lower())
        print(word_list)
        categories_dict[word] = word_list
    elif '&' in word:
        word_list = list(filter(None, word.lower().split(sep=' & ')))
        categories_dict[word] = word_list
    elif '/' in word:
        categories_dict[word] = split_word_inc_slash(word)
    else:
        categories_dict[word] = [word.lower()]

categories_dict_singular = {}
for key, value in categories_dict.items():
    new_value = []
    for word in value:
        if p.singular_noun(word) is False:
            word = word
        else:
            word = p.singular_noun(word)
        new_value.append(word)
    categories_dict_singular[key] = new_value

['heating ', ' air conditioning', 'hvac']

In [277]:
categories_dict_singular['Heating & Air Conditioning/HVAC']

['heating ', ' air conditioning', 'hvac']

In [278]:
category_occurences["split_category"] = category_occurences["category"].map(
    categories_dict_singular
)
category_occurences = category_occurences.explode("split_category")

In [279]:
category_occurences[category_occurences["category"].str.contains("/")][
    ["category", "occurences"]
].drop_duplicates()

                              category  occurences
436    Heating & Air Conditioning/HVAC        1199
189                       Cajun/Creole         923
610   Water Heater Installation/Repair         557
396       Community Service/Non-Profit         503
363              Blow Dry/Out Services         456
331                 Tapas/Small Plates         440
177                   Masonry/Concrete         363
218            Door Sales/Installation         277
348            Bike Repair/Maintenance         273
2                Naturopathic/Holistic         221
408            Laser Eye Surgery/Lasik         191
700                   Gun/Rifle Ranges         153
734   Screen Printing/T-Shirt Printing         128
559                   Rafting/Kayaking         126
242               Patisserie/Cake Shop         117
842         Fitness/Exercise Equipment          98
243                      Live/Raw Food          88
947              Video/Film Production          87
555           Swimming Lessons/Schools          83
667      Generator Installation/Repair          72
744                    Persian/Iranian          40
1010             Hypnosis/Hypnotherapy          40
239        Check Cashing/Pay-day Loans          38
945            Prenatal/Perinatal Care          33
964                 Himalayan/Nepalese          21
1067     Audio/Visual Equipment Rental          12
309                  ATV Rentals/Tours          12
1078      Undersea/Hyperbaric Medicine           5

In [280]:
category_occurences[category_occurences["category"].str.contains("&")][
    ["category", "occurences"]
].drop_duplicates().head(30)

                            category  occurences
107                    Beauty & Spas       14292
4                   Health & Medical       11890
90         Event Planning & Services        9895
20                      Coffee & Tea        6703
43                Breakfast & Brunch        6239
58                   Hotels & Travel        5857
14                     Home & Garden        5799
87              Arts & Entertainment        5434
130            Fitness & Instruction        3293
27         Ice Cream & Frozen Yogurt        2657
173            Venues & Event Spaces        2480
169                   Wine & Spirits        2413
206                  Flowers & Gifts        1930
51             Auto Parts & Supplies        1926
141           Juice Bars & Smoothies        1684
423        Cosmetics & Beauty Supply        1544
208                    Arts & Crafts        1440
204     Public Services & Government        1216
436  Heating & Air Conditioning/HVAC        1199
96     IT Services & Computer Repair        1189
384           Dry Cleaning & Laundry        1075
184           Party & Event Planning        1073
143              Eyewear & Opticians        1016
65                     Music & Video         975
412            Nurseries & Gardening         892
371             Sewing & Alterations         842
152              Appliances & Repair         800
402                   Kitchen & Bath         763
586            Vintage & Consignment         753
159            Banks & Credit Unions         749

In [392]:
category_occurences[category_occurences["category"].str.contains("air")]

,category,occurences,split_category,qid,qid_label
223,Auto Repair,5433,auto repair,NaN,None
105,Hair Salons,5046,hair salon,NaN,None
116,Hair Removal,3239,hair removal,Q625145,depilation
281,Hair Stylists,1459,hair stylist,Q55187,hairdresser
96,IT Services & Computer Repair,1189,it service,NaN,None
96,IT Services & Computer Repair,1189,computer repair,NaN,None
365,Men's Hair Salons,828,men's hair salon,NaN,None
152,Appliances & Repair,800,appliance,Q212920,home appliance
152,Appliances & Repair,800,repair,NaN,None
464,Transmission Repair,639,transmission repair,NaN,None
106,Hair Extensions,624,hair extension,NaN,None
610,Water Heater Installation/Repair,557,water heater installation,NaN,None
610,Water Heater Installation/Repair,557,water heater repair,NaN,None
445,Mobile Phone Repair,525,mobile phone repair,NaN,None
444,Electronics Repair,503,electronics repair,NaN,None
115,Laser Hair Removal,394,laser hair removal,Q783007,laser hair removal
296,Windshield Installation & Repair,352,windshield installation,NaN,None
296,Windshield Installation & Repair,352,repair,NaN,None
428,Jewelry Repair,347,jewelry repair,NaN,None
547,Wheel & Rim Repair,303,wheel,Q446,wheel
547,Wheel & Rim Repair,303,rim repair,NaN,None
348,Bike Repair/Maintenance,273,bike repair,NaN,None
348,Bike Repair/Maintenance,273,bike maintenance,NaN,None
370,Shoe Repair,256,shoe repair,NaN,None
564,Watch Repair,241,watch repair,NaN,None
570,Motorcycle Repair,204,motorcycle repair,NaN,None
695,Drywall Installation & Repair,151,drywall installation,NaN,None
695,Drywall Installation & Repair,151,repair,NaN,None
315,RV Repair,108,rv repair,NaN,None
769,Donairs,85,donair,NaN,None
781,Boat Repair,78,boat repair,NaN,None
667,Generator Installation/Repair,72,generator installation,NaN,None
667,Generator Installation/Repair,72,generator repair,NaN,None
624,Commercial Truck Repair,65,commercial truck repair,NaN,None
409,Hair Loss Centers,59,hair loss center,NaN,None
492,Furniture Repair,53,furniture repair,NaN,None
841,Kids Hair Salons,49,kids hair salon,NaN,None
316,Trailer Repair,43,trailer repair,NaN,None
978,Foundation Repair,42,foundation repair,NaN,None
625,Farm Equipment Repair,39,farm equipment repair,NaN,None
950,Mobile Dent Repair,38,mobile dent repair,NaN,None
831,Clock Repair,25,clock repair,NaN,None
643,Motorsport Vehicle Repairs,19,motorsport vehicle repair,NaN,None
1173,Hybrid Car Repair,10,hybrid car repair,NaN,None
880,Mobile Home Repair,7,mobile home repair,NaN,None
1181,Aircraft Repairs,4,aircraft repair,NaN,None
1034,Bike Repair,3,bike repair,NaN,None
1284,Sauna Installation & Repair,2,sauna installation,NaN,None
1284,Sauna Installation & Repair,2,repair,NaN,None
1310,Trade Fairs,1,trade fair,Q57305,trade fair

In [282]:
category_qid = {}
category_qid2 = {}
for cat in category_occurences["split_category"].to_list():
    try:
        wikidata_query_cat_query = wikidata_query(category_query(category=cat)) # Querys wikidata for the QID of the category
        category_qid[cat] = (wikidata_query_cat_query["item.value"][0][31:],wikidata_query_cat_query["itemLabel.value"][0]) # Adds QID and label of the first result of the query
        category_qid2[cat] = min_qid(wikidata_query_cat_query) # Adds QID and label with min_qid function
    except:
        pass

In [283]:
from pprint import pprint
from deepdiff import DeepDiff
# compares the two dictionaries and returns the differences in old value and new value for every key
ddiff = DeepDiff(category_qid, category_qid2, verbose_level=1)

In [284]:
def compare_qids(new_value: str, old_value: str):
    # check if the new qid is an instance of old qid
    return f"""SELECT ?s 
                WHERE {{?s wdt:P31 wd:{old_value} . 
                        VALUES ?s {{wd:{new_value}}} .
                }}"""

update_qid_dict = {}
for key, value in ddiff['values_changed'].items():
    # check if the new qid is an instance of old qid, then update with old qid if true
    if wikidata_query(compare_qids(new_value=value['new_value'][0], old_value=value['old_value'][0])).empty is False:
        print(f"Updating {key} from {value['old_value']} to {value['new_value']}")
        update_qid_dict[key[6:-2]] = value['old_value']
category_qid2.update(update_qid_dict) # update the qid dict with the new qids, updated values: {'airline': 'Q46970', 'boat tour': 'Q25040412', 'magazine': 'Q41298'}

In [387]:
category_qid2

{'restaurant': ('Q11707', 'restaurant'),
 'food': ('Q2095', 'food'),
 'shopping': ('Q830036', 'shopping'),
 'beauty': ('Q7242', 'beauty'),
 'spa': ('Q1296555', 'Thermes Szent Lukács'),
 'nightlife': ('Q1594437', 'nightlife'),
 'health': ('Q12147', 'health'),
 'medical': ('Q11190', 'medicine'),
 'bar': ('Q860', 'foobar'),
 'automotive': ('Q1850259', 'Renault Rodeo'),
 'event planning': ('Q2040532', 'event planning'),
 'service': ('Q44127', 'server'),
 'sandwich': ('Q28803', 'sandwich'),
 'pizza': ('Q177', 'pizza'),
 'coffee': ('Q8486', 'coffee'),
 'tea': ('Q6097', 'tea'),
 'fast food': ('Q81799', 'fast food'),
 'breakfast': ('Q80973', 'breakfast'),
 'brunch': ('Q734263', 'brunch'),
 'hotel': ('Q27686', 'hotel'),
 'travel': ('Q61509', 'travel'),
 'home': ('Q7743', 'home'),
 'garden': ('Q493693', 'Soswaewon'),
 'fashion': ('Q12684', 'fashion'),
 'burger': ('Q6663', 'hamburger'),
 'art': ('Q735', 'art'),
 'entertainment': ('Q173799', 'entertainment'),
 'nail salon': ('Q8007048', 'nail salon'),
 'mexican': ('Q1391146', 'Jesse Pintado'),
 'doctor': ('Q39631', 'physician'),
 'pet': ('Q39201', 'pet'),
 'real estate': ('Q683595', 'land lot'),
 'seafood': ('Q192935', 'seafood'),
 'instruction': ('Q216200', 'legal norm'),
 'professional service': ('Q811501', 'construction management'),
 'hair removal': ('Q625145', 'depilation'),
 'dessert': ('Q12502', 'charlotte'),
 'bakery': ('Q274393', 'bakery'),
 'salad': ('Q9266', 'salad'),
 'cafe': ('Q30022', 'coffeehouse'),
 'ice cream': ('Q13233', 'ice cream'),
 'frozen yogurt': ('Q13319', 'frozen yogurt'),
 'caterer': ('Q377117', 'traiteur'),
 'dentist': ('Q27349', 'dentist'),
 'skin care': ('Q1294114', 'skin care'),
 'venue': ('Q597573', 'National Theater of Albania'),
 'event space': ('Q25212592', 'Orchard'),
 'tire': ('Q169545', 'tire'),
 'wine': ('Q282', 'wine'),
 'spirit': ('Q193291', 'spirit'),
 'beer': ('Q44', 'beer'),
 'deli': ('Q3231410', 'delicatessen'),
 'waxing': ('Q269107', 'waxing'),
 'contractor': ('Q42417097', 'independent contractor'),
 'massage': ('Q179415', 'massage'),
 'education': ('Q8434', 'education'),
 'flower': ('Q506', 'flower'),
 'gift': ('Q184303', 'gift'),
 'supply': ('Q542869', 'supply'),
 'apartment': ('Q188507', 'apartment'),
 'convenience store': ('Q7361709', 'convenience store'),
 'gym': ('Q14092', 'gymnasium'),
 'pub': ('Q82455', 'Lamb & Flag'),
 'cocktail bar': ('Q5247260', 'Death and Company'),
 'smoothy': ('Q13290', 'smoothie'),
 'barber': ('Q107198', 'barber'),
 'car dealer': ('Q786803', 'car dealership'),
 'accessory': ('Q706848', 'accessory'),
 'drugstore': ('Q13107184', 'pharmacy'),
 'furniture store': ('Q104817981', 'furniture retailer'),
 'cosmetic': ('Q7243397', 'primer'),
 'jewelry': ('Q161439', 'jewelry'),
 'steakhouse': ('Q3109696', 'steakhouse'),
 'diner': ('Q917028', 'dining car'),
 'financial service': ('Q837171', 'financial service'),
 'trainer': ('Q41583', 'coach'),
 'hair stylist': ('Q55187', 'hairdresser'),
 'craft': ('Q28640', 'profession'),
 'department store': ('Q60034', 'Grands Magasins du Louvre'),
 'veterinarian': ('Q202883', 'veterinarian'),
 'massage therapy': ('Q1399328', 'tui na'),
 'food truck': ('Q3303463', 'food truck'),
 'public service': ('Q161837', 'public service'),
 'government': ('Q7188', 'government'),
 'lounge': ('Q475018', 'living room'),
 'wine bar': ('Q1922416', 'wine bar'),
 'vegetarian': ('Q83364', 'vegetarianism'),
 'medical center': ('Q4260475', 'medical facility'),
 'optometrist': ('Q72986184', 'George Whittaker'),
 'plumbing': ('Q3241671', 'plumbing'),
 'gas station': ('Q205495', 'petrol station'),
 'music venue': ('Q619000', 'Shibuya-AX'),
 'donut': ('Q192783', 'doughnut'),
 'dry cleaning': ('Q878156', 'dry cleaning'),
 'laundry': ('Q852100', 'laundering'),
 'party': ('Q7278', 'political party'),
 'soup': ('Q41415', 'soup'),
 'food delivery service': ('Q10932402', 'food delivery service'),
 'pet store': ('Q220142', 'pet store'),
 'taco': ('Q191655', 'taco'),
 'shoe store': ('Q7500021', 'shoe store'),
 'eyewear': ('Q5422874', 'eyewear'),
 'optician': ('Q1996635', 'optician'),
 'park': ('Q22698', 'park'),
 'mag': ('Q148958', 'magazine'),
 'music': ('Q638', 'music'),
 'video': ('Q34508', 'video recording'),
 'book': ('Q571', 'book'),
 'makeup artist': ('Q935666', 'make-up artist'),
 'thai': ('Q3448670', 'Michael Cassutt'),
 'car wash': ('Q1139861', 'car wash'),
 'florist': ('Q637125', 'floristry'),
 'mobile phone': ('Q17517', 'mobile phone'),
 'yoga': ('Q9350', 'yoga'),
 'auto detailing': ('Q1047163', 'auto detailing'),
 'landscaping': ('Q8070591', 'landscaping'),
 'nursery': ('Q155511', 'plant nursery'),
 'gardening': ('Q124946', 'gardening'),
 'appliance': ('Q212920', 'home appliance'),
 'beer bar': ('Q858012', 'beer hall'),
 'discount store': ('Q261428', 'discount store'),
 'brewery': ('Q131734', 'brewery'),
 'transportation': ('Q7590', 'transport'),
 'vegan': ('Q181138', 'veganism'),
 'tour': ('Q1156976', 'excursion'),
 'sewing': ('Q652122', 'sewing'),
 'alteration': ('Q207116', 'alteration'),
 'gift shop': ('Q865693', 'gift shop'),
 'self storage': ('Q401404', 'self storage'),
 'hardware store': ('Q811530', 'hardware store'),
 'art gallery': ('Q124302', 'Chelsea Art Museum'),
 'hot dog': ('Q181055', 'hot dog'),
 'kitchen': ('Q43164', 'kitchen'),
 'bath': ('Q152095', 'bathtub'),
 'property management': ('Q1618728', 'property management'),
 'vintage': ('Q1573930', 'vintage clothing'),
 'consignment': ('Q1368743', 'consignment'),
 'bank': ('Q22687', 'bank'),
 'credit union': ('Q745877', 'credit union'),
 'comfort food': ('Q7887327', 'comfort food'),
 'bagel': ('Q272502', 'bagel'),
 'chiropractor': ('Q2963953', 'chiropractor'),
 'endodontist': ('Q18720290', 'Mahmoud Torabinejad'),
 'towing': ('Q332030', 'towing'),
 'tobacco shop': ('Q16406', 'smoke shop'),
 'car rental': ('Q1543874', 'The Hertz Corporation'),
 'tanning': ('Q211578', 'tanning'),
 'antique': ('Q472760', 'antique'),
 'mattress': ('Q171495', 'mattress'),
 'buffet': ('Q847462', 'buffet'),
 'flooring': ('Q1433006', 'flooring'),
 'cheesesteak': ('Q1068892', 'cheesesteak'),
 'thrift store': ('Q153551', 'charity shop'),
 'tattoo': ('Q43006', 'tattooing'),
 'performing art': ('Q184485', 'performing arts'),
 'real estate agent': ('Q519076', 'real estate agent'),
 'hobby shop': ('Q5874968', 'hobby shop'),
 'soul food': ('Q555997', 'soul food'),
 'fruit': ('Q169', 'mango'),
 'veggie': ('Q11004', 'vegetable'),
 'carpet cleaning': ('Q5045777', 'carpet cleaning'),
 'toy store': ('Q1318959', 'toy store'),
 'notary': ('Q189010', 'notary'),
 'gastropub': ('Q5526883', 'gastropub'),
 'interior design': ('Q179232', 'interior design'),
 'photographer': ('Q33231', 'photographer'),
 'pharmacy': ('Q186249', 'pharmaceutics'),
 'family practice': ('Q3505712', 'family medicine'),
 'community service': ('Q2043121', 'community service'),
 'pest control': ('Q2306047', 'pest control'),
 'farmers market': ('Q1522620', "farmers' market"),
 'golf': ('Q5377', 'golf'),
 'electrician': ('Q165029', 'electrician'),
 'bubble tea': ('Q715858', 'bubble tea'),
 'vape shop': ('Q21017121', 'vape shop'),
 'mobile phone accessory': ('Q6887188', 'mobile phone accessory'),
 'roofing': ('Q1971625', 'tar paper'),
 'periodontist': ('Q100600994', 'Justin Raanan'),
 'bike': ('Q11442', 'bicycle'),
 'dance club': ('Q622425', 'nightclub'),
 'painter': ('Q43628', 'Marcin Bogusławski'),
 "children's clothing": ('Q2471487', "children's clothing"),
 'festival': ('Q132241', 'festival'),
 'nutritionist': ('Q2576499', 'nutritionist'),
 'acupuncture': ('Q121713', 'acupuncture'),
 'food stand': ('Q3568190', 'food booth'),
 'cupcake': ('Q816851', 'cupcake'),
 'ophthalmologist': ('Q3112824', 'Govindappa Venkataswamy'),
 'bookstore': ('Q200764', 'bookstore'),
 'child care': ('Q1455871', 'child care'),
 'day care': ('Q364005', 'day care'),
 'museum': ('Q33506', 'museum'),
 'reflexology': ('Q449058', 'reflexology'),
 'insurance': ('Q43183', 'insurance'),
 'hauling': ('Q4174178', 'haulage'),
 'telecommunication': ('Q418', 'telecommunication'),
 'hospital': ('Q16917', 'hospital'),
 'laser hair removal': ('Q783007', 'laser hair removal'),
 'noodle': ('Q192874', 'noodle'),
 'arcade': ('Q186637', 'arcade'),
 'permanent makeup': ('Q268052', 'permanent makeup'),
 'piercing': ('Q157943', 'body piercing'),
 'mortgage broker': ('Q1278442', 'mortgage broker'),
 'masonry': ('Q41726', 'freemasonry'),
 'concrete': ('Q22657', 'concrete'),
 'lawyer': ('Q40348', 'lawyer'),
 'halal': ('Q177823', 'halal'),
 'cinema': ('Q11424', 'film'),
 'street vendor': ('Q3555589', 'street vendor'),
 'candy store': ('Q3574069', 'confectionery store'),
 'handyman': ('Q1552579', 'handyperson'),
 'internet service provider': ('Q11371', 'Internet service provider'),
 'preschool': ('Q1076052', 'preschool'),
 'winery': ('Q116766', 'Chateau Montelena'),
 'computer': ('Q68', 'computer'),
 'chocolatier': ('Q305012', 'chocolatier'),
 'shop': ('Q213441', 'shop'),
 'boot camp': ('Q1550460', 'recruit training'),
 'lighting fixture': ('Q815738', 'light fixture'),
 'equipment': ('Q1880871', 'M-1956 Load-Carrying Equipment'),
 'dermatologist': ('Q2740179', 'Willem Anton van Vloten'),
 'watch': ('Q178794', 'watch'),
 'airport shuttle': ('Q114517612', 'airport bus link'),
 'post office': ('Q35054', 'post office'),
 'karaoke': ('Q229345', 'karaoke'),
 'bed': ('Q42177', 'bed'),
 'key': ('Q132041', 'key'),
 'nail technician': ('Q11325221', 'nail technician'),
 'courier': ('Q848466', 'courier'),
 'delivery service': ('Q4631920', '24 hour McDelivery'),
 'sports club': ('Q122245', 'HSC 2000 Coburg'),
 'pressure washer': ('Q1545773', 'pressure washer'),
 'obstetrician': ('Q2958876', 'Charles Delucena Meigs'),
 'gynecologist': ('Q18631385', 'Sven Becker'),
 'wrap': ('Q1343262', 'baby sling'),
 'wheel': ('Q446', 'wheel'),
 'landmark': ('Q2319498', 'landmark'),
 'historical building': ('Q2968715', 'Château de Bélarga'),
 'pool': ('Q1501', 'swimming pool'),
 'shopping center': ('Q11315', 'shopping center'),
 'bike rental': ('Q10611118', 'bike rental'),
 'limo': ('Q188475', 'limousine'),
 'sports medicine': ('Q840545', 'sports medicine'),
 'boating': ('Q2141830', 'boating'),
 'security system': ('Q1497831', 'security alarm'),
 'religious organization': ('Q44476', 'Greek Byzantine Catholic Church'),
 'amusement park': ('Q44043', 'Adventure City'),
 'formal wear': ('Q1151364', 'formalwear'),
 'swimming pool': ('Q1501', 'swimming pool'),
 'musical instrument': ('Q5994', 'piano'),
 'teacher': ('Q37226', 'teacher'),
 'shaved ice': ('Q7491078', 'shaved ice'),
 'travel service': ('Q60787006', 'Domio'),
 'playground': ('Q11875349', 'playground'),
 'shade': ('Q160020', 'shadow'),
 'blind': ('Q10874', 'blindness'),
 'martial art': ('Q11419', 'karate'),
 'office equipment': ('Q2383811', 'office supply'),
 'hot tub': ('Q1936429', 'hot tub'),
 'gardener': ('Q758780', 'gardener'),
 'vitamin': ('Q34956', 'vitamin'),
 'supplement': ('Q209163', 'video game expansion pack'),
 'pediatrician': ('Q105591', 'Arthur Schlossmann'),
 'card': ('Q915196', 'greeting card'),
 'stationery': ('Q875696', 'stationery'),
 'taxi': ('Q82650', 'taxi'),
 'gun': ('Q12796', 'firearm'),
 'ammo': ('Q185785', 'ammunition'),
 'parking': ('Q267917', 'parking'),
 'furniture': ('Q14745', 'furniture'),
 'landscape architect': ('Q2815948', 'landscape architect'),
 'graphic design': ('Q185925', 'graphic design'),
 'window washing': ('Q3124765', 'window cleaning'),
 'summer camp': ('Q876852', 'summer camp'),
 'tea room': ('Q1072166', 'tea house'),
 'counseling': ('Q4390239', 'counseling'),
 'mental health': ('Q317309', 'mental health'),
 'mirror': ('Q35197', 'mirror'),
 'rehabilitation center': ('Q7309759', 'rehabilitation hospital'),
 'elementary school': ('Q9842', 'primary school'),
 'holistic': ('Q192891', 'holism'),
 'internal medicine': ('Q11180', 'internal medicine'),
 'church': ('Q16970', 'church building'),
 'cabinetry': ('Q2741056', 'cabinet'),
 'hiking': ('Q353156', 'hiking'),
 'poke': ('Q7208574', 'poke'),
 'irrigation': ('Q11453', 'irrigation'),
 'library': ('Q7075', 'library'),
 'fish': ('Q152', 'fish'),
 'chip': ('Q80831', 'integrated circuit'),
 'lingerie': ('Q855691', 'lingerie'),
 'head shop': ('Q1592332', 'head shop'),
 'dance studio': ('Q1561361', 'dance studio'),
 'fence': ('Q148571', 'fence'),
 'gate': ('Q53060', 'gate'),
 'auto insurance': ('Q1068361', 'vehicle insurance'),
 'gelato': ('Q1362405', 'gelato'),
 'framing': ('Q204794', 'framing'),
 'bowling': ('Q172809', 'ten-pin bowling'),
 'waffle': ('Q375', 'waffle'),
 'brewpub': ('Q3640372', 'brewpub'),
 'beer garden': ('Q857909', 'beer garden'),
 'outlet store': ('Q76470', 'outlet store'),
 'butcher': ('Q329737', 'butcher'),
 'siding': ('Q1625476', 'siding'),
 'jazz': ('Q8341', 'jazz'),
 'blue': ('Q1088', 'blue'),
 'college': ('Q180958', 'faculty'),
 'university': ('Q3918', 'university'),
 'diagnostic imaging': ('Q931309', 'medical imaging'),
 'escape game': ('Q1201679', 'escape the room'),
 'traditional chinese medicine': ('Q5250864', 'deer penis'),
 'resort': ('Q875157', 'resort'),
 'dog park': ('Q38516', 'dog park'),
 'pet adoption': ('Q7171565', 'pet adoption'),
 'cemetery': ('Q39614', 'cemetery'),
 'roadside assistance': ('Q337810', 'roadside assistance'),
 'snow removal': ('Q3044530', 'snow removal'),
 'television service provider': ('Q48769817', 'multichannel television'),
 'fishing': ('Q14373', 'fishing'),
 'mass media': ('Q11033', 'mass media'),
 'pretzel': ('Q160525', 'pretzel'),
 'gun range': ('Q521839', 'shooting range'),
 'rifle range': ('Q521839', 'shooting range'),
 'rug': ('Q374035', 'livestock blanket'),
 'animal shelter': ('Q1411287', 'animal shelter'),
 'comic book': ('Q95021', 'Lazarus Ledd'),
 'walk-in clinic': ('Q5166147', 'Convenient care clinic'),
 'life insurance': ('Q626608', 'life insurance'),
 'propane': ('Q131189', 'propane'),
 'internet cafe': ('Q272399', 'internet café'),
 'vacation rental': ('Q336532', 'vacation rental'),
 'vinyl record': ('Q178588', 'vinyl record'),
 'department of motor vehicles': ('Q539809',
  'motor vehicle registration agency'),
 'dim sum': ('Q339836', 'dim sum'),
 'social club': ('Q17148672', 'social club'),
 'costume': ('Q11460', 'clothing'),
 'divorce': ('Q93190', 'divorce'),
 'family law': ('Q384014', 'family law'),
 'public transportation': ('Q178512', 'public transport'),
 'gay bar': ('Q1043639', 'gay bar'),
 'country club': ('Q1137210', 'country club'),
 'boxing': ('Q32112', 'boxing'),
 'stadium': ('Q8507', 'Parc Olympique Lyonnais'),
 'arena': ('Q33695', 'PostFinance-Arena'),
 'life coach': ('Q6545506', 'lifestyle guru'),
 'food court': ('Q1192284', 'food court'),
 'cannabis dispensary': ('Q24140788', 'cannabis shop'),
 'web design': ('Q190637', 'web design'),
 'marketing': ('Q39809', 'marketing'),
 'dj': ('Q977', 'Djibouti'),
 'rafting': ('Q207238', 'rafting'),
 'kayaking': ('Q2094083', 'kayaking'),
 'accountant': ('Q326653', 'accountant'),
 'surgeon': ('Q103597', 'Georg Hartog Gerson'),
 'home automation': ('Q848436', 'home automation'),
 'beach': ('Q40080', 'beach'),
 'airport': ('Q41292', 'Misrata Airport'),
 'mortgage lender': ('Q110877094', 'United Wholesale Mortgage'),
 'university housing': ('Q3682941', 'Augustinianum College'),
 'data recovery': ('Q1054772', 'data recovery'),
 'adult': ('Q80994', 'adult'),
 'airline': ('Q8782', 'OpenSkies'),
 'deck': ('Q194428', 'stage'),
 'railing': ('Q3095365', 'railing'),
 'cake shop': ('Q7361703', 'cake shop'),
 'commercial real estate': ('Q1520439', 'commercial property'),
 'personal chef': ('Q1932239', 'personal chef'),
 'pain management': ('Q621261', 'pain management'),
 'casino': ('Q133215', 'casino'),
 'chimney sweep': ('Q506126', 'chimney sweep'),
 'souvenir shop': ('Q865693', 'gift shop'),
 'herb': ('Q2845', 'cannabis'),
 'spice': ('Q42527', 'spice'),
 'skating rink': ('Q1282870', 'ice rink'),
 'swimwear': ('Q212989', 'swimsuit'),
 'paint': ('Q174219', 'paint'),
 'pawn shop': ('Q176637', 'pawnbroker'),
 'carpenter': ('Q154549', 'carpenter'),
 'plastic surgeon': ('Q5489314', 'Frank Ryan'),
 'falafel': ('Q188788', 'falafel'),
 'dance school': ('Q1561361', 'dance studio'),
 'utility': ('Q312466', 'utility software'),
 'video game store': ('Q7927919', 'video game store'),
 'walking tour': ('Q12695722', 'walking tour'),
 'occupational therapy': ('Q380141', 'occupational therapy'),
 'meditation center': ('Q17060654', 'Spirit Rock Meditation Center'),
 'paddleboarding': ('Q48003', 'paddleboarding'),
 'waterproofing': ('Q811964', 'waterproofing'),
 'exercise equipment': ('Q352222', 'exercise equipment'),
 'comedy club': ('Q2814066', 'comedy club'),
 'retirement home': ('Q22908', 'retirement home'),
 'shutter': ('Q691823', 'shutter'),
 'mini golf': ('Q754796', 'miniature golf'),
 'art school': ('Q32773', 'Alanus University of Arts and Social Sciences'),
 'adult education': ('Q1319035', 'adult education'),
 'body contouring': ('Q4936963', 'body shaping'),
 'emergency room': ('Q1295316', 'emergency department'),
 'photo booth rental': ('Q494312', 'photo booth'),
 'tattoo removal': ('Q3045287', 'tattoo removal'),
 'advertising': ('Q37038', 'advertising'),
 'kebab': ('Q179010', 'kebab'),
 'uniform': ('Q7434', 'uniform'),
 'investing': ('Q4290', 'investment'),
 'psychiatrist': ('Q211346', 'psychiatrist'),
 'raw food': ('Q6807160', 'Medium Raw (book)'),
 'farm': ('Q131596', 'farm'),
 'video production': ('Q60061622', 'video production'),
 'film production': ('Q932586', 'filmmaking'),
 'vehicle wrap': ('Q1410837', 'wrap advertising'),
 'hunting': ('Q36963', 'hunting'),
 'wig': ('Q105507', 'wig'),
 'guitar store': ('Q24284215', 'music store'),
 'employment agency': ('Q261362', 'employment agency'),
 'screen printing': ('Q187791', 'screen printing'),
 'radiologist': ('Q5697714', 'Hedvig Hricak'),
 'kickboxing': ('Q178678', 'kickboxing'),
 'throat': ('Q16364', 'throat'),
 'middle school': ('Q149566', 'middle school'),
 'high school': ('Q9826', 'high school'),
 'tabletop game': ('Q184662', 'Dice 10000'),
 'print media': ('Q12102552', 'print media'),
 'cooking school': ('Q1143412', 'Culinary Institute of America'),
 'smokehouse': ('Q1442496', 'smokehouse'),
 'hot pot': ('Q846849', 'hot pot'),
 'embroidery': ('Q18281', 'embroidery'),
 'crochet': ('Q208386', 'crocheting'),
 'videographer': ('Q3766177', 'videographer'),
 'kosher': ('Q191498', 'kashrut'),
 'tiki bar': ('Q16186059', "Sip 'n Dip Lounge"),
 'golf equipment': ('Q2467501', 'golf equipment'),
 'flea market': ('Q385870', 'flea market'),
 'aquarium': ('Q45782', 'aquarium'),
 'horseback riding': ('Q179226', 'equestrianism'),
 'sauna': ('Q57036', 'sauna'),
 'allergist': ('Q2837942', 'allergist'),
 'mountain biking': ('Q520611', 'mountain biking'),
 'empanada': ('Q747457', 'empanada'),
 'technical school': ('Q322563', 'vocational school'),
 'neurologist': ('Q72439', 'Woldemar Kernig'),
 'guest house': ('Q1065252', 'pension'),
 'boat tour': ('Q981249', 'Maid of the Mist'),
 'perfume': ('Q2863', 'cologne'),
 'driving school': ('Q1340098', "driver's education"),
 'botanical garden': ('Q94923', 'Botanical Garden of Curitiba'),
 'climbing': ('Q22857', 'climbing'),
 'cultural center': ('Q327568', 'John Mackintosh Hall'),
 'hat': ('Q11175', 'circumflex'),
 'psychic': ('Q2917466', 'psychic'),
 'alternative medicine': ('Q188504', 'alternative medicine'),
 'auction house': ('Q654762', "Sotheby's"),
 'environmental testing': ('Q5381371', 'environmental testing'),
 'assisted living facility': ('Q315412', 'assisted living facility'),
 'business law': ('Q2609670', 'corporate law'),
 'special education': ('Q212105', 'special education'),
 'axe throwing': ('Q792635', 'axe throwing'),
 'macaron': ('Q12478', 'macaron'),
 'zoo': ('Q43501', 'zoo'),
 'diving': ('Q7735', 'diving'),
 'cardiologist': ('Q889892', 'Bodo-Eckehard Strauer'),
 'bartender': ('Q808266', 'bartender'),
 'employment law': ('Q628967', 'labor law'),
 'hostel': ('Q654772', 'hostel'),
 'haunted house': ('Q545599', 'haunted house'),
 'service station': ('Q205495', 'petrol station'),
 'piano bar': ('Q808744', 'piano bar'),

In [315]:
category_occurences['qid'] = category_occurences['split_category'].map(category_qid2)
category_occurences[['qid','qid_label']] = pd.DataFrame(category_occurences['qid'].tolist(),index=category_occurences.index)

In [317]:
category_qid_list = category_occurences["qid"].tolist()
category_qid_list = [i for i in category_qid_list if i is not np.nan]

In [318]:
item_list = category_qid_list

item_list_len = len(item_list)
# The limit is set to meet the requirements of the wikibase API wbgetentities (max 50)
# Ceil makes sure that the each subset from item_list is no longer than 50
limit = ceil(item_list_len / 50)

# Seperates the item_list to a nested_list with max 50 items in each list
piped_list = [item_list[pipe::limit] for pipe in range(limit)]

category_wikidata = {}
for i in piped_list:
    category_wikidata.update(retrieve_wikidata_claims(i))

In [319]:
category_triple = {}
for key, values in category_wikidata.items():
    for value in values:
        for obj in value:
            if obj["mainsnak"]["property"] == "P279":
                data_value = obj["mainsnak"]["datavalue"]["value"]["id"]
                category_triple[key] = category_triple.get(key, []) + [data_value]
category_triple

{'Q11707': ['Q62602544', 'Q1431026', 'Q41176', 'Q41958'],
 'Q6097': ['Q61951',
  'Q19359564',
  'Q1365365',
  'Q11090700',
  'Q2647467',
  'Q473666'],
 'Q39201': ['Q622852'],
 'Q1294114': ['Q999981'],
 'Q188507': ['Q699405', 'Q1497384'],
 'Q837171': ['Q7406919', 'Q25351891', 'Q2424752', 'Q806750', 'Q815823'],
 'Q1996635': ['Q5422651', 'Q213441', 'Q108290424'],
 'Q124946': ['Q48803', 'Q47728'],
 'Q181055': ['Q746549', 'Q2957687', 'Q28803', 'Q81799', 'Q7427595'],
 'Q211578': ['Q3632343', 'Q2207288', 'Q17200001'],
 'Q1318959': ['Q213441'],
 'Q1971625': ['Q206615'],
 'Q364005': ['Q13226383', 'Q121359', 'Q178706'],
 'Q22657': ['Q181790', 'Q34669510'],
 'Q1880871': ['Q18643213'],
 'Q1501': ['Q1076486', 'Q12004466'],
 'Q317309': ['Q1403186', 'Q19829125', 'Q12147'],
 'Q1592332': ['Q1374250'],
 'Q8341': ['Q373342'],
 'Q11033': ['Q340169', 'Q17537576', 'Q121182', 'Q24229398'],
 'Q339836': ['Q3897491'],
 'Q39809': ['Q8187769', 'Q42240'],
 'Q3095365': ['Q148571'],
 'Q1410837': ['Q37038'],
 'Q846849': ['Q746549', 'Q41415', 'Q190531'],
 'Q212105': ['Q8434', 'Q627208'],
 'Q964401': ['Q1347367'],
 'Q15037754': ['Q673687'],
 'Q1505189': ['Q2302028'],
 'Q83437': ['Q7946'],
 'Q595071': ['Q12615130', 'Q6840857'],
 'Q383695': ['Q918385', 'Q765633'],
 'Q539690': ['Q11180'],
 'Q34627': ['Q831219'],
 'Q897403': ['Q4830453', 'Q3914'],
 'Q3427917': ['Q11707'],
 'Q207703': ['Q902378'],
 'Q5419137': ['Q163740'],
 'Q858012': ['Q5307737'],
 'Q2095': ['Q1194058', 'Q223557'],
 'Q81799': ['Q746549', 'Q8195619'],
 'Q683595': ['Q684740'],
 'Q7361709': ['Q1295201', 'Q213441'],
 'Q41583': ['Q50995749', 'Q1781513'],
 'Q22698': ['Q22652', 'Q111415237', 'Q13226383', 'Q811979', 'Q35145743'],
 'Q212920': ['Q1183543', 'Q1836700'],
 'Q43164': ['Q180516'],
 'Q472760': ['Q2342494', 'Q2424752'],
 'Q189010': ['Q185351'],
 'Q44127': ['Q58778'],
 'Q33506': ['Q1030034', 'Q570116'],
 'Q40348': ['Q185351', 'Q15987302'],
 'Q1343262': ['Q3715160'],
 'Q5994': ['Q3152898', 'Q52954', 'Q4951628'],
 'Q915196': ['Q1668556', 'Q133492'],
 'Q35197': ['Q65037298', 'Q214609', 'Q15303351'],
 'Q1561361': ['Q2385804'],
 'Q1088': ['Q9128', 'Q10834659'],
 'Q160525': ['Q2098139', 'Q1807598', 'Q108099796', 'Q477248'],
 'Q17148672': ['Q988108'],
 'Q7361703': ['Q213441'],
 'Q188788': ['Q2095'],
 'Q1319035': ['Q8434', 'Q61788126'],
 'Q36963': ['Q451967', 'Q861451', 'Q192581', 'Q47728'],
 'Q18281': ['Q1817291', 'Q53001749'],
 'Q1065252': ['Q2460422'],
 'Q792635': ['Q12898216', 'Q349'],
 'Q14350': ['Q15265344', 'Q11033'],
 'Q5638': ['Q752870', 'Q1515493', 'Q87410987', 'Q580939'],
 'Q431640': ['Q16683598'],
 'Q1096878': ['Q179643'],
 'Q7946': ['Q79529', 'Q11438', 'Q12037703', 'Q214609', 'Q188460'],
 'Q2000218': ['Q2068248', 'Q173799'],
 'Q876737': ['Q27672886'],
 'Q10987': ['Q5159627', 'Q6584340', 'Q19388114', 'Q211439', 'Q7493597'],
 'Q638608': ['Q1395034'],
 'Q706636': ['Q167037'],
 'Q542869': ['Q31464082', 'Q309314'],
 'Q392409': ['Q179643'],
 'Q1298120': ['Q6498663'],
 'Q61391': ['Q43450', 'Q11639', 'Q61788060'],
 'Q178380': ['Q309162', 'Q644628'],
 'Q830036': ['Q451967'],
 'Q80973': ['Q6460735'],
 'Q192935': ['Q2095', 'Q25403900', 'Q107166476'],
 'Q14092': ['Q641226', 'Q1076486'],
 'Q55187': ['Q27943370', 'Q33394058', 'Q108289644'],
 'Q205495': ['Q655686'],
 'Q148958': ['Q1183543', 'Q987767'],
 'Q152095': ['Q987767', 'Q2024731'],
 'Q171495': ['Q1762457', 'Q1183543'],
 'Q5526883': ['Q212198', 'Q11707'],
 'Q178794': ['Q1065579', 'Q376'],
 'Q446': ['Q186713'],
 'Q37226': ['Q974144'],
 'Q875696': ['Q2383811', 'Q39546'],
 'Q7309759': ['Q1391390'],
 'Q148571': ['Q811430', 'Q2084929', 'Q1307347'],
 'Q180958': ['Q23005223'],
 'Q521839': ['Q13226383'],
 'Q11460': ['Q386724', 'Q2424752', 'Q8205328', 'Q113518695'],
 'Q207238': ['Q213934', 'Q337210'],
 'Q1520439': ['Q1400881', 'Q684740'],
 'Q4936963': ['Q182442'],
 'Q105507': ['Q21369154'],
 'Q208386': ['Q7708485'],
 'Q12478': ['Q13266'],
 'Q901222': ['Q974144'],
 'Q35808': ['Q287', 'Q14515877', 'Q1408429'],
 'Q93165': ['Q4739805', 'Q427457', 'Q7445643'],
 'Q5175316': ['Q1229765'],
 'Q5671453': ['Q237105'],
 'Q11019': ['Q1183543', 'Q386724'],
 'Q193210': ['Q765633', 'Q644628'],
 'Q192520': ['Q11482290', 'Q484937'],
 'Q113603': ['Q163740', 'Q16605260'],
 'Q155647': ['Q12328016', 'Q12797895'],
 'Q1072012': ['Q16502', 'Q17334923'],
 'Q2002539': ['Q13226383', 'Q3591545'],
 'Q130949': ['Q204686', 'Q484937', 'Q212434'],
 'Q32815': ['Q1370598'],
 'Q5064153': ['Q9053464', 'Q56627913'],
 'Q7138600': ['Q22698'],
 'Q7242': ['Q367293'],
 'Q734263': ['Q80973', 'Q12896105'],
 'Q216200': ['Q1665268', 'Q3878446'],
 'Q169545': ['Q2424752', 'Q2162595'],
 'Q735': ['Q1914636', 'Q184872', 'Q3249551'],
 'Q638': ['Q184485', 'Q173799', 'Q11461', 'Q114088986'],
 'Q261428': ['Q2865305'],
 'Q1618728': ['Q873442'],
 'Q847462': ['Q15361145'],
 'Q179232': ['Q114436249'],
 'Q11442': ['Q595658', 'Q233040', 'Q768186'],
 'Q43183': ['Q15809678', 'Q837171'],
 'Q11424': ['Q2431196', 'Q10301427', 'Q4502142', 'Q20937557'],
 'Q114517612': ['Q1032774'],
 'Q2319498': ['Q15642541', 'Q2434238', 'Q811979'],
 'Q7491078': ['Q866153'],
 'Q82650': ['Q580939'],
 'Q9842': ['Q3914'],
 'Q53060': ['Q811979', 'Q854429', 'Q1183543'],
 'Q3918': ['Q38723', 'Q4671277'],
 'Q93190': ['Q18603731', 'Q18511800', 'Q322451', 'Q100926628', 'Q22087155'],
 'Q2094083': ['Q213934'],
 'Q1932239': ['Q156839'],
 'Q312466': ['Q676202', 'Q40056'],
 'Q1295316': ['Q4260475'],
 'Q24284215': ['Q213441', 'Q655686', 'Q13226383'],
 'Q3766177': ['Q1208175', 'Q93922873'],
 'Q2863': ['Q131746', 'Q1979901'],
 'Q43501': ['Q96102071', 'Q22698', 'Q588140'],
 'Q3709121': ['Q936044'],
 'Q865054': ['Q987767'],
 'Q6586445': ['Q18674739', 'Q57660343'],
 'Q616100': ['Q5307737'],
 'Q5119518': ['Q15904214'],
 'Q2305987': ['Q13582652', 'Q811122'],
 'Q5158689': ['Q905758'],
 'Q1773974': ['Q31207', 'Q1717246', 'Q189603'],
 'Q28837': ['Q3332438'],
 'Q127933': ['Q1146001', 'Q10805684', 'Q2424752'],
 'Q148319': ['Q24354', 'Q3152824'],
 'Q1043226': ['Q82604', 'Q3249551'],
 'Q5185985': ['Q2296694'],
 'Q164359': ['Q9081', 'Q937228'],
 'Q211340': ['Q666242', 'Q748611'],
 'Q1459915': ['Q2761147'],
 'Q27686': ['Q1431026', 'Q5056668'],
 'Q811501': ['Q2920921'],
 'Q282': ['Q154'],
 'Q28640': ['Q192581'],
 'Q192783': ['Q182940', 'Q1401891', 'Q746549', 'Q7340417', 'Q5004791'],
 'Q34508': ['Q2695280'],
 'Q131734': ['Q83405', 'Q1252971', 'Q628858'],
 'Q1573930': ['Q11460', 'Q1292119'],
 'Q1433006': ['Q23497974'],
 'Q33231': ['Q3391743', 'Q108289430'],
 'Q622425': ['Q8719053', 'Q5307737', 'Q57660343'],
 'Q4174178': ['Q7590'],
 'Q3555589': ['Q685433'],
 'Q35054': ['Q294422'],
 'Q12796': ['Q1194773', 'Q110155210'],
 'Q1068361': ['Q43183', 'Q3813256'],
 'Q931309': ['Q4914995', 'Q2671652', 'Q177719', 'Q113129019'],
 'Q374035': ['Q3590880', 'Q104602244'],
 'Q384014': ['Q7748', 'Q222249'],
 'Q326653': ['Q108286983'],
 'Q621261': ['Q883708', 'Q796194', 'Q179661'],
 'Q7927919': ['Q213441', 'Q655686', 'Q13226383'],
 'Q494312': ['Q787116', 'Q13226383'],
 'Q261362': ['Q327333'],
 'Q191498': ['Q1811005'],
 'Q1340098': ['Q3914'],
 'Q7735': ['Q61065', 'Q212434'],
 'Q7873': ['Q1058795', 'Q629103', 'Q289472', 'Q112826975'],
 'Q1121481': ['Q183257'],
 'Q863803': ['Q796194'],
 'Q192832': ['Q216048', 'Q206989'],
 'Q159992': ['Q61065', 'Q911069', 'Q212434'],
 'Q2341939': ['Q2310214'],
 'Q43812': ['Q2616578', 'Q47988'],
 'Q851782': ['Q1521410'],
 'Q1426493': ['Q486972'],
 'Q18411786': ['Q3689421', 'Q41176', 'Q33506'],
 'Q917273': ['Q3552566'],
 'Q15284': ['Q1048835', 'Q486972', 'Q56061', 'Q192611', 'Q2659904'],
 'Q12681': ['Q36649', 'Q37260'],
 'Q1032372': ['Q2015628', 'Q13226383', 'Q43229', 'Q3540209'],
 'Q3368718': ['Q3332438'],
 'Q1594437': ['Q173799'],
 'Q61509': ['Q79782', 'Q451967'],
 'Q625145': ['Q23009442'],
 'Q193291': ['Q15619164', 'Q28855038', 'Q4271324'],
 'Q13290': ['Q751728', 'Q3314483'],
 'Q878156': ['Q17200001'],
 'Q571': ['Q49848', 'Q2342494', 'Q3331189'],
 'Q7590': ['Q451967', 'Q4284762', 'Q8187769'],
 'Q1368743': ['Q194189'],
 'Q1068892': ['Q28803'],
 'Q418': ['Q1472062'],
 'Q3574069': ['Q213441', 'Q13226383', 'Q655686', 'Q1252971', 'Q27038993'],
 'Q229345': ['Q10668278'],
 'Q11875349': ['Q811430', 'Q17334923', 'Q22746'],
 'Q185785': ['Q8205328', 'Q728'],
 'Q11180': ['Q11190'],
 'Q1362405': ['Q13233', 'Q866153'],
 'Q1201679': ['Q11590806'],
 'Q7743': ['Q699405'],
 'Q178512': ['Q28314507', 'Q12162227'],
 'Q133215': ['Q655686'],
 'Q12695722': ['Q1156976'],
 'Q3045287': ['Q796194'],
 'Q187791': ['Q271588', 'Q11060274', 'Q8148', 'Q144334'],
 'Q172226': ['Q768186', 'Q39546', 'Q334166'],
 'Q108429': ['Q349', 'Q2252077', 'Q212434'],
 'Q3231410': ['Q213441', 'Q11707'],
 'Q42973': ['Q5322166', 'Q255274'],
 'Q842811': ['Q2576499', 'Q11974939'],
 'Q3664857': ['Q13226383'],
 'Q130003': ['Q1076486', 'Q6925559', 'Q55463907', 'Q16677896', 'Q486972'],
 'Q870': ['Q15618781', 'Q350783'],
 'Q1666223': ['Q215627'],
 'Q507816': ['Q1572278'],
 'Q1326624': ['Q1951366', 'Q1341478'],
 'Q2350126': ['Q16145150', 'Q7939609'],
 'Q1230557': ['Q10861387'],
 'Q693369': ['Q41176', 'Q13226383', 'Q655686', 'Q49416455'],
 'Q12147': ['Q7189713', 'Q16681739', 'Q19829125'],
 'Q12502': ['Q182940'],
 'Q44': ['Q154', 'Q169336'],
 'Q107198': ['Q33394058', 'Q108289644'],
 'Q202883': ['Q3332438', 'Q11974939'],
 'Q852100': ['Q23841'],
 'Q935666': ['Q27943370', 'Q11336353'],
 'Q181138': ['Q83364'],
 'Q22687': ['Q1416431', 'Q730038', 'Q6881511', 'Q5260792', 'Q650241'],
 'Q153551': ['Q213441', 'Q1077064'],
 'Q3505712': ['Q3259956', 'Q11190'],
 'Q2471487': ['Q11460'],
 'Q16917': ['Q178706', 'Q4260475', 'Q814610', 'Q30139652', 'Q41176'],
 'Q1552579': ['Q3606537'],
 'Q42177': ['Q14745', 'Q45422604'],
 'Q11315': ['Q18760388', 'Q39659371', 'Q43229'],
 'Q160020': ['Q219858', 'Q1293220', 'Q13415428', 'Q19829125'],
 'Q267917': ['Q999646'],
 'Q16970': ['Q24398318'],
 'Q204794': ['Q462437'],
 'Q5250864': ['Q2069006'],
 'Q1411287': ['Q13226383'],
 'Q1043639': ['Q187456', 'Q105321449'],
 'Q848436': ['Q184199'],
 'Q506126': ['Q1760141'],
 'Q380141': ['Q179661'],
 'Q37038': ['Q11028', 'Q17537576', 'Q7406919'],
 'Q2467501': ['Q768186'],
 'Q22857': ['Q968907', 'Q484937'],
 'Q808266': ['Q157195', 'Q108289643'],
 'Q2015874': ['Q1255921'],
 'Q7979077': ['Q108325', 'Q107724136'],
 'Q866742': ['Q62602544'],
 'Q23397': ['Q337567', 'Q3391202', 'Q30092755', 'Q15324', 'Q271669'],
 'Q311935': ['Q2424752', 'Q214609'],
 'Q842478': ['Q110535672'],
 'Q1892715': ['Q58480509'],
 'Q36389': ['Q11417', 'Q212434'],
 'Q856251': ['Q7748'],
 'Q10259814': ['Q43183', 'Q15809678'],
 'Q62832': ['Q811979', 'Q13226383', 'Q16519632'],
 'Q5098002': ['Q1914636'],
 'Q3266340': ['Q1914636', 'Q204686'],
 'Q24736020': ['Q3914'],
 'Q562166': ['Q4539', 'Q4830453', 'Q699405'],
 'Q11190': ['Q843601', 'Q20532'],
 'Q274393': ['Q1252971',
  'Q655686',
  'Q27038993',
  'Q213441',
  'Q628858',
  'Q4830453'],
 'Q786803': ['Q2865305', 'Q213441', 'Q601401'],
 'Q1399328': ['Q179415'],
 'Q7278': ['Q79913', 'Q155076', 'Q7210356'],
 'Q1156976': ['Q1914636'],
 'Q745877': ['Q3277997'],
 'Q43006': ['Q678649'],
 'Q2043121': ['Q1914636', 'Q188844', 'Q16605260'],
 'Q132241': ['Q15275719', 'Q43229', 'Q19711353'],
 'Q783007': ['Q3749082'],
 'Q11371': ['Q2169973', 'Q2401749'],
 'Q10611118': ['Q24455304', 'Q4830453', 'Q63922515'],
 'Q10874': ['Q737460', 'Q3041498', 'Q102186718'],
 'Q14745': ['Q31807746', 'Q1357761'],
 'Q2741056': ['Q14745', 'Q9158768'],
 'Q172809': ['Q3177899'],
 'Q875157': ['Q63099748', 'Q12292478', 'Q21980538'],
 'Q1137210': ['Q988108', 'Q1076486'],
 'Q40080': ['Q19817101', 'Q468756', 'Q17350442'],
 'Q865693': ['Q1374250'],
 'Q179010': ['Q746549'],
 'Q178678': ['Q7128792'],
 'Q385870': ['Q330284', 'Q132510', 'Q2925872'],
 'Q628967': ['Q1567259'],
 'Q65121387': ['Q213441'],
 'Q608152': ['Q4260475', 'Q29483'],
 'Q3308829': ['Q1773974'],
 'Q80687': ['Q255274'],
 'Q11419': ['Q11417', 'Q212434'],
 'Q194517': ['Q796194'],
 'Q622676': ['Q25312655'],
 'Q217102': ['Q1479406', 'Q1914636', 'Q2144962', 'Q627436', 'Q104637332'],
 'Q482919': ['Q134307', 'Q60548032'],
 'Q243237': ['Q877729', 'Q1479406', 'Q41689629'],
 'Q893': ['Q2647467'],
 'Q772298': ['Q16605260', 'Q699405', 'Q13226383'],
 'Q57305': ['Q288514', 'Q15275719'],
 'Q12684': ['Q11042', 'Q8187769', 'Q13427002'],
 'Q9266': ['Q2095', 'Q746549'],
 'Q269107': ['Q625145'],
 'Q706848': ['Q706884', 'Q83267'],
 'Q3303463': ['Q580939', 'Q62602544', 'Q1565905'],
 'Q2040532': ['Q309100'],
 'Q1139861': ['Q13226383'],
 'Q652122': ['Q3249551', 'Q2407861', 'Q2207288'],
 'Q7887327': ['Q1368912'],
 'Q184485': ['Q735'],
 'Q2306047': ['Q7406919', 'Q29017603'],
 'Q2576499': ['Q11974939'],
 'Q192874': ['Q736427', 'Q178'],
 'Q1076052': ['Q3914', 'Q1455871'],
 'Q132041': ['Q39546'],
 'Q188475': ['Q1420'],
 'Q2815948': ['Q42973', 'Q5322166', 'Q108289383'],
 'Q375': ['Q6128', 'Q748611', 'Q746549', 'Q1226651', 'Q477248', 'Q5004791'],
 'Q38516': ['Q858177'],
 'Q5166147': ['Q4260475'],
 'Q32112': ['Q7128792', 'Q212434'],
 'Q2845': ['Q1902558', 'Q3706669'],
 'Q48003': ['Q349'],
 'Q7434': ['Q11460'],
 'Q16364': ['Q66557825', 'Q112826975'],
 'Q45782': ['Q315630'],
 'Q11175': ['Q181767'],
 'Q654772': ['Q27686'],
 'Q590282': ['Q2359703'],
 'Q662423': ['Q455550', 'Q438746'],
 'Q17085167': ['Q1782301'],
 'Q557141': ['Q36649'],
 'Q1193068': ['Q5307737', 'Q61906224'],
 'Q2995263': ['Q60673395'],
 'Q41425': ['Q1020618', 'Q1370345'],
 'Q240471': ['Q1914636'],
 'Q16181479': ['Q77115'],
 'Q1506462': ['Q11416', 'Q65496063', 'Q19862406'],
 'Q40357': ['Q13226383', 'Q16831714', 'Q43229'],
 'Q219554': ['Q61065', 'Q911069'],
 'Q1061842': ['Q1683302'],
 'Q6663': ['Q746549', 'Q111981894'],
 'Q42417097': ['Q656365'],
 'Q13107184': ['Q2865305', 'Q213441', 'Q30139652'],
 'Q161837': ['Q7406919'],
 'Q41415': ['Q746549', 'Q2095', 'Q11435', 'Q14915034'],
 'Q272502': ['Q21595102', 'Q28134486', 'Q2095'],
 'Q519076': ['Q160117'],
 'Q1522620': ['Q132510'],
 'Q11325221': ['Q2752318'],
 'Q840545': ['Q472094', 'Q11190', 'Q113129019'],
 'Q2383811': ['Q2424752'],
 'Q185925': ['Q82604', 'Q36649'],
 'Q7208574': ['Q9266', 'Q44480854', 'Q28100113'],
 'Q7171565': ['Q180472'],
 'Q42527': ['Q2596997', 'Q2247340', 'Q473666'],
 'Q4290': ['Q1369832', 'Q3380760'],
 'Q149566': ['Q3914', 'Q159334'],
 'Q179226': ['Q7590', 'Q192581', 'Q3326454', 'Q212434', 'Q114732027'],
 'Q2917466': ['Q12797895'],
 'Q545599': ['Q3947', 'Q5832296'],
 'Q185196': ['Q11974939', 'Q80015'],
 'Q1318158': ['Q11460'],
 'Q55488': ['Q12819564', 'Q97987466'],
 'Q2736': ['Q1081491', 'Q216048'],
 'Q909906': ['Q1076486', 'Q1867518'],
 'Q849706': ['Q67183571', 'Q1433344', 'Q2298537'],
 'Q2861470': ['Q11190', 'Q113129019'],
 'Q2111762': ['Q656720', 'Q1662011', 'Q4830453'],
 'Q459886': ['Q43501'],
 'Q731615': ['Q179661', 'Q1423517'],
 'Q197195': ['Q11460'],
 'Q2292514': ['Q3914'],
 'Q3565622': ['Q67140121'],
 'Q30022': ['Q112654507', 'Q213441'],
 'Q179415': ['Q1190058', 'Q796194'],
 'Q104817981': ['Q1762621', 'Q99536263', 'Q655686', 'Q13226383', 'Q57334497'],
 'Q7188': ['Q2267705', 'Q43229'],
 'Q10932402': ['Q2334804'],
 'Q17517': ['Q11035', 'Q5082128'],
 'Q2963953': ['Q55071047', 'Q29881694'],
 'Q5874968': ['Q1374250'],
 'Q5377': ['Q877517', 'Q31085894', 'Q212434'],
 'Q3568190': ['Q213441'],
 'Q186637': ['Q811979', 'Q391414', 'Q25535985'],
 'Q68': ['Q11019', 'Q241317', 'Q1662611'],
 'Q848466': ['Q33394058', 'Q109583659'],
 'Q2141830': ['Q184872', 'Q155930', 'Q61788060'],
 'Q1936429': ['Q152095'],
 'Q11453': ['Q10843872', 'Q7590'],
 'Q3640372': ['Q5487333', 'Q212198'],
 'Q39614': ['Q1497375', 'Q12131650', 'Q13226383', 'Q811979'],
 'Q1282870': ['Q1076486'],
 'Q352222': ['Q10273457'],
 'Q211346': ['Q6817473', 'Q3332438'],
 'Q9826': ['Q159334'],
 'Q57036': ['Q190771', 'Q41176', 'Q17521458'],
 'Q188504': ['Q25312655', 'Q20532', 'Q269829'],
 'Q1079856': ['Q5259404'],
 'Q901347': ['Q9254306'],
 'Q1355413': ['Q171141'],
 'Q77115': ['Q18674739', 'Q41176', 'Q43229', 'Q1329623', 'Q8536775'],
 'Q1349657': ['Q1872261'],
 'Q167987': ['Q3705105'],
 'Q1971849': ['Q3914'],
 'Q1230600': ['Q1392857', 'Q4830453'],
 'Q484000': ['Q11436', 'Q1527901'],
 'Q25653': ['Q11446'],
 'Q208322': ['Q15124452', 'Q1144661'],
 'Q606591': ['Q179661'],
 'Q173799': ['Q1914636', 'Q28877'],
 'Q13233': ['Q866153', 'Q3712597', 'Q113773097'],
 'Q8434': ['Q133500', 'Q7406919'],
 'Q7243397': ['Q131207'],
 'Q475018': ['Q180516'],
 'Q220142': ['Q213441', 'Q4830453'],
 'Q9350': ['Q219067', 'Q376022', 'Q2270606', 'Q6864036', 'Q108458'],
 'Q555997': ['Q40578', 'Q7887327'],
 'Q165029': ['Q1391083', 'Q2588761'],
 'Q816851': ['Q13276'],
 'Q268052': ['Q43006', 'Q131207'],
 'Q305012': ['Q2992505'],
 'Q1497831': ['Q95722120', 'Q1427940'],
 'Q7075': ['Q1030034', 'Q13226383', 'Q2668072'],
 'Q857909': ['Q5307737'],
 'Q337810': ['Q43229', 'Q57261084'],
 'Q272399': ['Q30022'],
 'Q1054772': ['Q107281362'],
 'Q212989': ['Q7223116'],
 'Q2814066': ['Q3469910'],
 'Q2837942': ['Q3332438', 'Q12119633'],
 'Q808744': ['Q187456'],
 'Q721207': ['Q44782', 'Q6501349'],
 'Q1154336': ['Q22857'],
 'Q190531': ['Q2095'],
 'Q330284': ['Q39659371', 'Q655686'],
 'Q14693887': ['Q12177444'],
 'Q7358': ['Q10774753', 'Q17307272'],
 'Q786922': ['Q1454553', 'Q1195412'],
 'Q816425': ['Q2695280'],
 'Q446901': ['Q322563'],
 'Q221722': ['Q5198662', 'Q34442'],
 'Q866224': ['Q2426135'],
 'Q28803': ['Q748611', 'Q5004791'],
 'Q8007048': ['Q4830453'],
 'Q13319': ['Q866153'],
 'Q506': ['Q24060707', 'Q20011319'],
 'Q161439': ['Q36649', 'Q4470686', 'Q207241'],
 'Q1922416': ['Q187456'],
 'Q191655': ['Q746549', 'Q748611', 'Q81799', 'Q1316209', 'Q69393237'],
 'Q401404': ['Q55315265', 'Q8187769'],
 'Q332030': ['Q7590'],
 'Q169': ['Q14712', 'Q3314483'],
 'Q715858': ['Q1884224'],
 'Q157943': ['Q890057', 'Q20204151'],
 'Q213441': ['Q628858', 'Q49416455', 'Q655686', 'Q4830453'],
 'Q758780': ['Q108290759'],
 'Q876852': ['Q43229'],
 'Q152': ['Q1756633', 'Q1230015'],
 'Q76470': ['Q213441'],
 'Q336532': ['Q48835818', 'Q188507'],
 'Q1192284': ['Q13226383', 'Q11707'],
 'Q80994': ['Q7239', 'Q851990'],
 'Q174219': ['Q214609', 'Q12041698'],
 'Q22908': ['Q67140121'],
 'Q131596': ['Q10354598', 'Q5890494'],
 'Q12102552': ['Q1261026', 'Q1002697', 'Q11033'],
 'Q520611': ['Q2215841'],
 'Q5381371': ['Q1003030', 'Q2193887', 'Q626700'],
 'Q1147545': ['Q1521410', 'Q245005', 'Q211841', 'Q987767'],
 'Q460053': ['Q837721'],
 'Q1638773': ['Q126793'],
 'Q161851': ['Q2588076', 'Q1400881', 'Q684740'],
 'Q55190072': ['Q11190', 'Q1773974'],
 'Q231147': ['Q207892'],
 'Q44541': ['Q13276', 'Q746549'],
 'Q938683': ['Q173603', 'Q3030569', 'Q34493'],
 'Q12185286': ['Q23817612', 'Q24175362'],
 'Q6803181': ['Q156362'],
 'Q721931': ['Q811430'],
 'Q328325': ['Q108290556', 'Q811122'],
 'Q177': ['Q13485782', 'Q1408229', 'Q666242', 'Q26996677'],
 'Q377117': ['Q156839'],
 'Q184303': ['Q28877'],
 'Q3109696': ['Q11707'],
 'Q83364': ['Q32090', 'Q49773'],
 'Q7500021': ['Q112274793'],
 'Q811530': ['Q213441'],
 'Q16406': ['Q213441'],
 'Q11004': ['Q756', 'Q107122728', 'Q25403900'],
 'Q21017121': ['Q213441', 'Q13226383', 'Q655686', 'Q484847'],
 'Q200764': ['Q213441'],
 'Q1278442': ['Q160117'],
 'Q1550460': ['Q16861871'],
 'Q1545773': ['Q26270576', 'Q11019'],
 'Q34956': ['Q174211', 'Q531507', 'Q181394'],
 'Q1072166': ['Q27077054', 'Q112654507', 'Q655686'],
 'Q80831': ['Q11653', 'Q1815901', 'Q110829085'],
 'Q329737': ['Q2588761', 'Q108286217'],
 'Q178588': ['Q16629185'],
 'Q24140788': ['Q213441'],
 'Q176637': ['Q213441'],
 'Q691823': ['Q20888925', 'Q65037298'],
 'Q60061622': ['Q21198548'],
 'Q747457': ['Q3897491', 'Q746549'],
 'Q315412': ['Q67140121'],
 'Q657032': ['Q26343751', 'Q147538'],
 'Q659974': ['Q34394'],
 'Q741939': ['Q4390239'],
 'Q164731': ['Q537769'],
 'Q2471422': ['Q6388', 'Q179643'],
 'Q176440': ['Q8205328', 'Q39546'],
 'Q187916': ['Q3001412'],
 'Q1931925': ['Q213441'],
 'Q251958': ['Q1107656'],
 'Q284983': ['Q3897491'],
 'Q1706258': ['Q1228895'],
 'Q1414887': ['Q69393385'],
 'Q8486': ['Q40050',
  'Q1365365',
  'Q37756327',
  'Q147538',
  'Q19359564',
  'Q2647467',
  'Q473666'],
 'Q39631': ['Q11974939'],
 'Q27349': ['Q3332438', 'Q16061291', 'Q108289390'],
 'Q917028': ['Q753779', 'Q62602544'],
 'Q4260475': ['Q13226383', 'Q30139652', 'Q811979'],
 'Q5422874': ['Q1065579'],

In [320]:
wiki_subclasses = pd.DataFrame(
    list(category_triple.items()), columns=["category_qid", "subclassOf"]
).explode("subclassOf")

In [321]:
wiki_subclasses

    category_qid subclassOf
0         Q11707  Q62602544
0         Q11707   Q1431026
0         Q11707     Q41176
0         Q11707     Q41958
1          Q6097     Q61951
..           ...        ...
584      Q895060   Q1368898
584      Q895060  Q15855160
584      Q895060    Q877517
585      Q942297    Q362200
585      Q942297  Q65088916

[1111 rows x 2 columns]

In [381]:
df = category_occurences.merge(
    wiki_subclasses, left_on="qid", right_on="category_qid", how="left"
)

In [402]:
schema_mappings = pd.read_csv(get_path("class_mappings.csv"))
df = df.merge(schema_mappings, left_on="category", right_on="YelpCategory", how="left")

In [403]:
df

,category,occurences,split_category,qid,qid_label,category_qid,subclassOf,YelpCategory,SchemaType
0,Restaurants,52268,restaurant,Q11707,restaurant,Q11707,Q62602544,NaN,NaN
1,Restaurants,52268,restaurant,Q11707,restaurant,Q11707,Q1431026,NaN,NaN
2,Restaurants,52268,restaurant,Q11707,restaurant,Q11707,Q41176,NaN,NaN
3,Restaurants,52268,restaurant,Q11707,restaurant,Q11707,Q41958,NaN,NaN
4,Food,27781,food,Q2095,food,Q2095,Q1194058,Food,WPFooter
...,...,...,...,...,...,...,...,...,...
1974,Housing Cooperatives,1,housing cooperative,Q562166,housing cooperative,Q562166,Q4539,NaN,NaN
1975,Housing Cooperatives,1,housing cooperative,Q562166,housing cooperative,Q562166,Q4830453,NaN,NaN
1976,Housing Cooperatives,1,housing cooperative,Q562166,housing cooperative,Q562166,Q699405,NaN,NaN
1977,Trade Fairs,1,trade fair,Q57305,trade fair,Q57305,Q288514,NaN,NaN
1978,Trade Fairs,1,trade fair,Q57305,trade fair,Q57305,Q15275719,NaN,NaN

In [393]:
from rdflib import Namespace, Graph, URIRef, Literal, BNode
from rdflib.namespace import RDFS
import urllib.parse
schema = Namespace("https://schema.org/")
example = Namespace("https://example.org/")
wiki = Namespace("https://www.wikidata.org/entity/")

# triple_file = gzip.open(filename=f"/home/ubuntu/vol1/virtuoso/import/yelp_business.nt.gz", mode="at",encoding="utf-8")

G = Graph()
for i in df.itertuples():
    if i.qid is not np.nan and i.SchemaType is not np.nan:
        G.add(
            (
                URIRef(schema[i.SchemaType]),
                URIRef(schema["sameAs"]),
                URIRef(wiki[i.qid]),
            )
        )
    else:
        if i.qid is not np.nan:
            G.add(
                (
                    URIRef(wiki[i.qid]),
                    URIRef(RDFS["label"]),
                    URIRef(example[urllib.parse.quote("_".join(i.qid_label.split(" ")))])
                )
            )
            if "&" in i.category:
                G.add(
                    (
                        URIRef(example["_".join(i.category.split(" "))]),
                        URIRef(example["superclassOf"]),
                        URIRef(wiki[i.qid])
                    )
                )
            else:
                G.add(
                    (
                        URIRef(example["_".join(i.category.split(" "))]),
                        URIRef(schema["sameAs"]),
                        URIRef(wiki[i.qid])
                    )
                )
    if i.subclassOf is not None:
        G.add((wiki[i.category_qid], wiki["P279"], wiki[i.subclassOf]))

nt = G.serialize(destination="categories.nt", format="nt")


# triple_file.write(G.serialize(format="nt"))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/rdflib/plugins/serializers/nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

'coffee and tea' superclassOf 'qid of coffee'
'coffee and tea' superclassOf 'qid of tea'

'Restaurants' schema:sameAs 'qid of restaurant'

'qid of coffee' wiki:subclassOf(P279) 'qid'
'qid of tea' wiki:subclassOf(P279) 'qid'

schema:'restaurant' schema:sameAs wiki:'restaurant'