In [260]:
# https://github.com/maxlath/wikibase-dump-filter
# https://github.com/maxlath/wikibase-dump-filter/blob/main/docs/cli.md
# extracter instance of (P31) city (Q515) eller state in US (Q35657) og som er i country (P17) USA (Q30) eller Mexico (Q96) eller Canada(Q16)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q515,Q35657&P17:Q30,Q96,Q16' --omit sitelinks > city_state_america.ndjson

# extracter instance of (P31) business (Q4830453)
# led efter has subsidiary (P355)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q4830453' --omit sitelinks > business.ndjson

In [261]:
# https://linuxhint.com/bash_head_tail_command/
#!head -n 1 simplified_dump.ndjson > simpl.ndjson

In [262]:
# https://stedolan.github.io/jq/tutorial/
# https://www.linode.com/docs/guides/using-jq-to-process-json-on-the-command-line/
#!jq '.' simpl.ndjson > simpl.json

In [263]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
from math import ceil
import numpy as np
import pandas as pd
import requests
from SPARQLWrapper import JSON, SPARQLWrapper

from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.wikidata_query_tools import (
    retrieve_wikidata_claims,
    wikidata_query,
)

In [453]:
query_all_us_states = """
SELECT ?state
WHERE {
  ?state wdt:P31 wd:Q35657 .
}
LIMIT 10
"""
wikidata_query(sparql_query=query_all_us_states)

  state.type                          state.value
0        uri   http://www.wikidata.org/entity/Q99
1        uri  http://www.wikidata.org/entity/Q173
2        uri  http://www.wikidata.org/entity/Q724
3        uri  http://www.wikidata.org/entity/Q759
4        uri  http://www.wikidata.org/entity/Q771
5        uri  http://www.wikidata.org/entity/Q779
6        uri  http://www.wikidata.org/entity/Q782
7        uri  http://www.wikidata.org/entity/Q797
8        uri  http://www.wikidata.org/entity/Q812
9        uri  http://www.wikidata.org/entity/Q816

In [454]:
def category_query(category: str):
    return f"""SELECT distinct ?item ?itemLabel ?itemDescription WHERE{{
    ?item ?label "{category}"@en .
    ?article schema:about ?item .
    ?article schema:inLanguage "en" .
    ?article schema:isPartOf <https://en.wikipedia.org/>.
    SERVICE wikibase:label {{ bd:serviceParam wikibase:language "en". }}}}"""

In [455]:
wiki_qid_of_category = wikidata_query(category_query(category="restaurant"))[
    ["item.value", "itemLabel.value", "itemDescription.value"]
].head()
wiki_qid_of_category

,item.value,itemLabel.value,itemDescription.value
0,http://www.wikidata.org/entity/Q263063,Cold Spring Tavern,restaurant
1,http://www.wikidata.org/entity/Q171475,Herberg Onder de Linden,restaurant
2,http://www.wikidata.org/entity/Q11707,restaurant,single establishment which prepares and serves...
3,http://www.wikidata.org/entity/Q1453665,Pink's Hot Dogs,restaurant
4,http://www.wikidata.org/entity/Q2068768,Heart Attack Grill,restaurant

In [267]:
def min_qid(df_qid):
    # Getting the minimum value of the QID number and the itemLabel
    index = df_qid['item.value'].apply(lambda x: int(x.split("/")[-1].replace("Q", ""))).idxmin()
    df = df_qid.loc[index][['item.value','itemLabel.value']]
    return df[0][31:], df[1]
min_qid(df_qid=wiki_qid_of_category)

('Q11707', 'restaurant')

In [325]:
test_query = wikidata_query(category_query(category="garden"))
test_query["item.value"][0][31:], test_query["itemLabel.value"][0]

('Q909444', 'Sentō Imperial Palace')

In [328]:
df = (wikidata_query(category_query(category="garden"))[['itemLabel.value', 'item.value']])
df

                     itemLabel.value                                item.value
0              Sentō Imperial Palace    http://www.wikidata.org/entity/Q909444
1                             garden   http://www.wikidata.org/entity/Q1107656
2                          Soswaewon    http://www.wikidata.org/entity/Q493693
3                Parco del Valentino   http://www.wikidata.org/entity/Q1061804
4        Classical Gardens of Suzhou   http://www.wikidata.org/entity/Q1144337
5        McGovern Centennial Gardens  http://www.wikidata.org/entity/Q21196493
6      Schedel Arboretum and Gardens   http://www.wikidata.org/entity/Q7431032
7  Gardens of the French Renaissance   http://www.wikidata.org/entity/Q5522491
8                     Désert de Retz   http://www.wikidata.org/entity/Q1270698
9              Weymouth Peace Garden  http://www.wikidata.org/entity/Q28003099

In [326]:
min_qid(wikidata_query(category_query(category="garden")))

('Q493693', 'Soswaewon')

In [271]:
biz = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)

# schema_types = pd.read_csv(get_path("schemaorg-current-https-types.csv"))

In [272]:
categories_unique = list(set(biz["categories"].str.cat(sep=", ").split(sep=", ")))
categories = list(biz["categories"].str.cat(sep=", ").split(sep=", "))

In [273]:
from collections import Counter

category_occurences = pd.DataFrame(list(dict(Counter(categories)).items()), columns=["category", "occurences"]).sort_values(by="occurences", ascending=False)

In [274]:
display(category_occurences)

                  category  occurences
17             Restaurants       52268
18                    Food       27781
12                Shopping       24395
135          Home Services       14356
107          Beauty & Spas       14292
...                    ...         ...
1261            Beach Bars           1
1267           DUI Schools           1
1270            Patent Law           1
1274  Housing Cooperatives           1
1310           Trade Fairs           1

[1311 rows x 2 columns]

In [275]:
word = "Undersea/Hyperbaric Medicine"


def split_word_inc_slash(word):
    # Splitting the words that have a slash in them, and turning them into two words
    word_space = word.split(" ")
    word_space
    new_wordlist_a = []
    new_wordlist_b = []
    for i in word_space:
        i = i.lower()
        if "/" not in i:
            new_wordlist_a.append(i)
            new_wordlist_b.append(i)
        else:
            slash_split = i.split("/")
            new_wordlist_a.append(slash_split[0])
            new_wordlist_b.append(slash_split[1])
    new_word_a = " ".join(new_wordlist_a)
    new_word_b = " ".join(new_wordlist_b)
    return [new_word_a, new_word_b]


split_word_inc_slash(word)

['undersea medicine', 'hyperbaric medicine']

In [276]:
# transforms Yelp category words to words that is succesfull in finding the QID on wikidata
# TODO: fix & split issues
# TODO: fix & split has to be done first, and / split after
import re
import inflect
p = inflect.engine()

categories_dict = {}
for word in categories_unique:
    if '&' in word and '/' in word:
        word_list = re.split('&|/',word.lower())
        print(word_list)
        categories_dict[word] = word_list
    elif '&' in word:
        word_list = list(filter(None, word.lower().split(sep=' & ')))
        categories_dict[word] = word_list
    elif '/' in word:
        categories_dict[word] = split_word_inc_slash(word)
    else:
        categories_dict[word] = [word.lower()]

categories_dict_singular = {}
for key, value in categories_dict.items():
    new_value = []
    for word in value:
        if p.singular_noun(word) is False:
            word = word
        else:
            word = p.singular_noun(word)
        new_value.append(word)
    categories_dict_singular[key] = new_value

['heating ', ' air conditioning', 'hvac']

In [277]:
categories_dict_singular['Heating & Air Conditioning/HVAC']

['heating ', ' air conditioning', 'hvac']

In [278]:
category_occurences["split_category"] = category_occurences["category"].map(
    categories_dict_singular
)
category_occurences = category_occurences.explode("split_category")

In [279]:
category_occurences[category_occurences["category"].str.contains("/")][
    ["category", "occurences"]
].drop_duplicates()

                              category  occurences
436    Heating & Air Conditioning/HVAC        1199
189                       Cajun/Creole         923
610   Water Heater Installation/Repair         557
396       Community Service/Non-Profit         503
363              Blow Dry/Out Services         456
331                 Tapas/Small Plates         440
177                   Masonry/Concrete         363
218            Door Sales/Installation         277
348            Bike Repair/Maintenance         273
2                Naturopathic/Holistic         221
408            Laser Eye Surgery/Lasik         191
700                   Gun/Rifle Ranges         153
734   Screen Printing/T-Shirt Printing         128
559                   Rafting/Kayaking         126
242               Patisserie/Cake Shop         117
842         Fitness/Exercise Equipment          98
243                      Live/Raw Food          88
947              Video/Film Production          87
555           Swimming Lessons/Schools          83
667      Generator Installation/Repair          72
744                    Persian/Iranian          40
1010             Hypnosis/Hypnotherapy          40
239        Check Cashing/Pay-day Loans          38
945            Prenatal/Perinatal Care          33
964                 Himalayan/Nepalese          21
1067     Audio/Visual Equipment Rental          12
309                  ATV Rentals/Tours          12
1078      Undersea/Hyperbaric Medicine           5

In [546]:
andlist = category_occurences[category_occurences["category"].str.contains("&")]["category"].drop_duplicates().to_list()

In [392]:
category_occurences[category_occurences["category"].str.contains("air")]

,category,occurences,split_category,qid,qid_label
223,Auto Repair,5433,auto repair,NaN,None
105,Hair Salons,5046,hair salon,NaN,None
116,Hair Removal,3239,hair removal,Q625145,depilation
281,Hair Stylists,1459,hair stylist,Q55187,hairdresser
96,IT Services & Computer Repair,1189,it service,NaN,None
96,IT Services & Computer Repair,1189,computer repair,NaN,None
365,Men's Hair Salons,828,men's hair salon,NaN,None
152,Appliances & Repair,800,appliance,Q212920,home appliance
152,Appliances & Repair,800,repair,NaN,None
464,Transmission Repair,639,transmission repair,NaN,None
106,Hair Extensions,624,hair extension,NaN,None
610,Water Heater Installation/Repair,557,water heater installation,NaN,None
610,Water Heater Installation/Repair,557,water heater repair,NaN,None
445,Mobile Phone Repair,525,mobile phone repair,NaN,None
444,Electronics Repair,503,electronics repair,NaN,None
115,Laser Hair Removal,394,laser hair removal,Q783007,laser hair removal
296,Windshield Installation & Repair,352,windshield installation,NaN,None
296,Windshield Installation & Repair,352,repair,NaN,None
428,Jewelry Repair,347,jewelry repair,NaN,None
547,Wheel & Rim Repair,303,wheel,Q446,wheel
547,Wheel & Rim Repair,303,rim repair,NaN,None
348,Bike Repair/Maintenance,273,bike repair,NaN,None
348,Bike Repair/Maintenance,273,bike maintenance,NaN,None
370,Shoe Repair,256,shoe repair,NaN,None
564,Watch Repair,241,watch repair,NaN,None
570,Motorcycle Repair,204,motorcycle repair,NaN,None
695,Drywall Installation & Repair,151,drywall installation,NaN,None
695,Drywall Installation & Repair,151,repair,NaN,None
315,RV Repair,108,rv repair,NaN,None
769,Donairs,85,donair,NaN,None
781,Boat Repair,78,boat repair,NaN,None
667,Generator Installation/Repair,72,generator installation,NaN,None
667,Generator Installation/Repair,72,generator repair,NaN,None
624,Commercial Truck Repair,65,commercial truck repair,NaN,None
409,Hair Loss Centers,59,hair loss center,NaN,None
492,Furniture Repair,53,furniture repair,NaN,None
841,Kids Hair Salons,49,kids hair salon,NaN,None
316,Trailer Repair,43,trailer repair,NaN,None
978,Foundation Repair,42,foundation repair,NaN,None
625,Farm Equipment Repair,39,farm equipment repair,NaN,None
950,Mobile Dent Repair,38,mobile dent repair,NaN,None
831,Clock Repair,25,clock repair,NaN,None
643,Motorsport Vehicle Repairs,19,motorsport vehicle repair,NaN,None
1173,Hybrid Car Repair,10,hybrid car repair,NaN,None
880,Mobile Home Repair,7,mobile home repair,NaN,None
1181,Aircraft Repairs,4,aircraft repair,NaN,None
1034,Bike Repair,3,bike repair,NaN,None
1284,Sauna Installation & Repair,2,sauna installation,NaN,None
1284,Sauna Installation & Repair,2,repair,NaN,None
1310,Trade Fairs,1,trade fair,Q57305,trade fair

In [497]:
category_qid = {}
category_qid2 = {}
for cat in category_occurences["split_category"].to_list():
    try:
        wikidata_query_cat_query = wikidata_query(category_query(category=cat)) # Querys wikidata for the QID of the category
        category_qid[cat] = (wikidata_query_cat_query["item.value"][0][31:],wikidata_query_cat_query["itemLabel.value"][0]) # Adds QID and label of the first result of the query
        category_qid2[cat] = min_qid(wikidata_query_cat_query) # Adds QID and label with min_qid function
    except:
        pass

In [500]:
from pprint import pprint
from deepdiff import DeepDiff
category_qid_only_qid = {key:value for (key,value) in category_qid.items()}
category_qid2_only_qid = {key:value for (key,value) in category_qid2.items()}
# compares the two dictionaries and returns the differences in old value and new value for every key
ddiff = DeepDiff(category_qid_only_qid, category_qid2_only_qid, verbose_level=1)

In [505]:
ddiff

{'values_changed': {"root['restaurant'][0]": {'new_value': 'Q11707',
   'old_value': 'Q1453665'},
  "root['restaurant'][1]": {'new_value': 'restaurant',
   'old_value': "Pink's Hot Dogs"},
  "root['food'][0]": {'new_value': 'Q2095', 'old_value': 'Q894875'},
  "root['food'][1]": {'new_value': 'food', 'old_value': 'Botargo'},
  "root['bar'][0]": {'new_value': 'Q860', 'old_value': 'Q28337'},
  "root['bar'][1]": {'new_value': 'foobar', 'old_value': 'shoal'},
  "root['automotive'][0]": {'new_value': 'Q1850259', 'old_value': 'Q7981858'},
  "root['automotive'][1]": {'new_value': 'Renault Rodeo',
   'old_value': 'Welsh Automotive Forum'},
  "root['service'][0]": {'new_value': 'Q44127', 'old_value': 'Q906066'},
  "root['service'][1]": {'new_value': 'server', 'old_value': 'church service'},
  "root['sandwich'][0]": {'new_value': 'Q28803', 'old_value': 'Q7689067'},
  "root['sandwich'][1]": {'new_value': 'sandwich',
   'old_value': 'Tavern sandwich'},
  "root['fast food'][0]": {'new_value': 'Q81799', 'old_value': 'Q25234965'},
  "root['fast food'][1]": {'new_value': 'fast food', 'old_value': 'Knysza'},
  "root['home'][0]": {'new_value': 'Q7743', 'old_value': 'Q3046346'},
  "root['garden'][0]": {'new_value': 'Q493693', 'old_value': 'Q909444'},
  "root['garden'][1]": {'new_value': 'Soswaewon',
   'old_value': 'Sentō Imperial Palace'},
  "root['burger'][0]": {'new_value': 'Q6663', 'old_value': 'Q588537'},
  "root['burger'][1]": {'new_value': 'hamburger', 'old_value': 'Anton Burger'},
  "root['entertainment'][0]": {'new_value': 'Q173799',
   'old_value': 'Q1501342'},
  "root['entertainment'][1]": {'new_value': 'entertainment',
   'old_value': 'Vent'},
  "root['instruction'][0]": {'new_value': 'Q216200', 'old_value': 'Q1057179'},
  "root['instruction'][1]": {'new_value': 'legal norm',
   'old_value': 'user guide'},
  "root['dentist'][0]": {'new_value': 'Q27349', 'old_value': 'Q4933526'},
  "root['dentist'][1]": {'new_value': 'dentist', 'old_value': 'Bob Norton'},
  "root['venue'][0]": {'new_value': 'Q597573', 'old_value': 'Q1154727'},
  "root['venue'][1]": {'new_value': 'National Theater of Albania',
   'old_value': 'Takemoto-za'},
  "root['gift'][0]": {'new_value': 'Q184303', 'old_value': 'Q707482'},
  "root['convenience store'][0]": {'new_value': 'Q7361709',
   'old_value': 'Q28405997'},
  "root['convenience store'][1]": {'new_value': 'convenience store',
   'old_value': 'All Day Convenience Store'},
  "root['gym'][0]": {'new_value': 'Q14092', 'old_value': 'Q5099261'},
  "root['gym'][1]": {'new_value': 'gymnasium',
   'old_value': 'Chilwell Olympia'},
  "root['pub'][0]": {'new_value': 'Q82455', 'old_value': 'Q106652262'},
  "root['pub'][1]": {'new_value': 'Lamb & Flag',
   'old_value': 'The Coat & Badge, Putney'},
  "root['accessory'][0]": {'new_value': 'Q706848', 'old_value': 'Q1065579'},
  "root['accessory'][1]": {'new_value': 'accessory',
   'old_value': 'costume accessory'},
  "root['cosmetic'][0]": {'new_value': 'Q7243397', 'old_value': 'Q8243409'},
  "root['cosmetic'][1]": {'new_value': 'primer', 'old_value': 'eyeliner'},
  "root['hair stylist'][0]": {'new_value': 'Q55187', 'old_value': 'Q16734435'},
  "root['hair stylist'][1]": {'new_value': 'hairdresser',
   'old_value': 'Peter Coppola'},
  "root['veterinarian'][0]": {'new_value': 'Q202883', 'old_value': 'Q6776427'},
  "root['veterinarian'][1]": {'new_value': 'veterinarian',
   'old_value': 'Martin R. Dinnes'},
  "root['public service'][0]": {'new_value': 'Q161837',
   'old_value': 'Q11771944'},
  "root['public service'][1]": {'new_value': 'public service',
   'old_value': 'civil service'},
  "root['medical center'][0]": {'new_value': 'Q4260475',
   'old_value': 'Q6460011'},
  "root['medical center'][1]": {'new_value': 'medical facility',
   'old_value': 'LSU Health Sciences Center New Orleans'},
  "root['music venue'][0]": {'new_value': 'Q619000', 'old_value': 'Q7374625'},
  "root['music venue'][1]": {'new_value': 'Shibuya-AX',
   'old_value': 'Royal Oak Music Theatre'},
  "root['pet store'][0]": {'new_value': 'Q220142', 'old_value': 'Q17111474'},
  "root['pet store'][1]": {'new_value': 'pet store',
   'old_value': 'Petland, Inc.'},
  "root['optician'][0]": {'new_value': 'Q1996635', 'old_value': 'Q5536785'},
  "root['optician'][1]": {'new_value': 'optician', 'old_value': 'George Bass'},
  "root['park'][0]": {'new_value': 'Q22698', 'old_value': 'Q150118'},
  "root['park'][1]": {'new_value': 'park', 'old_value': 'Osaka Castle Park'},
  "root['makeup artist'][0]": {'new_value': 'Q935666',
   'old_value': 'Q28534146'},
  "root['makeup artist'][1]": {'new_value': 'make-up artist',
   'old_value': 'Richard Alonzo'},
  "root['appliance'][0]": {'new_value': 'Q212920', 'old_value': 'Q621580'},
  "root['appliance'][1]": {'new_value': 'home appliance',
   'old_value': 'computer appliance'},
  "root['discount store'][0]": {'new_value': 'Q261428',
   'old_value': 'Q7912685'},
  "root['discount store'][1]": {'new_value': 'discount store',
   'old_value': 'Valu-Mart'},
  "root['tour'][0]": {'new_value': 'Q1156976', 'old_value': 'Q24074891'},
  "root['tour'][1]": {'new_value': 'excursion',
   'old_value': 'Piano & A Microphone Tour'},
  "root['kitchen'][0]": {'new_value': 'Q43164', 'old_value': 'Q3078145'},
  "root['kitchen'][1]": {'new_value': 'kitchen', 'old_value': 'kuri'},
  "root['vintage'][0]": {'new_value': 'Q1573930', 'old_value': 'Q1975981'},
  "root['vintage'][1]": {'new_value': 'vintage clothing',
   'old_value': 'vintage'},
  "root['credit union'][0]": {'new_value': 'Q745877', 'old_value': 'Q5122692'},
  "root['credit union'][1]": {'new_value': 'credit union',
   'old_value': 'Citizens Equity First Credit Union'},
  "root['tattoo'][0]": {'new_value': 'Q43006', 'old_value': 'Q72941682'},
  "root['tattoo'][1]": {'new_value': 'tattooing', 'old_value': 'tattoo'},
  "root['performing art'][0]": {'new_value': 'Q184485',
   'old_value': 'Q2119392'},
  "root['performing art'][1]": {'new_value': 'performing arts',
   'old_value': 'xiangsheng'},
  "root['photographer'][0]": {'new_value': 'Q33231', 'old_value': 'Q107109'},
  "root['photographer'][1]": {'new_value': 'photographer',
   'old_value': 'Alois Löcherer'},
  "root['electrician'][0]": {'new_value': 'Q165029', 'old_value': 'Q5357767'},
  "root['electrician'][1]": {'new_value': 'electrician',
   'old_value': 'theatrical electrician'},
  "root['roofing'][0]": {'new_value': 'Q1971625', 'old_value': 'Q15843013'},
  "root['roofing'][1]": {'new_value': 'tar paper', 'old_value': 'rooftopping'},
  "root['dance club'][0]": {'new_value': 'Q622425', 'old_value': 'Q1228895'},
  "root['dance club'][1]": {'new_value': 'nightclub',
   'old_value': 'discothèque'},
  "root['painter'][0]": {'new_value': 'Q43628', 'old_value': 'Q101414'},
  "root['painter'][1]": {'new_value': 'Marcin Bogusławski',
   'old_value': 'Max Uhlig'},
  "root['nutritionist'][0]": {'new_value': 'Q2576499',
   'old_value': 'Q3167989'},
  "root['nutritionist'][1]": {'new_value': 'nutritionist',
   'old_value': 'Jean-Michel Cohen'},
  "root['food stand'][0]": {'new_value': 'Q3568190', 'old_value': 'Q11996675'},
  "root['food stand'][1]": {'new_value': 'food booth',
   'old_value': 'hot dog stand'},
  "root['ophthalmologist'][0]": {'new_value': 'Q3112824',
   'old_value': 'Q15999366'},
  "root['ophthalmologist'][1]": {'new_value': 'Govindappa Venkataswamy',
   'old_value': 'Johan Georg Raeder'},
  "root['bookstore'][0]": {'new_value': 'Q200764', 'old_value': 'Q5563638'},
  "root['bookstore'][1]": {'new_value': 'bookstore',
   'old_value': "Giovanni's Room Bookstore"},
  "root['insurance'][0]": {'new_value': 'Q43183', 'old_value': 'Q811455'},
  "root['insurance'][1]": {'new_value': 'insurance',
   'old_value': "builder's risk insurance"},
  "root['telecommunication'][0]": {'new_value': 'Q418',
   'old_value': 'Q16975727'},
  "root['telecommunication'][1]": {'new_value': 'telecommunication',
   'old_value': 'audit'},
  "root['internet service provider'][0]": {'new_value': 'Q11371',
   'old_value': 'Q1360246'},
  "root['internet service provider'][1]": {'new_value': 'Internet service provider',
   'old_value': 'NetCologne'},
  "root['preschool'][0]": {'new_value': 'Q1076052', 'old_value': 'Q1455871'},
  "root['preschool'][1]": {'new_value': 'preschool',
   'old_value': 'child care'},
  "root['winery'][0]": {'new_value': 'Q116766', 'old_value': 'Q188138'},
  "root['winery'][1]": {'new_value': 'Chateau Montelena',
   'old_value': 'Château Doisy-Dubroca'},
  "root['chocolatier'][0]": {'new_value': 'Q305012', 'old_value': 'Q6686719'},
  "root['chocolatier'][1]": {'new_value': 'chocolatier',
   'old_value': 'Louis Barnett'},
  "root['shop'][0]": {'new_value': 'Q213441', 'old_value': 'Q25221964'},
  "root['shop'][1]": {'new_value': 'shop', 'old_value': 'Cargo'},
  "root['boot camp'][0]": {'new_value': 'Q1550460', 'old_value': 'Q5455470'},
  "root['boot camp'][1]": {'new_value': 'recruit training',
   'old_value': 'fitness boot camp'},
  "root['lighting fixture'][0]": {'new_value': 'Q815738',
   'old_value': 'Q7434376'},
  "root['lighting fixture'][1]": {'new_value': 'light fixture',
   'old_value': 'Scoop'},
  "root['equipment'][0]": {'new_value': 'Q1880871', 'old_value': 'Q10273457'},
  "root['equipment'][1]": {'new_value': 'M-1956 Load-Carrying Equipment',
   'old_value': 'equipment'},
  "root['watch'][0]": {'new_value': 'Q178794', 'old_value': 'Q4770013'},
  "root['watch'][1]": {'new_value': 'watch', 'old_value': 'Anonimo'},
  "root['post office'][0]": {'new_value': 'Q35054', 'old_value': 'Q840868'},
  "root['post office'][1]": {'new_value': 'post office',
   'old_value': 'General Post Office'},
  "root['courier'][0]": {'new_value': 'Q848466', 'old_value': 'Q890103'},
  "root['courier'][1]": {'new_value': 'courier', 'old_value': 'mule'},
  "root['sports club'][0]": {'new_value': 'Q122245', 'old_value': 'Q671637'},
  "root['sports club'][1]": {'new_value': 'HSC 2000 Coburg',
   'old_value': 'HC Red Ice'},
  "root['obstetrician'][0]": {'new_value': 'Q2958876',
   'old_value': 'Q21707519'},
  "root['obstetrician'][1]": {'new_value': 'Charles Delucena Meigs',
   'old_value': 'Ian Greer'},
  "root['wrap'][0]": {'new_value': 'Q1343262', 'old_value': 'Q8037573'},
  "root['wrap'][1]": {'new_value': 'baby sling', 'old_value': 'wrap'},
  "root['landmark'][0]": {'new_value': 'Q2319498', 'old_value': 'Q7600356'},
  "root['landmark'][1]": {'new_value': 'landmark',
   'old_value': 'Stapeley Hill'},
  "root['historical building'][0]": {'new_value': 'Q2968715',
   'old_value': 'Q55633787'},
  "root['historical building'][1]": {'new_value': 'Château de Bélarga',
   'old_value': 'St. Julien House'},
  "root['pool'][0]": {'new_value': 'Q1501', 'old_value': 'Q11020'},
  "root['pool'][1]": {'new_value': 'swimming pool', 'old_value': 'pool'},
  "root['shopping center'][0]": {'new_value': 'Q11315',
   'old_value': 'Q24944716'},
  "root['shopping center'][1]": {'new_value': 'shopping center',
   'old_value': 'Punggol Plaza'},
  "root['religious organization'][0]": {'new_value': 'Q44476',
   'old_value': 'Q7137405'},
  "root['religious organization'][1]": {'new_value': 'Greek Byzantine Catholic Church',
   'old_value': 'Parisada Hindu Dharma Indonesia'},
  "root['amusement park'][0]": {'new_value': 'Q44043', 'old_value': 'Q130170'},
  "root['amusement park'][1]": {'new_value': 'Adventure City',
   'old_value': 'Eram amusement Park'},
  "root['swimming pool'][0]": {'new_value': 'Q1501', 'old_value': 'Q4756155'},
  "root['swimming pool'][1]": {'new_value': 'swimming pool',
   'old_value': 'Andrew "Boy" Charlton Pool'},
  "root['martial art'][0]": {'new_value': 'Q11419', 'old_value': 'Q188923'},
  "root['martial art'][1]": {'new_value': 'karate',
   'old_value': 'Jeet Kune Do'},
  "root['supplement'][0]": {'new_value': 'Q209163', 'old_value': 'Q645858'},
  "root['supplement'][1]": {'new_value': 'video game expansion pack',
   'old_value': 'dietary supplement'},
  "root['pediatrician'][0]": {'new_value': 'Q105591',
   'old_value': 'Q95161143'},
  "root['pediatrician'][1]": {'new_value': 'Arthur Schlossmann',
   'old_value': 'Samuel Z. Levine'},
  "root['stationery'][0]": {'new_value': 'Q875696', 'old_value': 'Q1309927'},
  "root['stationery'][1]": {'new_value': 'stationery',
   'old_value': 'wall calendar'},
  "root['landscape architect'][0]": {'new_value': 'Q2815948',
   'old_value': 'Q11309346'},
  "root['landscape architect'][1]": {'new_value': 'landscape architect',
   'old_value': 'Geraldine Knight Scott'},
  "root['summer camp'][0]": {'new_value': 'Q876852', 'old_value': 'Q85750307'},
  "root['summer camp'][1]": {'new_value': 'summer camp',
   'old_value': 'Camp Happy'},
  "root['mental health'][0]": {'new_value': 'Q317309',
   'old_value': 'Q21071148'},
  "root['mental health'][1]": {'new_value': 'mental health',
   'old_value': 'VAGA'},
  "root['elementary school'][0]": {'new_value': 'Q9842',
   'old_value': 'Q30594834'},
  "root['elementary school'][1]": {'new_value': 'primary school',
   'old_value': 'Dyssegårdsskolen'},
  "root['church'][0]": {'new_value': 'Q16970', 'old_value': 'Q246275'},
  "root['church'][1]": {'new_value': 'church building',
   'old_value': 'Vefa Kilise Mosque'},
  "root['cabinetry'][0]": {'new_value': 'Q2741056', 'old_value': 'Q16868432'},
  "root['cabinetry'][1]": {'new_value': 'cabinet', 'old_value': 'cabinetry'},
  "root['hiking'][0]": {'new_value': 'Q353156', 'old_value': 'Q12014035'},
  "root['irrigation'][0]": {'new_value': 'Q11453', 'old_value': 'Q21893647'},
  "root['chip'][0]": {'new_value': 'Q80831', 'old_value': 'Q1074500'},
  "root['chip'][1]": {'new_value': 'integrated circuit', 'old_value': 'chip'},
  "root['fence'][0]": {'new_value': 'Q148571', 'old_value': 'Q5442977'},
  "root['gate'][0]": {'new_value': 'Q53060', 'old_value': 'Q5526978'},
  "root['bowling'][0]": {'new_value': 'Q172809', 'old_value': 'Q64157080'},
  "root['bowling'][1]": {'new_value': 'ten-pin bowling',
   'old_value': 'PBA Tour Playoffs'},
  "root['waffle'][0]": {'new_value': 'Q375', 'old_value': 'Q7959430'},
  "root['beer garden'][0]": {'new_value': 'Q857909', 'old_value': 'Q880338'},
  "root['beer garden'][1]": {'new_value': 'beer garden',
   'old_value': 'Hofbräukeller'},
  "root['resort'][0]": {'new_value': 'Q875157', 'old_value': 'Q5111380'},
  "root['resort'][1]": {'new_value': 'resort',
   'old_value': 'Christmas Island Resort'},
  "root['animal shelter'][0]": {'new_value': 'Q1411287',
   'old_value': 'Q5056599'},
  "root['animal shelter'][1]": {'new_value': 'animal shelter',
   'old_value': 'Cedar Cove Feline Conservatory & Sanctuary'},
  "root['comic book'][0]": {'new_value': 'Q95021', 'old_value': 'Q252480'},
  "root['comic book'][1]": {'new_value': 'Lazarus Ledd', 'old_value': 'Bamse'},
  "root['vinyl record'][0]": {'new_value': 'Q178588',
   'old_value': 'Q16629185'},
  "root['vinyl record'][1]": {'new_value': 'vinyl record',
   'old_value': 'phonograph record'},
  "root['stadium'][0]": {'new_value': 'Q8507', 'old_value': 'Q48710'},
  "root['stadium'][1]": {'new_value': 'Parc Olympique Lyonnais',
   'old_value': 'Estadio Suppici'},
  "root['arena'][0]": {'new_value': 'Q33695', 'old_value': 'Q636641'},
  "root['arena'][1]": {'new_value': 'PostFinance-Arena',
   'old_value': 'Ikast-Brande Arena'},
  "root['cannabis dispensary'][0]": {'new_value': 'Q24140788',
   'old_value': 'Q25221500'},
  "root['cannabis dispensary'][1]": {'new_value': 'cannabis shop',
   'old_value': 'Harborside Health Center'},
  "root['accountant'][0]": {'new_value': 'Q326653', 'old_value': 'Q6389956'},
  "root['accountant'][1]": {'new_value': 'accountant',
   'old_value': 'Kenneth Carter'},
  "root['surgeon'][0]": {'new_value': 'Q103597', 'old_value': 'Q924456'},
  "root['surgeon'][1]": {'new_value': 'Georg Hartog Gerson',
   'old_value': 'Herbert Olivecrona'},
  "root['airport'][0]": {'new_value': 'Q41292', 'old_value': 'Q583587'},
  "root['airport'][1]": {'new_value': 'Misrata Airport',
   'old_value': 'Bocas del Toro "Isla Colón" International Airport'},
  "root['adult'][0]": {'new_value': 'Q80994', 'old_value': 'Q7073152'},
  "root['adult'][1]": {'new_value': 'adult', 'old_value': 'OVGuide'},
  "root['airline'][0]": {'new_value': 'Q8782', 'old_value': 'Q46970'},
  "root['airline'][1]": {'new_value': 'OpenSkies', 'old_value': 'airline'},
  "root['deck'][0]": {'new_value': 'Q194428', 'old_value': 'Q208123'},
  "root['deck'][1]": {'new_value': 'stage', 'old_value': 'deck'},
  "root['casino'][0]": {'new_value': 'Q133215', 'old_value': 'Q23301468'},
  "root['casino'][1]": {'new_value': 'casino', 'old_value': 'Crockfords'},
  "root['swimwear'][0]": {'new_value': 'Q212989', 'old_value': 'Q2736850'},
  "root['swimwear'][1]": {'new_value': 'swimsuit',
   'old_value': 'one-piece swimsuit'},
  "root['plastic surgeon'][0]": {'new_value': 'Q5489314',
   'old_value': 'Q5510020'},
  "root['plastic surgeon'][1]": {'new_value': 'Frank Ryan',
   'old_value': 'Fushih Pan'},
  "root['falafel'][0]": {'new_value': 'Q188788', 'old_value': 'Q1390062'},
  "root['dance school'][0]": {'new_value': 'Q1561361',
   'old_value': 'Q23005232'},
  "root['dance school'][1]": {'new_value': 'dance studio',
   'old_value': 'dance school'},
  "root['utility'][0]": {'new_value': 'Q312466', 'old_value': 'Q466707'},
  "root['utility'][1]": {'new_value': 'utility software',
   'old_value': 'utility'},
  "root['waterproofing'][0]": {'new_value': 'Q811964',
   'old_value': 'Q2326110'},
  "root['shutter'][0]": {'new_value': 'Q691823', 'old_value': 'Q1096423'},
  "root['art school'][0]": {'new_value': 'Q32773', 'old_value': 'Q492519'},
  "root['art school'][1]": {'new_value': 'Alanus University of Arts and Social Sciences',
   'old_value': 'Bezalel Academy of Art and Design'},
  "root['uniform'][0]": {'new_value': 'Q7434', 'old_value': 'Q1677311'},
  "root['uniform'][1]": {'new_value': 'uniform', 'old_value': 'Paroli'},
  "root['psychiatrist'][0]": {'new_value': 'Q211346', 'old_value': 'Q887584'},
  "root['psychiatrist'][1]": {'new_value': 'psychiatrist',
   'old_value': 'Pyotr Gannushkin'},
  "root['farm'][0]": {'new_value': 'Q131596', 'old_value': 'Q314354'},
  "root['farm'][1]": {'new_value': 'farm', 'old_value': 'gulf house'},
  "root['film production'][0]": {'new_value': 'Q932586',
   'old_value': 'Q7010468'},
  "root['film production'][1]": {'new_value': 'filmmaking',
   'old_value': 'New Moon'},
  "root['radiologist'][0]": {'new_value': 'Q5697714',
   'old_value': 'Q29998716'},
  "root['radiologist'][1]": {'new_value': 'Hedvig Hricak',
   'old_value': 'Ron Kikinis'},
  "root['throat'][0]": {'new_value': 'Q16364', 'old_value': 'Q30672236'},
  "root['throat'][1]": {'new_value': 'throat', 'old_value': 'freebore'},
  "root['tabletop game'][0]": {'new_value': 'Q184662',
   'old_value': 'Q4879966'},
  "root['tabletop game'][1]": {'new_value': 'Dice 10000',
   'old_value': 'Beer and pretzels game'},
  "root['cooking school'][0]": {'new_value': 'Q1143412',
   'old_value': 'Q5204561'},
  "root['cooking school'][1]": {'new_value': 'Culinary Institute of America',
   'old_value': 'Culinary Arts Academy Switzerland'},
  "root['hot pot'][0]": {'new_value': 'Q846849', 'old_value': 'Q4358444'},
  "root['hot pot'][1]": {'new_value': 'hot pot',
   'old_value': 'Lancashire hotpot'},
  "root['aquarium'][0]": {'new_value': 'Q45782', 'old_value': 'Q7883060'},
  "root['aquarium'][1]": {'new_value': 'aquarium',
   'old_value': 'UnderWater World Guam'},
  "root['neurologist'][0]": {'new_value': 'Q72439', 'old_value': 'Q97738533'},
  "root['neurologist'][1]": {'new_value': 'Woldemar Kernig',
   'old_value': 'Ziad Nasreddine'},
  "root['guest house'][0]": {'new_value': 'Q1065252', 'old_value': 'Q2460422'},
  "root['guest house'][1]": {'new_value': 'pension',
   'old_value': 'guest house'},
  "root['boat tour'][0]": {'new_value': 'Q981249', 'old_value': 'Q25040412'},
  "root['boat tour'][1]": {'new_value': 'Maid of the Mist',
   'old_value': 'boat tour'},
  "root['perfume'][0]": {'new_value': 'Q2863', 'old_value': 'Q131746'},

In [523]:
tuple_test = ("Q123", "test")
tuple_update = list(tuple_test)
tuple_update[0] = "Q456"
tuple_update[1] = "test2"
tuple(tuple_update)

('Q456', 'test2')

In [527]:
dict = {'airline': 'Q46970', 'boat tour': 'Q25040412', 'magazine': 'Q41298'}
update_dict = {'root["airline"][0]': 'Q8782', 'root["boat tour"][0]': 'Q981249', 'root["magazine"][0]': 'Q25738'}
for key, value in ddiff['values_changed'].items():
    if key.__contains__("[0]") is True:
        print(key[6:-5], )

restaurant Q1453665 ('Q1453665', "Pink's Hot Dogs")
food Q894875 ('Q894875', 'Botargo')
bar Q28337 ('Q28337', 'shoal')
automotive Q7981858 ('Q7981858', 'Welsh Automotive Forum')
service Q906066 ('Q906066', 'church service')
sandwich Q7689067 ('Q7689067', 'Tavern sandwich')
fast food Q25234965 ('Q25234965', 'Knysza')
home Q3046346 ('Q3046346', 'home')
garden Q909444 ('Q909444', 'Sentō Imperial Palace')
burger Q588537 ('Q588537', 'Anton Burger')
entertainment Q1501342 ('Q1501342', 'Vent')
instruction Q1057179 ('Q1057179', 'user guide')
dentist Q4933526 ('Q4933526', 'Bob Norton')
venue Q1154727 ('Q1154727', 'Takemoto-za')
gift Q707482 ('Q707482', 'gift')
convenience store Q28405997 ('Q28405997', 'All Day Convenience Store')
gym Q5099261 ('Q5099261', 'Chilwell Olympia')
pub Q106652262 ('Q106652262', 'The Coat & Badge, Putney')
accessory Q1065579 ('Q1065579', 'costume accessory')
cosmetic Q8243409 ('Q8243409', 'eyeliner')
hair stylist Q16734435 ('Q16734435', 'Peter Coppola')
veterinarian Q6776427 ('Q6776427', 'Martin R. Dinnes')
public service Q11771944 ('Q11771944', 'civil service')
medical center Q6460011 ('Q6460011', 'LSU Health Sciences Center New Orleans')
music venue Q7374625 ('Q7374625', 'Royal Oak Music Theatre')
pet store Q17111474 ('Q17111474', 'Petland, Inc.')
optician Q5536785 ('Q5536785', 'George Bass')
park Q150118 ('Q150118', 'Osaka Castle Park')
makeup artist Q28534146 ('Q28534146', 'Richard Alonzo')
appliance Q621580 ('Q621580', 'computer appliance')
discount store Q7912685 ('Q7912685', 'Valu-Mart')
tour Q24074891 ('Q24074891', 'Piano & A Microphone Tour')
kitchen Q3078145 ('Q3078145', 'kuri')
vintage Q1975981 ('Q1975981', 'vintage')
credit union Q5122692 ('Q5122692', 'Citizens Equity First Credit Union')
tattoo Q72941682 ('Q72941682', 'tattoo')
performing art Q2119392 ('Q2119392', 'xiangsheng')
photographer Q107109 ('Q107109', 'Alois Löcherer')
electrician Q5357767 ('Q5357767', 'theatrical electrician')
roofing Q15843013 ('Q15843013', 'rooftopping')
dance club Q1228895 ('Q1228895', 'discothèque')
painter Q101414 ('Q101414', 'Max Uhlig')
nutritionist Q3167989 ('Q3167989', 'Jean-Michel Cohen')
food stand Q11996675 ('Q11996675', 'hot dog stand')
ophthalmologist Q15999366 ('Q15999366', 'Johan Georg Raeder')
bookstore Q5563638 ('Q5563638', "Giovanni's Room Bookstore")
insurance Q811455 ('Q811455', "builder's risk insurance")
telecommunication Q16975727 ('Q16975727', 'audit')
internet service provider Q1360246 ('Q1360246', 'NetCologne')
preschool Q1455871 ('Q1455871', 'child care')
winery Q188138 ('Q188138', 'Château Doisy-Dubroca')
chocolatier Q6686719 ('Q6686719', 'Louis Barnett')
shop Q25221964 ('Q25221964', 'Cargo')
boot camp Q5455470 ('Q5455470', 'fitness boot camp')
lighting fixture Q7434376 ('Q7434376', 'Scoop')
equipment Q10273457 ('Q10273457', 'equipment')
watch Q4770013 ('Q4770013', 'Anonimo')
post office Q840868 ('Q840868', 'General Post Office')
courier Q890103 ('Q890103', 'mule')
sports club Q671637 ('Q671637', 'HC Red Ice')
obstetrician Q21707519 ('Q21707519', 'Ian Greer')
wrap Q8037573 ('Q8037573', 'wrap')
landmark Q7600356 ('Q7600356', 'Stapeley Hill')
historical building Q55633787 ('Q55633787', 'St. Julien House')
pool Q11020 ('Q11020', 'pool')
shopping center Q24944716 ('Q24944716', 'Punggol Plaza')
religious organization Q7137405 ('Q7137405', 'Parisada Hindu Dharma Indonesia')
amusement park Q130170 ('Q130170', 'Eram amusement Park')
swimming pool Q4756155 ('Q4756155', 'Andrew "Boy" Charlton Pool')
martial art Q188923 ('Q188923', 'Jeet Kune Do')
supplement Q645858 ('Q645858', 'dietary supplement')
pediatrician Q95161143 ('Q95161143', 'Samuel Z. Levine')
stationery Q1309927 ('Q1309927', 'wall calendar')
landscape architect Q11309346 ('Q11309346', 'Geraldine Knight Scott')
summer camp Q85750307 ('Q85750307', 'Camp Happy')
mental health Q21071148 ('Q21071148', 'VAGA')
elementary school Q30594834 ('Q30594834', 'Dyssegårdsskolen')
church Q246275 ('Q246275', 'Vefa Kilise Mosque')
cabinetry Q16868432 ('Q16868432', 'cabinetry')
hiking Q12014035 ('Q12014035', 'hiking')
irrigation Q21893647 ('Q21893647', 'irrigation')
chip Q1074500 ('Q1074500', 'chip')
fence Q5442977 ('Q5442977', 'fence')
gate Q5526978 ('Q5526978', 'gate')
bowling Q64157080 ('Q64157080', 'PBA Tour Playoffs')
waffle Q7959430 ('Q7959430', 'waffle')
beer garden Q880338 ('Q880338', 'Hofbräukeller')
resort Q5111380 ('Q5111380', 'Christmas Island Resort')
animal shelter Q5056599 ('Q5056599', 'Cedar Cove Feline Conservatory & Sanctuary')
comic book Q252480 ('Q252480', 'Bamse')
vinyl record Q16629185 ('Q16629185', 'phonograph record')
stadium Q48710 ('Q48710', 'Estadio Suppici')
arena Q636641 ('Q636641', 'Ikast-Brande Arena')
cannabis dispensary Q25221500 ('Q25221500', 'Harborside Health Center')
accountant Q6389956 ('Q6389956', 'Kenneth Carter')
surgeon Q924456 ('Q924456', 'Herbert Olivecrona')
airport Q583587 ('Q583587', 'Bocas del Toro "Isla Colón" International Airport')
adult Q7073152 ('Q7073152', 'OVGuide')
airline Q46970 ('Q46970', 'airline')
deck Q208123 ('Q208123', 'deck')
casino Q23301468 ('Q23301468', 'Crockfords')
swimwear Q2736850 ('Q2736850', 'one-piece swimsuit')
plastic surgeon Q5510020 ('Q5510020', 'Fushih Pan')
falafel Q1390062 ('Q1390062', 'falafel')
dance school Q23005232 ('Q23005232', 'dance school')
utility Q466707 ('Q466707', 'utility')
waterproofing Q2326110 ('Q2326110', 'waterproofing')
shutter Q1096423 ('Q1096423', 'shutter')
art school Q492519 ('Q492519', 'Bezalel Academy of Art and Design')
uniform Q1677311 ('Q1677311', 'Paroli')
psychiatrist Q887584 ('Q887584', 'Pyotr Gannushkin')
farm Q314354 ('Q314354', 'gulf house')
film production Q7010468 ('Q7010468', 'New Moon')
radiologist Q29998716 ('Q29998716', 'Ron Kikinis')
throat Q30672236 ('Q30672236', 'freebore')
tabletop game Q4879966 ('Q4879966', 'Beer and pretzels game')
cooking school Q5204561 ('Q5204561', 'Culinary Arts Academy Switzerland')
hot pot Q4358444 ('Q4358444', 'Lancashire hotpot')
aquarium Q7883060 ('Q7883060', 'UnderWater World Guam')
neurologist Q97738533 ('Q97738533', 'Ziad Nasreddine')
guest house Q2460422 ('Q2460422', 'guest house')
boat tour Q25040412 ('Q25040412', 'boat tour')
perfume Q131746 ('Q131746', 'perfume')
cultural center Q693020 ('Q693020', 'Kulturzentrum Reitschule')
hat Q80151 ('Q80151', 'hat')
psychic Q16043506 ('Q16043506', 'Ena Twigg')
alternative medicine Q7309658 ('Q7309658', 'Regulation and prevalence of homeopathy')
business law Q7112585 ('Q7112585', 'outline of commercial law')
diving Q179643 ('Q179643', 'underwater diving')
cardiologist Q15990286 ('Q15990286', 'Peter Sleight')
service station Q7619701 ('Q7619701', 'Folkestone services')
cafeteria Q8463304 ('Q8463304', 'cafeteria')
art museum Q277333 ('Q277333', 'Palace Museum in Wilanów')
radio station Q624773 ('Q624773', 'KBS Cool FM')
musician Q202613 ('Q202613', 'Dan Potthast')
officiant Q2661159 ('Q2661159', 'wedding officiant')
midwife Q94294314 ('Q94294314', 'Onnie Lee Logan')
kombucha Q6413822 ('Q6413822', 'Kingyo Used Books')
magazine Q41298 ('Q41298', 'magazine')
ski Q7534840 ('Q7534840', 'ski')
gastroenterologist Q52631623 ('Q52631623', 'John Fordtran')
marina Q9004566 ('Q9004566', 'Marina')
trust Q854022 ('Q854022', 'trust')
race track Q172878 ('Q172878', 'Nivelles-Baulers')
scuba diving Q1719546 ('Q1719546', 'recreational diving')
jet ski Q5175704 ('Q5175704', 'jet ski')
psychologist Q763154 ('Q763154', 'Willem Albert Wagenaar')
community center Q6146205 ('Q6146205', 'Jamestown Civic Center')
urologist Q14395746 ('Q14395746', 'Шапиро, Иосиф Наумович')
television station Q1126061 ('Q1126061', 'TV-3')
doula Q7832320 ('Q7832320', 'traditional birth attendant')
gemstone Q1501187 ('Q1501187', 'engraved gem')
surfing Q2499911 ('Q2499911', 'orgasm control')
gunsmith Q15998553 ('Q15998553', 'Adolph Otto Niedner')
magician Q2488257 ('Q2488257', 'magician')
endocrinologist Q5238856 ('Q5238856', 'David Rabin')
water park Q8000777 ('Q8000777', 'Wild Rivers')
public market Q5559206 ('Q5559206', 'Gibraltar Trade Center')
race Q483225 ('Q483225', 'race')
competition Q319676 ('Q319676', 'competition')
oncologist Q5217393 ('Q5217393', 'Daniel Haber')
colonic Q1110546 ('Q1110546', 'colon cleansing')
public art Q16975052 ('Q16975052', "Anne's Tablet")
airport terminal Q17008342 ('Q17008342', 'Dubai International Terminal 3')
courthouse Q1626056 ('Q1626056', 'Pitkin County Courthouse')
religious school Q8052871 ('Q8052871', 'Yeshivat Akiva')
installment loan Q8193794 ('Q8193794', 'Installment credit')
pancake Q21306238 ('Q21306238', 'hamburger button')
sailing Q14085739 ('Q14085739', 'sailing')
preventive medicine Q110692721 ('Q110692721', 'Longevity Medicine')
tableware Q3130638 ('Q3130638', 'table knife')
ski resort Q383744 ('Q383744', 'Afri-Ski')
matchmaker Q17449732 ('Q17449732', 'Heather Jenner')
rheumatologist Q12306508 ('Q12306508', 'Claus Manniche')
private school Q4667870 ('Q4667870', 'Abington Friends School')
tubing Q1978323 ('Q1978323', 'tubing')
hot air balloon Q3636009 ('Q3636009', 'Hopper balloon')
anesthesiologist Q1685506 ('Q1685506', 'Jean Emily Henley')
clown Q5142040 ('Q5142040', 'Colby Starck')
horse racing Q6649352 ('Q6649352', 'Little Brown Jug')
astrologer Q13111845 ('Q13111845', 'Govinda Bhattathiri')
firework Q16821637 ('Q16821637', 'Salute')
buddhist temple Q11388300 ('Q11388300', 'Kōzen-ji')
planetarium Q585479 ('Q585479', 'Planetarium of Nantes')
gerontologist Q6727429 ('Q6727429', 'Madhu Sudan Kanungo')
bus station Q1494168 ('Q1494168', "Gare d'autocars de Montréal")
drama school Q7757749 ('Q7757749', 'The Poor School')
sex therapist Q16145463 ('Q16145463', 'Wendy Maltz')
hindu temple Q107304788 ('Q107304788', 'Siddhpeeth Shri Shakumbhari Devi, Saharanpur')
ferry Q64679055 ('Q64679055', 'Governor Thomas H. Kean')
community garden Q4404694 ('Q4404694', 'allotment')
supper club Q48767324 ('Q48767324', 'supper club')
embassy Q894835 ('Q894835', 'Embassy of the United States, Kabul')
nursing school Q841076 ('Q841076', 'Florence Nightingale School of Nursing and Midwifery')
shed Q4416269 ('Q4416269', 'hayloft')
dumpling Q88234918 ('Q88234918', 'bánh gối')
fire department Q1409893 ('Q1409893', 'Munich Fire Department')
calligraphy Q11612713 ('Q11612713', "Huai Su's Autobiography")
vocal coach Q16012470 ('Q16012470', 'Alberta Masiello')
stonemason Q107651359 ('Q107651359', 'James Gilvray Galloway')
prop Q4311864 ('Q4311864', 'Bulgarian torpedo gunboat Nadezhda')
beer hall Q874045 ('Q874045', 'Löwenbräukeller')
town hall Q25550691 ('Q25550691', 'town hall')
pathologist Q97627834 ('Q97627834', 'Joanne Martin')
housing cooperative Q17063278 ('Q17063278', 'New Community')
trade fair Q314125 ('Q314125', 'Popkomm')

In [531]:
def compare_qids(new_value: str, old_value: str):
    # check if the new qid is an instance of old qid
    return f"""SELECT ?s 
                WHERE {{?s wdt:P31 wd:{old_value} . 
                        VALUES ?s {{wd:{new_value}}} .
                }}"""

update_qid_dict = {}
for key, value in ddiff['values_changed'].items():
    if key.__contains__("[0]") is True:
        # check if the new qid is an instance of old qid, then update with old qid if true
        if wikidata_query(compare_qids(new_value=value['new_value'], old_value=value['old_value'])).empty is False:
            print(f"Updating {key} from {value['new_value']} to {value['old_value']}")
            update_qid_dict[key[6:-5]] = category_qid[key[6:-5]]
category_qid2.update(update_qid_dict) # update the qid dict with the new qids, updated values: {'airline': 'Q46970', 'boat tour': 'Q25040412', 'magazine': 'Q41298'}

Updating root['airline'][0] from Q8782 to Q46970
Updating root['boat tour'][0] from Q981249 to Q25040412
Updating root['magazine'][0] from Q25738 to Q41298

In [494]:
category_qid2['airline']

'Q46970'

In [315]:
category_occurences['qid'] = category_occurences['split_category'].map(category_qid2)
category_occurences[['qid','qid_label']] = pd.DataFrame(category_occurences['qid'].tolist(),index=category_occurences.index)

In [317]:
category_qid_list = category_occurences["qid"].tolist()
category_qid_list = [i for i in category_qid_list if i is not np.nan]

In [318]:
item_list = category_qid_list

item_list_len = len(item_list)
# The limit is set to meet the requirements of the wikibase API wbgetentities (max 50)
# Ceil makes sure that the each subset from item_list is no longer than 50
limit = ceil(item_list_len / 50)

# Seperates the item_list to a nested_list with max 50 items in each list
piped_list = [item_list[pipe::limit] for pipe in range(limit)]

category_wikidata = {}
for i in piped_list:
    category_wikidata.update(retrieve_wikidata_claims(i))

In [319]:
category_triple = {}
for key, values in category_wikidata.items():
    for value in values:
        for obj in value:
            if obj["mainsnak"]["property"] == "P279":
                data_value = obj["mainsnak"]["datavalue"]["value"]["id"]
                category_triple[key] = category_triple.get(key, []) + [data_value]
category_triple

{'Q11707': ['Q62602544', 'Q1431026', 'Q41176', 'Q41958'],
 'Q6097': ['Q61951',
  'Q19359564',
  'Q1365365',
  'Q11090700',
  'Q2647467',
  'Q473666'],
 'Q39201': ['Q622852'],
 'Q1294114': ['Q999981'],
 'Q188507': ['Q699405', 'Q1497384'],
 'Q837171': ['Q7406919', 'Q25351891', 'Q2424752', 'Q806750', 'Q815823'],
 'Q1996635': ['Q5422651', 'Q213441', 'Q108290424'],
 'Q124946': ['Q48803', 'Q47728'],
 'Q181055': ['Q746549', 'Q2957687', 'Q28803', 'Q81799', 'Q7427595'],
 'Q211578': ['Q3632343', 'Q2207288', 'Q17200001'],
 'Q1318959': ['Q213441'],
 'Q1971625': ['Q206615'],
 'Q364005': ['Q13226383', 'Q121359', 'Q178706'],
 'Q22657': ['Q181790', 'Q34669510'],
 'Q1880871': ['Q18643213'],
 'Q1501': ['Q1076486', 'Q12004466'],
 'Q317309': ['Q1403186', 'Q19829125', 'Q12147'],
 'Q1592332': ['Q1374250'],
 'Q8341': ['Q373342'],
 'Q11033': ['Q340169', 'Q17537576', 'Q121182', 'Q24229398'],
 'Q339836': ['Q3897491'],
 'Q39809': ['Q8187769', 'Q42240'],
 'Q3095365': ['Q148571'],
 'Q1410837': ['Q37038'],
 'Q846849': ['Q746549', 'Q41415', 'Q190531'],
 'Q212105': ['Q8434', 'Q627208'],
 'Q964401': ['Q1347367'],
 'Q15037754': ['Q673687'],
 'Q1505189': ['Q2302028'],
 'Q83437': ['Q7946'],
 'Q595071': ['Q12615130', 'Q6840857'],
 'Q383695': ['Q918385', 'Q765633'],
 'Q539690': ['Q11180'],
 'Q34627': ['Q831219'],
 'Q897403': ['Q4830453', 'Q3914'],
 'Q3427917': ['Q11707'],
 'Q207703': ['Q902378'],
 'Q5419137': ['Q163740'],
 'Q858012': ['Q5307737'],
 'Q2095': ['Q1194058', 'Q223557'],
 'Q81799': ['Q746549', 'Q8195619'],
 'Q683595': ['Q684740'],
 'Q7361709': ['Q1295201', 'Q213441'],
 'Q41583': ['Q50995749', 'Q1781513'],
 'Q22698': ['Q22652', 'Q111415237', 'Q13226383', 'Q811979', 'Q35145743'],
 'Q212920': ['Q1183543', 'Q1836700'],
 'Q43164': ['Q180516'],
 'Q472760': ['Q2342494', 'Q2424752'],
 'Q189010': ['Q185351'],
 'Q44127': ['Q58778'],
 'Q33506': ['Q1030034', 'Q570116'],
 'Q40348': ['Q185351', 'Q15987302'],
 'Q1343262': ['Q3715160'],
 'Q5994': ['Q3152898', 'Q52954', 'Q4951628'],
 'Q915196': ['Q1668556', 'Q133492'],
 'Q35197': ['Q65037298', 'Q214609', 'Q15303351'],
 'Q1561361': ['Q2385804'],
 'Q1088': ['Q9128', 'Q10834659'],
 'Q160525': ['Q2098139', 'Q1807598', 'Q108099796', 'Q477248'],
 'Q17148672': ['Q988108'],
 'Q7361703': ['Q213441'],
 'Q188788': ['Q2095'],
 'Q1319035': ['Q8434', 'Q61788126'],
 'Q36963': ['Q451967', 'Q861451', 'Q192581', 'Q47728'],
 'Q18281': ['Q1817291', 'Q53001749'],
 'Q1065252': ['Q2460422'],
 'Q792635': ['Q12898216', 'Q349'],
 'Q14350': ['Q15265344', 'Q11033'],
 'Q5638': ['Q752870', 'Q1515493', 'Q87410987', 'Q580939'],
 'Q431640': ['Q16683598'],
 'Q1096878': ['Q179643'],
 'Q7946': ['Q79529', 'Q11438', 'Q12037703', 'Q214609', 'Q188460'],
 'Q2000218': ['Q2068248', 'Q173799'],
 'Q876737': ['Q27672886'],
 'Q10987': ['Q5159627', 'Q6584340', 'Q19388114', 'Q211439', 'Q7493597'],
 'Q638608': ['Q1395034'],
 'Q706636': ['Q167037'],
 'Q542869': ['Q31464082', 'Q309314'],
 'Q392409': ['Q179643'],
 'Q1298120': ['Q6498663'],
 'Q61391': ['Q43450', 'Q11639', 'Q61788060'],
 'Q178380': ['Q309162', 'Q644628'],
 'Q830036': ['Q451967'],
 'Q80973': ['Q6460735'],
 'Q192935': ['Q2095', 'Q25403900', 'Q107166476'],
 'Q14092': ['Q641226', 'Q1076486'],
 'Q55187': ['Q27943370', 'Q33394058', 'Q108289644'],
 'Q205495': ['Q655686'],
 'Q148958': ['Q1183543', 'Q987767'],
 'Q152095': ['Q987767', 'Q2024731'],
 'Q171495': ['Q1762457', 'Q1183543'],
 'Q5526883': ['Q212198', 'Q11707'],
 'Q178794': ['Q1065579', 'Q376'],
 'Q446': ['Q186713'],
 'Q37226': ['Q974144'],
 'Q875696': ['Q2383811', 'Q39546'],
 'Q7309759': ['Q1391390'],
 'Q148571': ['Q811430', 'Q2084929', 'Q1307347'],
 'Q180958': ['Q23005223'],
 'Q521839': ['Q13226383'],
 'Q11460': ['Q386724', 'Q2424752', 'Q8205328', 'Q113518695'],
 'Q207238': ['Q213934', 'Q337210'],
 'Q1520439': ['Q1400881', 'Q684740'],
 'Q4936963': ['Q182442'],
 'Q105507': ['Q21369154'],
 'Q208386': ['Q7708485'],
 'Q12478': ['Q13266'],
 'Q901222': ['Q974144'],
 'Q35808': ['Q287', 'Q14515877', 'Q1408429'],
 'Q93165': ['Q4739805', 'Q427457', 'Q7445643'],
 'Q5175316': ['Q1229765'],
 'Q5671453': ['Q237105'],
 'Q11019': ['Q1183543', 'Q386724'],
 'Q193210': ['Q765633', 'Q644628'],
 'Q192520': ['Q11482290', 'Q484937'],
 'Q113603': ['Q163740', 'Q16605260'],
 'Q155647': ['Q12328016', 'Q12797895'],
 'Q1072012': ['Q16502', 'Q17334923'],
 'Q2002539': ['Q13226383', 'Q3591545'],
 'Q130949': ['Q204686', 'Q484937', 'Q212434'],
 'Q32815': ['Q1370598'],
 'Q5064153': ['Q9053464', 'Q56627913'],
 'Q7138600': ['Q22698'],
 'Q7242': ['Q367293'],
 'Q734263': ['Q80973', 'Q12896105'],
 'Q216200': ['Q1665268', 'Q3878446'],
 'Q169545': ['Q2424752', 'Q2162595'],
 'Q735': ['Q1914636', 'Q184872', 'Q3249551'],
 'Q638': ['Q184485', 'Q173799', 'Q11461', 'Q114088986'],
 'Q261428': ['Q2865305'],
 'Q1618728': ['Q873442'],
 'Q847462': ['Q15361145'],
 'Q179232': ['Q114436249'],
 'Q11442': ['Q595658', 'Q233040', 'Q768186'],
 'Q43183': ['Q15809678', 'Q837171'],
 'Q11424': ['Q2431196', 'Q10301427', 'Q4502142', 'Q20937557'],
 'Q114517612': ['Q1032774'],
 'Q2319498': ['Q15642541', 'Q2434238', 'Q811979'],
 'Q7491078': ['Q866153'],
 'Q82650': ['Q580939'],
 'Q9842': ['Q3914'],
 'Q53060': ['Q811979', 'Q854429', 'Q1183543'],
 'Q3918': ['Q38723', 'Q4671277'],
 'Q93190': ['Q18603731', 'Q18511800', 'Q322451', 'Q100926628', 'Q22087155'],
 'Q2094083': ['Q213934'],
 'Q1932239': ['Q156839'],
 'Q312466': ['Q676202', 'Q40056'],
 'Q1295316': ['Q4260475'],
 'Q24284215': ['Q213441', 'Q655686', 'Q13226383'],
 'Q3766177': ['Q1208175', 'Q93922873'],
 'Q2863': ['Q131746', 'Q1979901'],
 'Q43501': ['Q96102071', 'Q22698', 'Q588140'],
 'Q3709121': ['Q936044'],
 'Q865054': ['Q987767'],
 'Q6586445': ['Q18674739', 'Q57660343'],
 'Q616100': ['Q5307737'],
 'Q5119518': ['Q15904214'],
 'Q2305987': ['Q13582652', 'Q811122'],
 'Q5158689': ['Q905758'],
 'Q1773974': ['Q31207', 'Q1717246', 'Q189603'],
 'Q28837': ['Q3332438'],
 'Q127933': ['Q1146001', 'Q10805684', 'Q2424752'],
 'Q148319': ['Q24354', 'Q3152824'],
 'Q1043226': ['Q82604', 'Q3249551'],
 'Q5185985': ['Q2296694'],
 'Q164359': ['Q9081', 'Q937228'],
 'Q211340': ['Q666242', 'Q748611'],
 'Q1459915': ['Q2761147'],
 'Q27686': ['Q1431026', 'Q5056668'],
 'Q811501': ['Q2920921'],
 'Q282': ['Q154'],
 'Q28640': ['Q192581'],
 'Q192783': ['Q182940', 'Q1401891', 'Q746549', 'Q7340417', 'Q5004791'],
 'Q34508': ['Q2695280'],
 'Q131734': ['Q83405', 'Q1252971', 'Q628858'],
 'Q1573930': ['Q11460', 'Q1292119'],
 'Q1433006': ['Q23497974'],
 'Q33231': ['Q3391743', 'Q108289430'],
 'Q622425': ['Q8719053', 'Q5307737', 'Q57660343'],
 'Q4174178': ['Q7590'],
 'Q3555589': ['Q685433'],
 'Q35054': ['Q294422'],
 'Q12796': ['Q1194773', 'Q110155210'],
 'Q1068361': ['Q43183', 'Q3813256'],
 'Q931309': ['Q4914995', 'Q2671652', 'Q177719', 'Q113129019'],
 'Q374035': ['Q3590880', 'Q104602244'],
 'Q384014': ['Q7748', 'Q222249'],
 'Q326653': ['Q108286983'],
 'Q621261': ['Q883708', 'Q796194', 'Q179661'],
 'Q7927919': ['Q213441', 'Q655686', 'Q13226383'],
 'Q494312': ['Q787116', 'Q13226383'],
 'Q261362': ['Q327333'],
 'Q191498': ['Q1811005'],
 'Q1340098': ['Q3914'],
 'Q7735': ['Q61065', 'Q212434'],
 'Q7873': ['Q1058795', 'Q629103', 'Q289472', 'Q112826975'],
 'Q1121481': ['Q183257'],
 'Q863803': ['Q796194'],
 'Q192832': ['Q216048', 'Q206989'],
 'Q159992': ['Q61065', 'Q911069', 'Q212434'],
 'Q2341939': ['Q2310214'],
 'Q43812': ['Q2616578', 'Q47988'],
 'Q851782': ['Q1521410'],
 'Q1426493': ['Q486972'],
 'Q18411786': ['Q3689421', 'Q41176', 'Q33506'],
 'Q917273': ['Q3552566'],
 'Q15284': ['Q1048835', 'Q486972', 'Q56061', 'Q192611', 'Q2659904'],
 'Q12681': ['Q36649', 'Q37260'],
 'Q1032372': ['Q2015628', 'Q13226383', 'Q43229', 'Q3540209'],
 'Q3368718': ['Q3332438'],
 'Q1594437': ['Q173799'],
 'Q61509': ['Q79782', 'Q451967'],
 'Q625145': ['Q23009442'],
 'Q193291': ['Q15619164', 'Q28855038', 'Q4271324'],
 'Q13290': ['Q751728', 'Q3314483'],
 'Q878156': ['Q17200001'],
 'Q571': ['Q49848', 'Q2342494', 'Q3331189'],
 'Q7590': ['Q451967', 'Q4284762', 'Q8187769'],
 'Q1368743': ['Q194189'],
 'Q1068892': ['Q28803'],
 'Q418': ['Q1472062'],
 'Q3574069': ['Q213441', 'Q13226383', 'Q655686', 'Q1252971', 'Q27038993'],
 'Q229345': ['Q10668278'],
 'Q11875349': ['Q811430', 'Q17334923', 'Q22746'],
 'Q185785': ['Q8205328', 'Q728'],
 'Q11180': ['Q11190'],
 'Q1362405': ['Q13233', 'Q866153'],
 'Q1201679': ['Q11590806'],
 'Q7743': ['Q699405'],
 'Q178512': ['Q28314507', 'Q12162227'],
 'Q133215': ['Q655686'],
 'Q12695722': ['Q1156976'],
 'Q3045287': ['Q796194'],
 'Q187791': ['Q271588', 'Q11060274', 'Q8148', 'Q144334'],
 'Q172226': ['Q768186', 'Q39546', 'Q334166'],
 'Q108429': ['Q349', 'Q2252077', 'Q212434'],
 'Q3231410': ['Q213441', 'Q11707'],
 'Q42973': ['Q5322166', 'Q255274'],
 'Q842811': ['Q2576499', 'Q11974939'],
 'Q3664857': ['Q13226383'],
 'Q130003': ['Q1076486', 'Q6925559', 'Q55463907', 'Q16677896', 'Q486972'],
 'Q870': ['Q15618781', 'Q350783'],
 'Q1666223': ['Q215627'],
 'Q507816': ['Q1572278'],
 'Q1326624': ['Q1951366', 'Q1341478'],
 'Q2350126': ['Q16145150', 'Q7939609'],
 'Q1230557': ['Q10861387'],
 'Q693369': ['Q41176', 'Q13226383', 'Q655686', 'Q49416455'],
 'Q12147': ['Q7189713', 'Q16681739', 'Q19829125'],
 'Q12502': ['Q182940'],
 'Q44': ['Q154', 'Q169336'],
 'Q107198': ['Q33394058', 'Q108289644'],
 'Q202883': ['Q3332438', 'Q11974939'],
 'Q852100': ['Q23841'],
 'Q935666': ['Q27943370', 'Q11336353'],
 'Q181138': ['Q83364'],
 'Q22687': ['Q1416431', 'Q730038', 'Q6881511', 'Q5260792', 'Q650241'],
 'Q153551': ['Q213441', 'Q1077064'],
 'Q3505712': ['Q3259956', 'Q11190'],
 'Q2471487': ['Q11460'],
 'Q16917': ['Q178706', 'Q4260475', 'Q814610', 'Q30139652', 'Q41176'],
 'Q1552579': ['Q3606537'],
 'Q42177': ['Q14745', 'Q45422604'],
 'Q11315': ['Q18760388', 'Q39659371', 'Q43229'],
 'Q160020': ['Q219858', 'Q1293220', 'Q13415428', 'Q19829125'],
 'Q267917': ['Q999646'],
 'Q16970': ['Q24398318'],
 'Q204794': ['Q462437'],
 'Q5250864': ['Q2069006'],
 'Q1411287': ['Q13226383'],
 'Q1043639': ['Q187456', 'Q105321449'],
 'Q848436': ['Q184199'],
 'Q506126': ['Q1760141'],
 'Q380141': ['Q179661'],
 'Q37038': ['Q11028', 'Q17537576', 'Q7406919'],
 'Q2467501': ['Q768186'],
 'Q22857': ['Q968907', 'Q484937'],
 'Q808266': ['Q157195', 'Q108289643'],
 'Q2015874': ['Q1255921'],
 'Q7979077': ['Q108325', 'Q107724136'],
 'Q866742': ['Q62602544'],
 'Q23397': ['Q337567', 'Q3391202', 'Q30092755', 'Q15324', 'Q271669'],
 'Q311935': ['Q2424752', 'Q214609'],
 'Q842478': ['Q110535672'],
 'Q1892715': ['Q58480509'],
 'Q36389': ['Q11417', 'Q212434'],
 'Q856251': ['Q7748'],
 'Q10259814': ['Q43183', 'Q15809678'],
 'Q62832': ['Q811979', 'Q13226383', 'Q16519632'],
 'Q5098002': ['Q1914636'],
 'Q3266340': ['Q1914636', 'Q204686'],
 'Q24736020': ['Q3914'],
 'Q562166': ['Q4539', 'Q4830453', 'Q699405'],
 'Q11190': ['Q843601', 'Q20532'],
 'Q274393': ['Q1252971',
  'Q655686',
  'Q27038993',
  'Q213441',
  'Q628858',
  'Q4830453'],
 'Q786803': ['Q2865305', 'Q213441', 'Q601401'],
 'Q1399328': ['Q179415'],
 'Q7278': ['Q79913', 'Q155076', 'Q7210356'],
 'Q1156976': ['Q1914636'],
 'Q745877': ['Q3277997'],
 'Q43006': ['Q678649'],
 'Q2043121': ['Q1914636', 'Q188844', 'Q16605260'],
 'Q132241': ['Q15275719', 'Q43229', 'Q19711353'],
 'Q783007': ['Q3749082'],
 'Q11371': ['Q2169973', 'Q2401749'],
 'Q10611118': ['Q24455304', 'Q4830453', 'Q63922515'],
 'Q10874': ['Q737460', 'Q3041498', 'Q102186718'],
 'Q14745': ['Q31807746', 'Q1357761'],
 'Q2741056': ['Q14745', 'Q9158768'],
 'Q172809': ['Q3177899'],
 'Q875157': ['Q63099748', 'Q12292478', 'Q21980538'],
 'Q1137210': ['Q988108', 'Q1076486'],
 'Q40080': ['Q19817101', 'Q468756', 'Q17350442'],
 'Q865693': ['Q1374250'],
 'Q179010': ['Q746549'],
 'Q178678': ['Q7128792'],
 'Q385870': ['Q330284', 'Q132510', 'Q2925872'],
 'Q628967': ['Q1567259'],
 'Q65121387': ['Q213441'],
 'Q608152': ['Q4260475', 'Q29483'],
 'Q3308829': ['Q1773974'],
 'Q80687': ['Q255274'],
 'Q11419': ['Q11417', 'Q212434'],
 'Q194517': ['Q796194'],
 'Q622676': ['Q25312655'],
 'Q217102': ['Q1479406', 'Q1914636', 'Q2144962', 'Q627436', 'Q104637332'],
 'Q482919': ['Q134307', 'Q60548032'],
 'Q243237': ['Q877729', 'Q1479406', 'Q41689629'],
 'Q893': ['Q2647467'],
 'Q772298': ['Q16605260', 'Q699405', 'Q13226383'],
 'Q57305': ['Q288514', 'Q15275719'],
 'Q12684': ['Q11042', 'Q8187769', 'Q13427002'],
 'Q9266': ['Q2095', 'Q746549'],
 'Q269107': ['Q625145'],
 'Q706848': ['Q706884', 'Q83267'],
 'Q3303463': ['Q580939', 'Q62602544', 'Q1565905'],
 'Q2040532': ['Q309100'],
 'Q1139861': ['Q13226383'],
 'Q652122': ['Q3249551', 'Q2407861', 'Q2207288'],
 'Q7887327': ['Q1368912'],
 'Q184485': ['Q735'],
 'Q2306047': ['Q7406919', 'Q29017603'],
 'Q2576499': ['Q11974939'],
 'Q192874': ['Q736427', 'Q178'],
 'Q1076052': ['Q3914', 'Q1455871'],
 'Q132041': ['Q39546'],
 'Q188475': ['Q1420'],
 'Q2815948': ['Q42973', 'Q5322166', 'Q108289383'],
 'Q375': ['Q6128', 'Q748611', 'Q746549', 'Q1226651', 'Q477248', 'Q5004791'],
 'Q38516': ['Q858177'],
 'Q5166147': ['Q4260475'],
 'Q32112': ['Q7128792', 'Q212434'],
 'Q2845': ['Q1902558', 'Q3706669'],
 'Q48003': ['Q349'],
 'Q7434': ['Q11460'],
 'Q16364': ['Q66557825', 'Q112826975'],
 'Q45782': ['Q315630'],
 'Q11175': ['Q181767'],
 'Q654772': ['Q27686'],
 'Q590282': ['Q2359703'],
 'Q662423': ['Q455550', 'Q438746'],
 'Q17085167': ['Q1782301'],
 'Q557141': ['Q36649'],
 'Q1193068': ['Q5307737', 'Q61906224'],
 'Q2995263': ['Q60673395'],
 'Q41425': ['Q1020618', 'Q1370345'],
 'Q240471': ['Q1914636'],
 'Q16181479': ['Q77115'],
 'Q1506462': ['Q11416', 'Q65496063', 'Q19862406'],
 'Q40357': ['Q13226383', 'Q16831714', 'Q43229'],
 'Q219554': ['Q61065', 'Q911069'],
 'Q1061842': ['Q1683302'],
 'Q6663': ['Q746549', 'Q111981894'],
 'Q42417097': ['Q656365'],
 'Q13107184': ['Q2865305', 'Q213441', 'Q30139652'],
 'Q161837': ['Q7406919'],
 'Q41415': ['Q746549', 'Q2095', 'Q11435', 'Q14915034'],
 'Q272502': ['Q21595102', 'Q28134486', 'Q2095'],
 'Q519076': ['Q160117'],
 'Q1522620': ['Q132510'],
 'Q11325221': ['Q2752318'],
 'Q840545': ['Q472094', 'Q11190', 'Q113129019'],
 'Q2383811': ['Q2424752'],
 'Q185925': ['Q82604', 'Q36649'],
 'Q7208574': ['Q9266', 'Q44480854', 'Q28100113'],
 'Q7171565': ['Q180472'],
 'Q42527': ['Q2596997', 'Q2247340', 'Q473666'],
 'Q4290': ['Q1369832', 'Q3380760'],
 'Q149566': ['Q3914', 'Q159334'],
 'Q179226': ['Q7590', 'Q192581', 'Q3326454', 'Q212434', 'Q114732027'],
 'Q2917466': ['Q12797895'],
 'Q545599': ['Q3947', 'Q5832296'],
 'Q185196': ['Q11974939', 'Q80015'],
 'Q1318158': ['Q11460'],
 'Q55488': ['Q12819564', 'Q97987466'],
 'Q2736': ['Q1081491', 'Q216048'],
 'Q909906': ['Q1076486', 'Q1867518'],
 'Q849706': ['Q67183571', 'Q1433344', 'Q2298537'],
 'Q2861470': ['Q11190', 'Q113129019'],
 'Q2111762': ['Q656720', 'Q1662011', 'Q4830453'],
 'Q459886': ['Q43501'],
 'Q731615': ['Q179661', 'Q1423517'],
 'Q197195': ['Q11460'],
 'Q2292514': ['Q3914'],
 'Q3565622': ['Q67140121'],
 'Q30022': ['Q112654507', 'Q213441'],
 'Q179415': ['Q1190058', 'Q796194'],
 'Q104817981': ['Q1762621', 'Q99536263', 'Q655686', 'Q13226383', 'Q57334497'],
 'Q7188': ['Q2267705', 'Q43229'],
 'Q10932402': ['Q2334804'],
 'Q17517': ['Q11035', 'Q5082128'],
 'Q2963953': ['Q55071047', 'Q29881694'],
 'Q5874968': ['Q1374250'],
 'Q5377': ['Q877517', 'Q31085894', 'Q212434'],
 'Q3568190': ['Q213441'],
 'Q186637': ['Q811979', 'Q391414', 'Q25535985'],
 'Q68': ['Q11019', 'Q241317', 'Q1662611'],
 'Q848466': ['Q33394058', 'Q109583659'],
 'Q2141830': ['Q184872', 'Q155930', 'Q61788060'],
 'Q1936429': ['Q152095'],
 'Q11453': ['Q10843872', 'Q7590'],
 'Q3640372': ['Q5487333', 'Q212198'],
 'Q39614': ['Q1497375', 'Q12131650', 'Q13226383', 'Q811979'],
 'Q1282870': ['Q1076486'],
 'Q352222': ['Q10273457'],
 'Q211346': ['Q6817473', 'Q3332438'],
 'Q9826': ['Q159334'],
 'Q57036': ['Q190771', 'Q41176', 'Q17521458'],
 'Q188504': ['Q25312655', 'Q20532', 'Q269829'],
 'Q1079856': ['Q5259404'],
 'Q901347': ['Q9254306'],
 'Q1355413': ['Q171141'],
 'Q77115': ['Q18674739', 'Q41176', 'Q43229', 'Q1329623', 'Q8536775'],
 'Q1349657': ['Q1872261'],
 'Q167987': ['Q3705105'],
 'Q1971849': ['Q3914'],
 'Q1230600': ['Q1392857', 'Q4830453'],
 'Q484000': ['Q11436', 'Q1527901'],
 'Q25653': ['Q11446'],
 'Q208322': ['Q15124452', 'Q1144661'],
 'Q606591': ['Q179661'],
 'Q173799': ['Q1914636', 'Q28877'],
 'Q13233': ['Q866153', 'Q3712597', 'Q113773097'],
 'Q8434': ['Q133500', 'Q7406919'],
 'Q7243397': ['Q131207'],
 'Q475018': ['Q180516'],
 'Q220142': ['Q213441', 'Q4830453'],
 'Q9350': ['Q219067', 'Q376022', 'Q2270606', 'Q6864036', 'Q108458'],
 'Q555997': ['Q40578', 'Q7887327'],
 'Q165029': ['Q1391083', 'Q2588761'],
 'Q816851': ['Q13276'],
 'Q268052': ['Q43006', 'Q131207'],
 'Q305012': ['Q2992505'],
 'Q1497831': ['Q95722120', 'Q1427940'],
 'Q7075': ['Q1030034', 'Q13226383', 'Q2668072'],
 'Q857909': ['Q5307737'],
 'Q337810': ['Q43229', 'Q57261084'],
 'Q272399': ['Q30022'],
 'Q1054772': ['Q107281362'],
 'Q212989': ['Q7223116'],
 'Q2814066': ['Q3469910'],
 'Q2837942': ['Q3332438', 'Q12119633'],
 'Q808744': ['Q187456'],
 'Q721207': ['Q44782', 'Q6501349'],
 'Q1154336': ['Q22857'],
 'Q190531': ['Q2095'],
 'Q330284': ['Q39659371', 'Q655686'],
 'Q14693887': ['Q12177444'],
 'Q7358': ['Q10774753', 'Q17307272'],
 'Q786922': ['Q1454553', 'Q1195412'],
 'Q816425': ['Q2695280'],
 'Q446901': ['Q322563'],
 'Q221722': ['Q5198662', 'Q34442'],
 'Q866224': ['Q2426135'],
 'Q28803': ['Q748611', 'Q5004791'],
 'Q8007048': ['Q4830453'],
 'Q13319': ['Q866153'],
 'Q506': ['Q24060707', 'Q20011319'],
 'Q161439': ['Q36649', 'Q4470686', 'Q207241'],
 'Q1922416': ['Q187456'],
 'Q191655': ['Q746549', 'Q748611', 'Q81799', 'Q1316209', 'Q69393237'],
 'Q401404': ['Q55315265', 'Q8187769'],
 'Q332030': ['Q7590'],
 'Q169': ['Q14712', 'Q3314483'],
 'Q715858': ['Q1884224'],
 'Q157943': ['Q890057', 'Q20204151'],
 'Q213441': ['Q628858', 'Q49416455', 'Q655686', 'Q4830453'],
 'Q758780': ['Q108290759'],
 'Q876852': ['Q43229'],
 'Q152': ['Q1756633', 'Q1230015'],
 'Q76470': ['Q213441'],
 'Q336532': ['Q48835818', 'Q188507'],
 'Q1192284': ['Q13226383', 'Q11707'],
 'Q80994': ['Q7239', 'Q851990'],
 'Q174219': ['Q214609', 'Q12041698'],
 'Q22908': ['Q67140121'],
 'Q131596': ['Q10354598', 'Q5890494'],
 'Q12102552': ['Q1261026', 'Q1002697', 'Q11033'],
 'Q520611': ['Q2215841'],
 'Q5381371': ['Q1003030', 'Q2193887', 'Q626700'],
 'Q1147545': ['Q1521410', 'Q245005', 'Q211841', 'Q987767'],
 'Q460053': ['Q837721'],
 'Q1638773': ['Q126793'],
 'Q161851': ['Q2588076', 'Q1400881', 'Q684740'],
 'Q55190072': ['Q11190', 'Q1773974'],
 'Q231147': ['Q207892'],
 'Q44541': ['Q13276', 'Q746549'],
 'Q938683': ['Q173603', 'Q3030569', 'Q34493'],
 'Q12185286': ['Q23817612', 'Q24175362'],
 'Q6803181': ['Q156362'],
 'Q721931': ['Q811430'],
 'Q328325': ['Q108290556', 'Q811122'],
 'Q177': ['Q13485782', 'Q1408229', 'Q666242', 'Q26996677'],
 'Q377117': ['Q156839'],
 'Q184303': ['Q28877'],
 'Q3109696': ['Q11707'],
 'Q83364': ['Q32090', 'Q49773'],
 'Q7500021': ['Q112274793'],
 'Q811530': ['Q213441'],
 'Q16406': ['Q213441'],
 'Q11004': ['Q756', 'Q107122728', 'Q25403900'],
 'Q21017121': ['Q213441', 'Q13226383', 'Q655686', 'Q484847'],
 'Q200764': ['Q213441'],
 'Q1278442': ['Q160117'],
 'Q1550460': ['Q16861871'],
 'Q1545773': ['Q26270576', 'Q11019'],
 'Q34956': ['Q174211', 'Q531507', 'Q181394'],
 'Q1072166': ['Q27077054', 'Q112654507', 'Q655686'],
 'Q80831': ['Q11653', 'Q1815901', 'Q110829085'],
 'Q329737': ['Q2588761', 'Q108286217'],
 'Q178588': ['Q16629185'],
 'Q24140788': ['Q213441'],
 'Q176637': ['Q213441'],
 'Q691823': ['Q20888925', 'Q65037298'],
 'Q60061622': ['Q21198548'],
 'Q747457': ['Q3897491', 'Q746549'],
 'Q315412': ['Q67140121'],
 'Q657032': ['Q26343751', 'Q147538'],
 'Q659974': ['Q34394'],
 'Q741939': ['Q4390239'],
 'Q164731': ['Q537769'],
 'Q2471422': ['Q6388', 'Q179643'],
 'Q176440': ['Q8205328', 'Q39546'],
 'Q187916': ['Q3001412'],
 'Q1931925': ['Q213441'],
 'Q251958': ['Q1107656'],
 'Q284983': ['Q3897491'],
 'Q1706258': ['Q1228895'],
 'Q1414887': ['Q69393385'],
 'Q8486': ['Q40050',
  'Q1365365',
  'Q37756327',
  'Q147538',
  'Q19359564',
  'Q2647467',
  'Q473666'],
 'Q39631': ['Q11974939'],
 'Q27349': ['Q3332438', 'Q16061291', 'Q108289390'],
 'Q917028': ['Q753779', 'Q62602544'],
 'Q4260475': ['Q13226383', 'Q30139652', 'Q811979'],
 'Q5422874': ['Q1065579'],

In [320]:
wiki_subclasses = pd.DataFrame(
    list(category_triple.items()), columns=["category_qid", "subclassOf"]
).explode("subclassOf")

In [321]:
wiki_subclasses

    category_qid subclassOf
0         Q11707  Q62602544
0         Q11707   Q1431026
0         Q11707     Q41176
0         Q11707     Q41958
1          Q6097     Q61951
..           ...        ...
584      Q895060   Q1368898
584      Q895060  Q15855160
584      Q895060    Q877517
585      Q942297    Q362200
585      Q942297  Q65088916

[1111 rows x 2 columns]

In [381]:
df = category_occurences.merge(
    wiki_subclasses, left_on="qid", right_on="category_qid", how="left"
)

In [441]:
schema_mappings = pd.read_csv(get_path("class_mappings.csv"))
df['split_category'] = df['split_category'].apply(lambda x: x.title().replace(' ',''))
df1 = df.merge(schema_mappings, left_on="split_category", right_on="YelpCategory", how="left")

In [451]:
df1.loc[df1['qid'] == 'Q103597']

,category,occurences,split_category,qid,qid_label,category_qid,subclassOf,YelpCategory,SchemaType
900,Surgeons,123,Surgeon,Q103597,Georg Hartog Gerson,NaN,NaN,NaN,NaN

In [452]:
from rdflib import Namespace, Graph, URIRef, Literal, BNode
from rdflib.namespace import RDFS
import urllib.parse
schema = Namespace("https://schema.org/")
example = Namespace("https://example.org/")
wiki = Namespace("https://www.wikidata.org/entity/")
# triple_file = gzip.open(filename=f"/home/ubuntu/vol1/virtuoso/import/yelp_business.nt.gz", mode="at",encoding="utf-8")

G = Graph()
for i in df1.itertuples():
    if i.subclassOf is not np.nan:
        G.add((wiki[i.qid], wiki["P279"], wiki[i.subclassOf]))
    if i.qid is not np.nan:
        G.add((wiki[i.qid], RDFS["label"], Literal(i.qid_label)))
        G.add((wiki[i.qid], RDFS["Class"], example['WikiCategory']))
        if i.SchemaType is not np.nan:
            G.add((schema[i.SchemaType], schema["sameAs"], wiki[i.qid]))
        else:
            G.add((example[i.split_category], schema["sameAs"], wiki[i.qid]))

nt = G.serialize(destination="categories.nt", format="nt")


# triple_file.write(G.serialize(format="nt"))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/rdflib/plugins/serializers/nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

'coffee and tea' superclassOf 'qid of coffee'
'coffee and tea' superclassOf 'qid of tea'

'Restaurants' schema:sameAs 'qid of restaurant'

'qid of coffee' wiki:subclassOf(P279) 'qid'
'qid of tea' wiki:subclassOf(P279) 'qid'

schema:'restaurant' schema:sameAs wiki:'restaurant'