In [1]:
# https://github.com/maxlath/wikibase-dump-filter
# https://github.com/maxlath/wikibase-dump-filter/blob/main/docs/cli.md
# extracter instance of (P31) city (Q515) eller state in US (Q35657) og som er i country (P17) USA (Q30) eller Mexico (Q96) eller Canada(Q16)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q515,Q35657&P17:Q30,Q96,Q16' --omit sitelinks > city_state_america.ndjson

# extracter instance of (P31) business (Q4830453)
# led efter has subsidiary (P355)
#!cat latest-all.json.gz | gzip -d | wikibase-dump-filter --languages en --claim 'P31:Q4830453' --omit sitelinks > business.ndjson

In [2]:
# https://linuxhint.com/bash_head_tail_command/
#!head -n 1 simplified_dump.ndjson > simpl.ndjson

In [3]:
# https://stedolan.github.io/jq/tutorial/
# https://www.linode.com/docs/guides/using-jq-to-process-json-on-the-command-line/
#!jq '.' simpl.ndjson > simpl.json

In [4]:
import sys
sys.path.append(sys.path[0][:sys.path[0].find('DVML-P7') + len('DVML-P7')])
from math import ceil
import numpy as np
import pandas as pd
import requests
from SPARQLWrapper import JSON, SPARQLWrapper

from Code.UtilityFunctions.get_data_path import get_path
from Code.UtilityFunctions.wikidata_query_tools import (
    retrieve_wikidata_claims,
    wikidata_query,
)

In [5]:
query_all_us_states = """
SELECT ?state
WHERE {
  ?state wdt:P31 wd:Q35657 .
}
LIMIT 10
"""
wikidata_query(sparql_query=query_all_us_states)

  state.type                          state.value
0        uri   http://www.wikidata.org/entity/Q99
1        uri  http://www.wikidata.org/entity/Q173
2        uri  http://www.wikidata.org/entity/Q724
3        uri  http://www.wikidata.org/entity/Q759
4        uri  http://www.wikidata.org/entity/Q771
5        uri  http://www.wikidata.org/entity/Q779
6        uri  http://www.wikidata.org/entity/Q782
7        uri  http://www.wikidata.org/entity/Q797
8        uri  http://www.wikidata.org/entity/Q812
9        uri  http://www.wikidata.org/entity/Q816

In [6]:
def category_query(category: str):
    return f"""SELECT distinct ?item ?itemLabel ?itemDescription WHERE{{
    ?item ?label "{category}"@en .
    ?article schema:about ?item .
    ?article schema:inLanguage "en" .
    ?article schema:isPartOf <https://en.wikipedia.org/>.
    SERVICE wikibase:label {{ bd:serviceParam wikibase:language "en". }}}}"""

In [7]:
wiki_qid_of_category = wikidata_query(category_query(category="ear"))[
    ["item.value", "itemLabel.value", "itemDescription.value"]
].head()
wiki_qid_of_category

,item.value,itemLabel.value,itemDescription.value
0,http://www.wikidata.org/entity/Q7362,ear,organ that detects sound; organ of hearing and...
1,http://www.wikidata.org/entity/Q147398,ear,grain-bearing tip part of the stem of a cereal...

In [8]:
def min_qid(df_qid):
    # Getting the minimum value of the QID number and the itemLabel
    index = df_qid['item.value'].apply(lambda x: int(x.split("/")[-1].replace("Q", ""))).idxmin()
    df = df_qid.loc[index][['item.value','itemLabel.value']]
    return df[0][31:], df[1]
min_qid(df_qid=wiki_qid_of_category)

('Q7362', 'ear')

In [9]:
test_query = wikidata_query(category_query(category="garden"))
test_query["item.value"][0][31:], test_query["itemLabel.value"][0]

('Q909444', 'Sentō Imperial Palace')

In [10]:
df = (wikidata_query(category_query(category="garden"))[['itemLabel.value', 'item.value']])
df

                     itemLabel.value                                item.value
0              Sentō Imperial Palace    http://www.wikidata.org/entity/Q909444
1                             garden   http://www.wikidata.org/entity/Q1107656
2                          Soswaewon    http://www.wikidata.org/entity/Q493693
3                Parco del Valentino   http://www.wikidata.org/entity/Q1061804
4        Classical Gardens of Suzhou   http://www.wikidata.org/entity/Q1144337
5        McGovern Centennial Gardens  http://www.wikidata.org/entity/Q21196493
6      Schedel Arboretum and Gardens   http://www.wikidata.org/entity/Q7431032
7  Gardens of the French Renaissance   http://www.wikidata.org/entity/Q5522491
8                     Désert de Retz   http://www.wikidata.org/entity/Q1270698
9              Weymouth Peace Garden  http://www.wikidata.org/entity/Q28003099

In [11]:
min_qid(wikidata_query(category_query(category="garden")))

('Q493693', 'Soswaewon')

In [12]:
biz = pd.read_json(get_path("yelp_academic_dataset_business.json"), lines=True)

# schema_types = pd.read_csv(get_path("schemaorg-current-https-types.csv"))

In [13]:
categories_unique = list(set(biz["categories"].str.cat(sep=", ").split(sep=", ")))
categories = list(biz["categories"].str.cat(sep=", ").split(sep=", "))

In [14]:
from collections import Counter

category_occurences = pd.DataFrame(list(dict(Counter(categories)).items()), columns=["category", "occurences"]).sort_values(by="occurences", ascending=False)

In [15]:
display(category_occurences)

                  category  occurences
17             Restaurants       52268
18                    Food       27781
12                Shopping       24395
135          Home Services       14356
107          Beauty & Spas       14292
...                    ...         ...
1261            Beach Bars           1
1267           DUI Schools           1
1270            Patent Law           1
1274  Housing Cooperatives           1
1310           Trade Fairs           1

[1311 rows x 2 columns]

In [16]:
cat_string_man_handle_dict = pd.read_excel(get_path("split_categories.xlsx"), sheet_name="Sheet1", index_col=0).to_dict()['Unnamed: 1']
cat_string_man_handle_dict = {k: v.split(', ') for k, v in cat_string_man_handle_dict.items()}

In [17]:
cat_string_man_handle_dict

{'Beauty & Spas': ['Beauty', 'Spas'],
 'Health & Medical': ['Health', 'Medical'],
 'Event Planning & Services': ['Event Planning', 'Event Services'],
 'Coffee & Tea': ['Coffee', 'Tea'],
 'Breakfast & Brunch': ['Breakfast', 'Brunch'],
 'Hotels & Travel': ['Hotels', 'Travels'],
 'Home & Garden': ['Home', 'Garden'],
 'Arts & Entertainment': ['Arts', 'Entertainment'],
 'Fitness & Instruction': ['Fitness', 'Instruction'],
 'Ice Cream & Frozen Yogurt': ['Ice Cream', 'Frozen Yogurt'],
 'Venues & Event Spaces': ['Venues', 'Event Spaces'],
 'Wine & Spirits': ['Wine', 'Spirits'],
 'Flowers & Gifts': ['Flowers', 'Gifts'],
 'Auto Parts & Supplies': ['Auto Parts', 'Auto Supplies'],
 'Juice Bars & Smoothies': ['Juice Bars', 'Smoothies'],
 'Cosmetics & Beauty Supply': ['Cosmetics', 'Beauty Supplies'],
 'Arts & Crafts': ['Arts', 'Crafts'],
 'Public Services & Government': ['Public Services', 'Government'],
 'Heating & Air Conditioning/HVAC': ['Heating', 'Air Conditioning', 'HVAC'],
 'IT Services & Computer Repair': ['IT Services', 'Computer Repiar'],
 'Dry Cleaning & Laundry': ['Dry Cleaning', 'Laundry'],
 'Party & Event Planning': ['Party Planning', 'Event Planning'],
 'Eyewear & Opticians': ['Eyewear', 'Opticians'],
 'Music & Video': ['Music', 'Videos'],
 'Nurseries & Gardening': ['Nurseries', 'Gardening'],
 'Sewing & Alterations': ['Sewing', 'Alterations'],
 'Appliances & Repair': ['Appliances', 'Repair'],
 'Kitchen & Bath': ['Kitchen', 'Bath'],
 'Vintage & Consignment': ['Vintage', 'Consignment'],
 'Banks & Credit Unions': ['Banks', 'Credit Unions'],
 'Fruits & Veggies': ['Fruits', 'Veggies'],
 'Photography Stores & Services': ['Photography Stores',
  'Photography Services'],
 'Child Care & Day Care': ['Child Care', 'Day Care'],
 'Junk Removal & Hauling': ['Junk Removal', 'Hauling'],
 'Windshield Installation & Repair': ['Windshield Installation',
  'Windshield Repair'],
 'Chocolatiers & Shops': ['Chocolatiers', 'Shops'],
 'Lighting Fixtures & Equipment': ['Lighting Fixtures', 'Lighting Equipment'],
 'Bed & Breakfast': ['Bed', 'Breakfest'],
 'Keys & Locksmiths': ['Keys', 'Locksmiths'],
 'Couriers & Delivery Services': ['Couriers', 'Delivery Services'],
 'Obstetricians & Gynecologists': ['Obstetricians', 'Gynecologists'],
 'Wheel & Rim Repair': ['Wheel Repair', 'Rim Repair'],
 'Landmarks & Historical Buildings': ['Landmarks', 'Historical Buildings'],
 'Pool & Hot Tub Service': ['Pool Service', 'Hot Tub Service'],
 'Musical Instruments & Teachers': ['Musical Instruments', 'Musical Teachers'],
 'Shades & Blinds': ['Shades', 'Blinds'],
 'Hot Tub & Pool': ['Hot Tub', 'Pool'],
 'Vitamins & Supplements': ['Vitamins', 'Suppplements'],
 'Cards & Stationery': ['Cards', 'Stationery'],
 'Guns & Ammo': ['Guns', 'Ammo'],
 'Baby Gear & Furniture': ['Baby Gear', 'Baby Furniture'],
 'Music & DVDs': ['Music', 'DVDs'],
 'Counseling & Mental Health': ['Counseling', 'Mental Health'],
 'Glass & Mirrors': ['Glass', 'Mirros'],
 'Fish & Chips': ['Fish & Chips'],
 'Fences & Gates': ['Fences', 'Gates'],
 'Videos & Video Game Rental': ['Videos', 'Video Game Rental,'],
 'Jazz & Blues': ['Jazz', 'Blues'],
 'Colleges & Universities': ['Colleges', 'Universities'],
 'Funeral Services & Cemeteries': ['Funeral Services', 'Cemeteries'],
 'Drywall Installation & Repair': ['Drywall Installation', 'Drywall Repair'],
 'Home & Rental Insurance': ['Home Insurance', 'Rental Insurance'],
 'Divorce & Family Law': ['Divorce Law', 'Family Law'],
 'Stadiums & Arenas': ['Stadiums', 'Arenas'],
 'Decks & Railing': ['Decks', 'Railing'],
 'Herbs & Spices': ['Herbs', 'Spices'],
 'Paint & Sip': ['Paint', 'Sip'],
 'Hunting & Fishing Supplies': ['Hunting Supplies', 'Fishing Supplies'],
 'Ear Nose & Throat': ['Ear Nose & Throat'],
 'Middle Schools & High Schools': ['Middle Schools', 'High Schools'],
 'Embroidery & Crochet': ['Embroidery', 'Crochet'],
 'Vocational & Technical School': ['Vocational School', 'Technical School'],
 'Blood & Plasma Donation Centers': ['Blood Donation Centers',
  'Plasma Donation Centers'],
 'Pool & Billiards': ['Pool', 'Billiards'],
 'Newspapers & Magazines': ['Newspapers', 'Magazines'],
 'Ski & Snowboard Shops': ['Ski Shops', 'Snowboard Shops'],
 'Livestock Feed & Supply': ['Livestoock Feed', 'Livestock Supply'],
 '& Probates': ['Probates'],
 'Recording & Rehearsal Studios': ['Recording Studios', 'Rehearsal Studios'],
 'Gemstones & Minerals': ['Gemstones', 'Minerals'],
 'Mobility Equipment Sales & Services': ['Mobility Equipment Sales',
  'Mobility Equipment Services'],
 'Machine & Tool Rental': ['Machine Rental', 'Tool Rental'],
 'Races & Competitions': ['Races', 'Competitions'],
 'Passport & Visa Services': ['Passport Services', 'Visa Services'],
 'Motorcycle Parts & Supplies': ['Motorcycle Parts', 'Motorcycle Supplies'],
 'Opera & Ballet': ['Opera', 'Ballet'],
 'Boat Parts & Supplies': ['Boat Parts', 'Boat Supplies'],
 'Coffee & Tea Supplies': ['Coffee Supplies', ' Tea Supplies'],
 'Jails & Prisons': ['Jails', 'Prisons'],
 'IP & Internet Law': ['IP Law', 'Internet Law'],
 'Sheds & Outdoor Storage': ['Sheds', 'Outdoor Storage'],
 'Sauna Installation & Repair': ['Sauna Installation', 'Sauna Repair'],
 'Cajun/Creole': ['Cajun', 'Creole'],
 'Water Heater Installation/Repair': ['Water Heater Installation',
  'Water Heater Repair'],
 'Community Service/Non-Profit': ['Community Service', 'Non Profit'],
 'Blow Dry/Out Services': ['Blow Dry Services', 'Out Services'],
 'Tapas/Small Plates': ['Tapas Plates', 'Small Plates'],
 'Masonry/Concrete': ['Masonry', 'Concrete'],
 'Door Sales/Installation': ['Door Sales', 'Door Installation'],
 'Bike Repair/Maintenance': ['Bike Repair', 'Bike Maintenance'],
 'Naturopathic/Holistic': ['Naturopathic', 'Holistic'],
 'Laser Eye Surgery/Lasik': ['Laser Eye Surgery', 'Lasik'],
 'Gun/Rifle Ranges': ['Gun Ranges', 'Rifle Ranges'],
 'Screen Printing/T-Shirt Printing': ['Screen Printing', 'T-Shirt Printing'],
 'Rafting/Kayaking': ['Rafting', 'Kayaking'],
 'Patisserie/Cake Shop': ['Patisserie Shop', 'Cake Shop'],
 'Fitness/Exercise Equipment': ['Fitness Equipment', 'Exercise Equipment'],
 'Live/Raw Food': ['Live Food', 'Raw Food'],
 'Video/Film Production': ['Video Production', 'Film Production'],
 'Swimming Lessons/Schools': ['Swimming Lessons', 'Swimming Schools'],
 'Generator Installation/Repair': ['Generator Installation',
  'Generator Repair'],
 'Persian/Iranian': ['Persian', 'Iranian'],
 'Hypnosis/Hypnotherapy': ['Hypnosis', 'Hypnotherapy'],
 'Check Cashing/Pay-day Loans': ['Check Cashing', 'Pay-day Loans'],
 'Prenatal/Perinatal Care': ['Prenatal Care', 'Perinatal Care'],
 'Himalayan/Nepalese': ['Himalayan', 'Nepalese'],
 'Audio/Visual Equipment Rental': ['Audio Visual Equipment Rental'],
 'ATV Rentals/Tours': ['ATV Rentals', 'ATV Tours'],
 'Undersea/Hyperbaric Medicine': ['Undersea Medicine', 'Hyperbaric Medicine']}

In [18]:
from Code.UtilityFunctions.string_functions import turn_words_singular

categories_dict = {i: [i] for i in categories_unique}
categories_dict.update(cat_string_man_handle_dict)

In [19]:
categories_dict_singular = turn_words_singular(categories_dict)

In [20]:
categories_dict_singular['Heating & Air Conditioning/HVAC']

['heating', 'air conditioning', 'hvac']

In [21]:
category_occurences["split_category"] = category_occurences["category"].map(
    categories_dict_singular
)
category_occurences = category_occurences.explode("split_category")

In [22]:
category_occurences[category_occurences["category"].str.contains("/")][
    ["category", "occurences"]
].drop_duplicates()

                              category  occurences
436    Heating & Air Conditioning/HVAC        1199
189                       Cajun/Creole         923
610   Water Heater Installation/Repair         557
396       Community Service/Non-Profit         503
363              Blow Dry/Out Services         456
331                 Tapas/Small Plates         440
177                   Masonry/Concrete         363
218            Door Sales/Installation         277
348            Bike Repair/Maintenance         273
2                Naturopathic/Holistic         221
408            Laser Eye Surgery/Lasik         191
700                   Gun/Rifle Ranges         153
734   Screen Printing/T-Shirt Printing         128
559                   Rafting/Kayaking         126
242               Patisserie/Cake Shop         117
842         Fitness/Exercise Equipment          98
243                      Live/Raw Food          88
947              Video/Film Production          87
555           Swimming Lessons/Schools          83
667      Generator Installation/Repair          72
744                    Persian/Iranian          40
1010             Hypnosis/Hypnotherapy          40
239        Check Cashing/Pay-day Loans          38
945            Prenatal/Perinatal Care          33
964                 Himalayan/Nepalese          21
1067     Audio/Visual Equipment Rental          12
309                  ATV Rentals/Tours          12
1078      Undersea/Hyperbaric Medicine           5

In [23]:
andlist = category_occurences[category_occurences["category"].str.contains("&")]["category"].drop_duplicates().to_list()

In [24]:
category_occurences[category_occurences["category"].str.contains("air")]

                              category  occurences             split_category
223                        Auto Repair        5433                auto repair
105                        Hair Salons        5046                 hair salon
116                       Hair Removal        3239               hair removal
281                      Hair Stylists        1459               hair stylist
96       IT Services & Computer Repair        1189                 it service
96       IT Services & Computer Repair        1189            computer repiar
365                  Men's Hair Salons         828           men's hair salon
152                Appliances & Repair         800                  appliance
152                Appliances & Repair         800                     repair
464                Transmission Repair         639        transmission repair
106                    Hair Extensions         624             hair extension
610   Water Heater Installation/Repair         557  water heater installation
610   Water Heater Installation/Repair         557        water heater repair
445                Mobile Phone Repair         525        mobile phone repair
444                 Electronics Repair         503         electronics repair
115                 Laser Hair Removal         394         laser hair removal
296   Windshield Installation & Repair         352    windshield installation
296   Windshield Installation & Repair         352          windshield repair
428                     Jewelry Repair         347             jewelry repair
547                 Wheel & Rim Repair         303               wheel repair
547                 Wheel & Rim Repair         303                 rim repair
348            Bike Repair/Maintenance         273                bike repair
348            Bike Repair/Maintenance         273           bike maintenance
370                        Shoe Repair         256                shoe repair
564                       Watch Repair         241               watch repair
570                  Motorcycle Repair         204          motorcycle repair
695      Drywall Installation & Repair         151       drywall installation
695      Drywall Installation & Repair         151             drywall repair
315                          RV Repair         108                  rv repair
769                            Donairs          85                     donair
781                        Boat Repair          78                boat repair
667      Generator Installation/Repair          72     generator installation
667      Generator Installation/Repair          72           generator repair
624            Commercial Truck Repair          65    commercial truck repair
409                  Hair Loss Centers          59           hair loss center
492                   Furniture Repair          53           furniture repair
841                   Kids Hair Salons          49            kids hair salon
316                     Trailer Repair          43             trailer repair
978                  Foundation Repair          42          foundation repair
625              Farm Equipment Repair          39      farm equipment repair
950                 Mobile Dent Repair          38         mobile dent repair
831                       Clock Repair          25               clock repair
643         Motorsport Vehicle Repairs          19  motorsport vehicle repair
1173                 Hybrid Car Repair          10          hybrid car repair
880                 Mobile Home Repair           7         mobile home repair
1181                  Aircraft Repairs           4            aircraft repair
1034                       Bike Repair           3                bike repair
1284       Sauna Installation & Repair           2         sauna installation
1284       Sauna Installation & Repair           2               sauna repair
1310                       Trade Fairs           1                 trade fair

In [25]:
category_qid = {}
category_qid2 = {}
for cat in category_occurences["split_category"].to_list():
    try:
        wikidata_query_cat_query = wikidata_query(category_query(category=cat)) # Querys wikidata for the QID of the category
        category_qid[cat] = (wikidata_query_cat_query["item.value"][0][31:],wikidata_query_cat_query["itemLabel.value"][0]) # Adds QID and label of the first result of the query
        category_qid2[cat] = min_qid(wikidata_query_cat_query) # Adds QID and label with min_qid function
    except:
        pass

In [26]:
from pprint import pprint
from deepdiff import DeepDiff
category_qid_only_qid = {key:value for (key,value) in category_qid.items()}
category_qid2_only_qid = {key:value for (key,value) in category_qid2.items()}
# compares the two dictionaries and returns the differences in old value and new value for every key
ddiff = DeepDiff(category_qid_only_qid, category_qid2_only_qid, verbose_level=1)

In [27]:
def compare_qids(new_value: str, old_value: str):
    # check if the new qid is an instance of old qid
    return f"""SELECT ?s 
                WHERE {{?s wdt:P31 wd:{old_value} . 
                        VALUES ?s {{wd:{new_value}}} .
                }}"""

update_qid_dict = {}
for key, value in ddiff['values_changed'].items():
    if key.__contains__("[0]") is True:
        # check if the new qid is an instance of old qid, then update with old qid if true
        if wikidata_query(compare_qids(new_value=value['new_value'], old_value=value['old_value'])).empty is False:
            print(f"Updating {key} from {value['new_value']} to {value['old_value']}")
            update_qid_dict[key[6:-5]] = category_qid[key[6:-5]]
category_qid2.update(update_qid_dict) # update the qid dict with the new qids, updated values: {'airline': 'Q46970', 'boat tour': 'Q25040412', 'magazine': 'Q41298'}

Updating root['airline'][0] from Q8782 to Q46970
Updating root['boat tour'][0] from Q981249 to Q25040412
Updating root['magazine'][0] from Q25738 to Q41298

In [28]:
category_qid2['restaurant']

('Q11707', 'restaurant')

In [29]:
category_occurences['qid'] = category_occurences['split_category'].map(category_qid2)
category_occurences[['qid','qid_label']] = pd.DataFrame(category_occurences['qid'].tolist(),index=category_occurences.index)

In [30]:
category_qid_list = category_occurences["qid"].tolist()
category_qid_list = [i for i in category_qid_list if i is not np.nan]

In [31]:
item_list = category_qid_list

item_list_len = len(item_list)
# The limit is set to meet the requirements of the wikibase API wbgetentities (max 50)
# Ceil makes sure that the each subset from item_list is no longer than 50
limit = ceil(item_list_len / 50)

# Seperates the item_list to a nested_list with max 50 items in each list
piped_list = [item_list[pipe::limit] for pipe in range(limit)]

category_wikidata = {}
for i in piped_list:
    category_wikidata.update(retrieve_wikidata_claims(i))

In [32]:
category_triple = {}
for key, values in category_wikidata.items():
    for value in values:
        for obj in value:
            if obj["mainsnak"]["property"] == "P279":
                data_value = obj["mainsnak"]["datavalue"]["value"]["id"]
                category_triple[key] = category_triple.get(key, []) + [data_value]
category_triple

{'Q11707': ['Q62602544', 'Q1431026', 'Q41176', 'Q41958'],
 'Q81799': ['Q746549', 'Q8195619'],
 'Q683595': ['Q684740'],
 'Q14092': ['Q641226', 'Q1076486'],
 'Q55187': ['Q27943370', 'Q33394058', 'Q108289644'],
 'Q148958': ['Q1183543', 'Q987767'],
 'Q858012': ['Q5307737'],
 'Q152095': ['Q987767', 'Q2024731'],
 'Q171495': ['Q1762457', 'Q1183543'],
 'Q5526883': ['Q212198', 'Q11707'],
 'Q11442': ['Q595658', 'Q233040', 'Q768186'],
 'Q43183': ['Q15809678', 'Q837171'],
 'Q11424': ['Q2431196', 'Q10301427', 'Q4502142', 'Q20937557'],
 'Q35054': ['Q294422'],
 'Q10611118': ['Q24455304', 'Q4830453', 'Q63922515'],
 'Q11419': ['Q11417', 'Q212434'],
 'Q638': ['Q184485', 'Q173799', 'Q11461', 'Q114088986'],
 'Q7075': ['Q1030034', 'Q13226383', 'Q2668072'],
 'Q329737': ['Q2588761', 'Q108286217'],
 'Q339836': ['Q3897491'],
 'Q39809': ['Q8187769', 'Q42240'],
 'Q3095365': ['Q148571'],
 'Q1410837': ['Q37038'],
 'Q208386': ['Q7708485'],
 'Q1065252': ['Q2460422'],
 'Q792635': ['Q12898216', 'Q349'],
 'Q14350': ['Q15265344', 'Q11033'],
 'Q35808': ['Q287', 'Q14515877', 'Q1408429'],
 'Q93165': ['Q4739805', 'Q427457', 'Q7445643'],
 'Q5175316': ['Q1229765'],
 'Q5671453': ['Q237105'],
 'Q2341939': ['Q2310214'],
 'Q3664857': ['Q13226383'],
 'Q130003': ['Q1076486', 'Q6925559', 'Q55463907', 'Q16677896', 'Q486972'],
 'Q856251': ['Q7748'],
 'Q482919': ['Q134307', 'Q60548032'],
 'Q243237': ['Q877729', 'Q1479406', 'Q41689629'],
 'Q1506462': ['Q11416', 'Q65496063', 'Q19862406'],
 'Q40357': ['Q13226383', 'Q16831714', 'Q43229'],
 'Q219554': ['Q61065', 'Q911069'],
 'Q1061842': ['Q1683302'],
 'Q2095': ['Q1194058', 'Q223557'],
 'Q80973': ['Q6460735'],
 'Q192935': ['Q2095', 'Q25403900', 'Q107166476'],
 'Q735': ['Q1914636', 'Q184872', 'Q3249551'],
 'Q205495': ['Q655686'],
 'Q261428': ['Q2865305'],
 'Q1618728': ['Q873442'],
 'Q847462': ['Q15361145'],
 'Q179232': ['Q114436249'],
 'Q622425': ['Q8719053', 'Q5307737', 'Q57660343'],
 'Q4174178': ['Q7590'],
 'Q3555589': ['Q685433'],
 'Q229345': ['Q10668278'],
 'Q188475': ['Q1420'],
 'Q2383811': ['Q2424752'],
 'Q855691': ['Q11460'],
 'Q1625476': ['Q2037332'],
 'Q14373': ['Q36963'],
 'Q17148672': ['Q988108'],
 'Q7361703': ['Q213441'],
 'Q188788': ['Q2095'],
 'Q1319035': ['Q8434', 'Q61788126'],
 'Q105507': ['Q21369154'],
 'Q3766177': ['Q1208175', 'Q93922873'],
 'Q25040412': ['Q570116'],
 'Q12478': ['Q13266'],
 'Q901222': ['Q974144'],
 'Q865054': ['Q987767'],
 'Q6586445': ['Q18674739', 'Q57660343'],
 'Q616100': ['Q5307737'],
 'Q42973': ['Q5322166', 'Q255274'],
 'Q842811': ['Q2576499', 'Q11974939'],
 'Q1892715': ['Q58480509'],
 'Q36389': ['Q11417', 'Q212434'],
 'Q217102': ['Q1479406', 'Q1914636', 'Q2144962', 'Q627436', 'Q104637332'],
 'Q240471': ['Q1914636'],
 'Q16181479': ['Q77115'],
 'Q197195': ['Q11460'],
 'Q2292514': ['Q3914'],
 'Q3565622': ['Q67140121'],
 'Q830036': ['Q451967'],
 'Q734263': ['Q80973', 'Q12896105'],
 'Q216200': ['Q1665268', 'Q3878446'],
 'Q169545': ['Q2424752', 'Q2162595'],
 'Q28640': ['Q192581'],
 'Q34508': ['Q2695280'],
 'Q131734': ['Q83405', 'Q1252971', 'Q628858'],
 'Q1573930': ['Q11460', 'Q1292119'],
 'Q1433006': ['Q23497974'],
 'Q33231': ['Q3391743', 'Q108289430'],
 'Q418': ['Q1472062'],
 'Q3574069': ['Q213441', 'Q13226383', 'Q655686', 'Q1252971', 'Q27038993'],
 'Q42177': ['Q14745', 'Q45422604'],
 'Q840545': ['Q472094', 'Q11190', 'Q113129019'],
 'Q1936429': ['Q152095'],
 'Q876852': ['Q43229'],
 'Q1592332': ['Q1374250'],
 'Q8341': ['Q373342'],
 'Q11033': ['Q340169', 'Q17537576', 'Q121182', 'Q24229398'],
 'Q11460': ['Q386724', 'Q2424752', 'Q8205328', 'Q113518695'],
 'Q207238': ['Q213934', 'Q337210'],
 'Q1520439': ['Q1400881', 'Q684740'],
 'Q1561361': ['Q2385804'],
 'Q4936963': ['Q182442'],
 'Q24284215': ['Q213441', 'Q655686', 'Q13226383'],
 'Q191498': ['Q1811005'],
 'Q2863': ['Q131746', 'Q1979901'],
 'Q43501': ['Q96102071', 'Q22698', 'Q588140'],
 'Q3709121': ['Q936044'],
 'Q1121481': ['Q183257'],
 'Q863803': ['Q796194'],
 'Q192832': ['Q216048', 'Q206989'],
 'Q159992': ['Q61065', 'Q911069', 'Q212434'],
 'Q311935': ['Q2424752', 'Q214609'],
 'Q842478': ['Q110535672'],
 'Q622676': ['Q25312655'],
 'Q41425': ['Q1020618', 'Q1370345'],
 'Q459886': ['Q43501'],
 'Q731615': ['Q179661', 'Q1423517'],
 'Q25653': ['Q11446'],
 'Q208322': ['Q15124452', 'Q1144661'],
 'Q606591': ['Q179661'],
 'Q7242': ['Q367293'],
 'Q27686': ['Q1431026', 'Q5056668'],
 'Q811501': ['Q2920921'],
 'Q282': ['Q154'],
 'Q13290': ['Q751728', 'Q3314483'],
 'Q192783': ['Q182940', 'Q1401891', 'Q746549', 'Q7340417', 'Q5004791'],
 'Q571': ['Q49848', 'Q2342494', 'Q3331189'],
 'Q7590': ['Q451967', 'Q4284762', 'Q8187769'],
 'Q1368743': ['Q194189'],
 'Q1068892': ['Q28803'],
 'Q2471487': ['Q11460'],
 'Q16917': ['Q178706', 'Q4260475', 'Q814610', 'Q30139652', 'Q41176'],
 'Q1552579': ['Q3606537'],
 'Q132041': ['Q39546'],
 'Q2141830': ['Q184872', 'Q155930', 'Q61788060'],
 'Q1501': ['Q1076486', 'Q12004466'],
 'Q1072166': ['Q27077054', 'Q112654507', 'Q655686'],
 'Q1088': ['Q9128', 'Q10834659'],
 'Q521839': ['Q13226383'],
 'Q384014': ['Q7748', 'Q222249'],
 'Q2094083': ['Q213934'],
 'Q1932239': ['Q156839'],
 'Q312466': ['Q676202', 'Q40056'],
 'Q1295316': ['Q4260475'],
 'Q261362': ['Q327333'],
 'Q1340098': ['Q3914'],
 'Q7735': ['Q61065', 'Q212434'],
 'Q108429': ['Q349', 'Q2252077', 'Q212434'],
 'Q3231410': ['Q213441', 'Q11707'],
 'Q194517': ['Q796194'],
 'Q1193068': ['Q5307737', 'Q61906224'],
 'Q2995263': ['Q60673395'],
 'Q2111762': ['Q656720', 'Q1662011', 'Q4830453'],
 'Q484000': ['Q11436', 'Q1527901'],
 'Q446901': ['Q322563'],
 'Q221722': ['Q5198662', 'Q34442'],
 'Q866224': ['Q2426135'],
 'Q61509': ['Q79782', 'Q451967'],
 'Q625145': ['Q23009442'],
 'Q193291': ['Q15619164', 'Q28855038', 'Q4271324'],
 'Q107198': ['Q33394058', 'Q108289644'],
 'Q202883': ['Q3332438', 'Q11974939'],
 'Q878156': ['Q17200001'],
 'Q935666': ['Q27943370', 'Q11336353'],
 'Q181138': ['Q83364'],
 'Q22687': ['Q1416431', 'Q730038', 'Q6881511', 'Q5260792', 'Q650241'],
 'Q153551': ['Q213441', 'Q1077064'],
 'Q3505712': ['Q3259956', 'Q11190'],
 'Q132241': ['Q15275719', 'Q43229', 'Q19711353'],
 'Q783007': ['Q3749082'],
 'Q11371': ['Q2169973', 'Q2401749'],
 'Q11325221': ['Q2752318'],
 'Q1497831': ['Q95722120', 'Q1427940'],
 'Q758780': ['Q108290759'],
 'Q4390239': ['Q9353606', 'Q11024'],
 'Q148571': ['Q811430', 'Q2084929', 'Q1307347'],
 'Q180958': ['Q23005223'],
 'Q178512': ['Q28314507', 'Q12162227'],
 'Q326653': ['Q108286983'],
 'Q621261': ['Q883708', 'Q796194', 'Q179661'],
 'Q7927919': ['Q213441', 'Q655686', 'Q13226383'],
 'Q494312': ['Q787116', 'Q13226383'],
 'Q187791': ['Q271588', 'Q11060274', 'Q8148', 'Q144334'],
 'Q2467501': ['Q768186'],
 'Q2015874': ['Q1255921'],
 'Q608152': ['Q4260475', 'Q29483'],
 'Q7979077': ['Q108325', 'Q107724136'],
 'Q866742': ['Q62602544'],
 'Q23397': ['Q337567', 'Q3391202', 'Q30092755', 'Q15324', 'Q271669'],
 'Q557141': ['Q36649'],
 'Q2861470': ['Q11190', 'Q113129019'],
 'Q1230600': ['Q1392857', 'Q4830453'],
 'Q786922': ['Q1454553', 'Q1195412'],
 'Q816425': ['Q2695280'],
 'Q721931': ['Q811430'],
 'Q328325': ['Q108290556', 'Q811122'],
 'Q1594437': ['Q173799'],
 'Q7743': ['Q699405'],
 'Q12502': ['Q182940'],
 'Q44': ['Q154', 'Q169336'],
 'Q786803': ['Q2865305', 'Q213441', 'Q601401'],
 'Q1399328': ['Q179415'],
 'Q852100': ['Q23841'],
 'Q1156976': ['Q1914636'],
 'Q745877': ['Q3277997'],
 'Q43006': ['Q678649'],
 'Q2043121': ['Q1914636', 'Q188844', 'Q16605260'],
 'Q2576499': ['Q11974939'],
 'Q192874': ['Q736427', 'Q178'],
 'Q1076052': ['Q3914', 'Q1455871'],
 'Q848466': ['Q33394058', 'Q109583659'],
 'Q34956': ['Q174211', 'Q531507', 'Q181394'],
 'Q317309': ['Q1403186', 'Q19829125', 'Q12147'],
 'Q53060': ['Q811979', 'Q854429', 'Q1183543'],
 'Q3918': ['Q38723', 'Q4671277'],
 'Q374035': ['Q3590880', 'Q104602244'],
 'Q1043639': ['Q187456', 'Q105321449'],
 'Q133215': ['Q655686'],
 'Q12695722': ['Q1156976'],
 'Q3045287': ['Q796194'],
 'Q385870': ['Q330284', 'Q132510', 'Q2925872'],
 'Q22857': ['Q968907', 'Q484937'],
 'Q808266': ['Q157195', 'Q108289643'],
 'Q65121387': ['Q213441'],
 'Q662423': ['Q455550', 'Q438746'],
 'Q3308829': ['Q1773974'],
 'Q80687': ['Q255274'],
 'Q849706': ['Q67183571', 'Q1433344', 'Q2298537'],
 'Q1971849': ['Q3914'],
 'Q7358': ['Q10774753', 'Q17307272'],
 'Q506': ['Q24060707', 'Q20011319'],
 'Q6803181': ['Q156362'],
 'Q251958': ['Q1107656'],
 'Q284983': ['Q3897491'],
 'Q1706258': ['Q1228895'],
 'Q1414887': ['Q69393385'],
 'Q12147': ['Q7189713', 'Q16681739', 'Q19829125'],
 'Q274393': ['Q1252971',
  'Q655686',
  'Q27038993',
  'Q213441',
  'Q628858',
  'Q4830453'],
 'Q706848': ['Q706884', 'Q83267'],
 'Q3303463': ['Q580939', 'Q62602544', 'Q1565905'],
 'Q2040532': ['Q309100'],
 'Q1139861': ['Q13226383'],
 'Q652122': ['Q3249551', 'Q2407861', 'Q2207288'],
 'Q7887327': ['Q1368912'],
 'Q184485': ['Q735'],
 'Q2306047': ['Q7406919', 'Q29017603'],
 'Q7309759': ['Q1391390'],
 'Q1068361': ['Q43183', 'Q3813256'],
 'Q931309': ['Q4914995', 'Q2671652', 'Q177719', 'Q113129019'],
 'Q1411287': ['Q13226383'],
 'Q1137210': ['Q988108', 'Q1076486'],
 'Q848436': ['Q184199'],
 'Q506126': ['Q1760141'],
 'Q380141': ['Q179661'],
 'Q37038': ['Q11028', 'Q17537576', 'Q7406919'],
 'Q178678': ['Q7128792'],
 'Q45782': ['Q315630'],
 'Q628967': ['Q1567259'],
 'Q590282': ['Q2359703'],
 'Q1318158': ['Q11460'],
 'Q332774': ['Q105442528'],
 'Q17085167': ['Q1782301'],
 'Q909906': ['Q1076486', 'Q1867518'],
 'Q167987': ['Q3705105'],
 'Q938683': ['Q173603', 'Q3030569', 'Q34493'],
 'Q12185286': ['Q23817612', 'Q24175362'],
 'Q1931925': ['Q213441'],
 'Q7291': ['Q2426135', 'Q212434'],
 'Q895060': ['Q1368898', 'Q15855160', 'Q877517'],
 'Q942297': ['Q362200', 'Q65088916'],
 'Q11190': ['Q843601', 'Q20532'],
 'Q12684': ['Q11042', 'Q8187769', 'Q13427002'],
 'Q9266': ['Q2095', 'Q746549'],
 'Q269107': ['Q625145'],
 'Q13107184': ['Q2865305', 'Q213441', 'Q30139652'],
 'Q161837': ['Q7406919'],
 'Q41415': ['Q746549', 'Q2095', 'Q11435', 'Q14915034'],
 'Q272502': ['Q21595102', 'Q28134486', 'Q2095'],
 'Q519076': ['Q160117'],
 'Q1522620': ['Q132510'],
 'Q3568190': ['Q213441'],
 'Q186637': ['Q811979', 'Q391414', 'Q25535985'],
 'Q68': ['Q11019', 'Q241317', 'Q1662611'],
 'Q1151364': ['Q11460'],
 'Q915196': ['Q1668556', 'Q133492'],
 'Q9842': ['Q3914'],
 'Q1362405': ['Q13233', 'Q866153'],
 'Q1201679': ['Q11590806'],
 'Q32112': ['Q7128792', 'Q212434'],
 'Q40080': ['Q19817101', 'Q468756', 'Q17350442'],
 'Q865693': ['Q1374250'],
 'Q179010': ['Q746549'],
 'Q149566': ['Q3914', 'Q159334'],
 'Q179226': ['Q7590', 'Q192581', 'Q3326454', 'Q212434', 'Q114732027'],
 'Q11175': ['Q181767'],
 'Q654772': ['Q27686'],
 'Q185196': ['Q11974939', 'Q80015'],
 'Q901347': ['Q9254306'],
 'Q55488': ['Q12819564', 'Q97987466'],
 'Q2736': ['Q1081491', 'Q216048'],
 'Q1349657': ['Q1872261'],
 'Q330284': ['Q39659371', 'Q655686'],
 'Q14693887': ['Q12177444'],
 'Q44541': ['Q13276', 'Q746549'],
 'Q176440': ['Q8205328', 'Q39546'],
 'Q187916': ['Q3001412'],
 'Q217108': ['Q206989'],
 'Q3427917': ['Q11707'],
 'Q207703': ['Q902378'],
 'Q5419137': ['Q163740'],
 'Q6663': ['Q746549', 'Q111981894'],
 'Q42417097': ['Q656365'],
 'Q104817981': ['Q1762621', 'Q99536263', 'Q655686', 'Q13226383', 'Q57334497'],
 'Q7188': ['Q2267705', 'Q43229'],
 'Q10932402': ['Q2334804'],
 'Q17517': ['Q11035', 'Q5082128'],
 'Q212920': ['Q1183543', 'Q1836700'],
 'Q2963953': ['Q55071047', 'Q29881694'],
 'Q5874968': ['Q1374250'],
 'Q5377': ['Q877517', 'Q31085894', 'Q212434'],
 'Q816851': ['Q13276'],
 'Q268052': ['Q43006', 'Q131207'],
 'Q305012': ['Q2992505'],
 'Q1545773': ['Q26270576', 'Q11019'],
 'Q875696': ['Q2383811', 'Q39546'],
 'Q204794': ['Q462437'],
 'Q5250864': ['Q2069006'],
 'Q5166147': ['Q4260475'],
 'Q2845': ['Q1902558', 'Q3706669'],
 'Q48003': ['Q349'],
 'Q7434': ['Q11460'],
 'Q9826': ['Q159334'],
 'Q57036': ['Q190771', 'Q41176', 'Q17521458'],
 'Q2917466': ['Q12797895'],
 'Q545599': ['Q3947', 'Q5832296'],
 'Q1079856': ['Q5259404'],
 'Q721207': ['Q44782', 'Q6501349'],
 'Q1355413': ['Q171141'],
 'Q77115': ['Q18674739', 'Q41176', 'Q43229', 'Q1329623', 'Q8536775'],
 'Q190531': ['Q2095'],
 'Q55190072': ['Q11190', 'Q1773974'],
 'Q231147': ['Q207892'],
 'Q2471422': ['Q6388', 'Q179643'],
 'Q1551574': ['Q183951'],
 'Q1428011': ['Q1493881', 'Q28640'],
 'Q1298120': ['Q6498663'],
 'Q61391': ['Q43450', 'Q11639', 'Q61788060'],
 'Q178380': ['Q309162', 'Q644628'],
 'Q30022': ['Q112654507', 'Q213441'],
 'Q179415': ['Q1190058', 'Q796194'],
 'Q7243397': ['Q131207'],
 'Q173725': ['Q11395329'],
 'Q220142': ['Q213441', 'Q4830453'],
 'Q9350': ['Q219067', 'Q376022', 'Q2270606', 'Q6864036', 'Q108458'],
 'Q555997': ['Q40578', 'Q7887327'],
 'Q165029': ['Q1391083', 'Q2588761'],
 'Q157943': ['Q890057', 'Q20204151'],
 'Q213441': ['Q628858', 'Q49416455', 'Q655686', 'Q4830453'],
 'Q5994': ['Q3152898', 'Q52954', 'Q4951628'],
 'Q82650': ['Q580939'],
 'Q11180': ['Q11190'],
 'Q172809': ['Q3177899'],
 'Q875157': ['Q63099748', 'Q12292478', 'Q21980538'],
 'Q42527': ['Q2596997', 'Q2247340', 'Q473666'],
 'Q4290': ['Q1369832', 'Q3380760'],
 'Q2837942': ['Q3332438', 'Q12119633'],
 'Q188504': ['Q25312655', 'Q20532', 'Q269829'],
 'Q1967434': ['Q182076'],
 'Q1154336': ['Q22857'],
 'Q161851': ['Q2588076', 'Q1400881', 'Q684740'],
 'Q164731': ['Q537769'],
 'Q809889': ['Q2310214'],
 'Q34627': ['Q831219'],
 'Q897403': ['Q4830453', 'Q3914'],
 'Q392409': ['Q179643'],
 'Q2002539': ['Q13226383', 'Q3591545'],
 'Q130949': ['Q204686', 'Q484937', 'Q212434'],
 'Q32815': ['Q1370598'],
 'Q5064153': ['Q9053464', 'Q56627913'],
 'Q7138600': ['Q22698'],
 'Q173799': ['Q1914636', 'Q28877'],
 'Q13233': ['Q866153', 'Q3712597', 'Q113773097'],
 'Q8434': ['Q133500', 'Q7406919'],
 'Q161439': ['Q36649', 'Q4470686', 'Q207241'],
 'Q475018': ['Q180516'],
 'Q191655': ['Q746549', 'Q748611', 'Q81799', 'Q1316209', 'Q69393237'],
 'Q401404': ['Q55315265', 'Q8187769'],
 'Q332030': ['Q7590'],
 'Q169': ['Q14712', 'Q3314483'],
 'Q715858': ['Q1884224'],
 'Q200764': ['Q213441'],
 'Q1278442': ['Q160117'],
 'Q1550460': ['Q16861871'],
 'Q7491078': ['Q866153'],
 'Q12796': ['Q1194773', 'Q110155210'],
 'Q16970': ['Q24398318'],
 'Q375': ['Q6128', 'Q748611', 'Q746549', 'Q1226651', 'Q477248', 'Q5004791'],
 'Q38516': ['Q858177'],
 'Q1282870': ['Q1076486'],
 'Q352222': ['Q10273457'],
 'Q211346': ['Q6817473', 'Q3332438'],
 'Q12102552': ['Q1261026', 'Q1002697', 'Q11033'],
 'Q520611': ['Q2215841'],
 'Q808744': ['Q187456'],
 'Q659974': ['Q34394'],
 'Q460053': ['Q837721'],
 'Q1638773': ['Q126793'],
 'Q45767': ['Q1823478', 'Q476300'],
 'Q445063': ['Q54834134', 'Q1564871'],
 'Q539690': ['Q11180'],
 'Q706636': ['Q167037'],
 'Q155647': ['Q12328016', 'Q12797895'],
 'Q1072012': ['Q16502', 'Q17334923'],
 'Q1043226': ['Q82604', 'Q3249551'],
 'Q5185985': ['Q2296694'],
 'Q164359': ['Q9081', 'Q937228'],
 'Q211340': ['Q666242', 'Q748611'],
 'Q1459915': ['Q2761147'],
 'Q28803': ['Q748611', 'Q5004791'],
 'Q8007048': ['Q4830453'],
 'Q13319': ['Q866153'],
 'Q3109696': ['Q11707'],
 'Q1922416': ['Q187456'],
 'Q7500021': ['Q112274793'],
 'Q811530': ['Q213441'],
 'Q16406': ['Q213441'],
 'Q11004': ['Q756', 'Q107122728', 'Q25403900'],
 'Q21017121': ['Q213441', 'Q13226383', 'Q655686', 'Q484847'],
 'Q1455871': ['Q5038877'],
 'Q41726': ['Q996839'],
 'Q815738': ['Q22809652', 'Q1357761'],
 'Q1343262': ['Q3715160'],
 'Q185785': ['Q8205328', 'Q728'],
 'Q2741056': ['Q14745', 'Q9158768'],
 'Q7171565': ['Q180472'],
 'Q272399': ['Q30022'],
 'Q1192284': ['Q13226383', 'Q11707'],
 'Q1054772': ['Q107281362'],
 'Q212989': ['Q7223116'],
 'Q2814066': ['Q3469910'],
 'Q747457': ['Q3897491', 'Q746549'],
 'Q5381371': ['Q1003030', 'Q2193887', 'Q626700'],
 'Q1147545': ['Q1521410', 'Q245005', 'Q211841', 'Q987767'],
 'Q657032': ['Q26343751', 'Q147538'],
 'Q155656': ['Q327197', 'Q1298356', 'Q1789452'],
 'Q741939': ['Q4390239'],
 'Q131183': ['Q154250', 'Q18674739'],
 'Q595071': ['Q12615130', 'Q6840857'],
 'Q383695': ['Q918385', 'Q765633'],
 'Q638608': ['Q1395034'],
 'Q113603': ['Q163740', 'Q16605260'],
 'Q127933': ['Q1146001', 'Q10805684', 'Q2424752'],
 'Q148319': ['Q24354', 'Q3152824'],
 'Q15284': ['Q1048835', 'Q486972', 'Q56061', 'Q192611', 'Q2659904'],
 'Q12681': ['Q36649', 'Q37260'],
 'Q1032372': ['Q2015628', 'Q13226383', 'Q43229', 'Q3540209'],
 'Q3368718': ['Q3332438'],
 'Q177': ['Q13485782', 'Q1408229', 'Q666242', 'Q26996677'],
 'Q377117': ['Q156839'],
 'Q184303': ['Q28877'],
 'Q917028': ['Q753779', 'Q62602544'],
 'Q83364': ['Q32090', 'Q49773'],
 'Q5422874': ['Q1065579'],
 'Q155511': ['Q188913'],
 'Q6887188': ['Q10273457', 'Q2424752'],
 'Q364005': ['Q13226383', 'Q121359', 'Q178706'],
 'Q22657': ['Q181790', 'Q34669510'],
 'Q2319498': ['Q15642541', 'Q2434238', 'Q811979'],
 'Q11875349': ['Q811430', 'Q17334923', 'Q22746'],
 'Q267917': ['Q999646'],
 'Q3640372': ['Q5487333', 'Q212198'],
 'Q39614': ['Q1497375', 'Q12131650', 'Q13226383', 'Q811979'],
 'Q336532': ['Q48835818', 'Q188507'],
 'Q24140788': ['Q213441'],
 'Q80994': ['Q7239', 'Q851990'],
 'Q174219': ['Q214609', 'Q12041698'],
 'Q22908': ['Q67140121'],
 'Q131596': ['Q10354598', 'Q5890494'],
 'Q1442496': ['Q1662011', 'Q3044808'],
 'Q322563': ['Q73768821'],
 'Q315412': ['Q67140121'],
 'Q11032': ['Q1193236',
  'Q1002697',
  'Q28877',
  'Q43229',
  'Q17172633',
  'Q4830453',
  'Q28813620'],
 'Q15037754': ['Q673687'],
 'Q876737': ['Q27672886'],
 'Q10987': ['Q5159627', 'Q6584340', 'Q19388114', 'Q211439', 'Q7493597'],
 'Q192520': ['Q11482290', 'Q484937'],
 'Q28837': ['Q3332438'],
 'Q18411786': ['Q3689421', 'Q41176', 'Q33506'],
 'Q917273': ['Q3552566'],
 'Q1326624': ['Q1951366', 'Q1341478'],
 'Q2350126': ['Q16145150', 'Q7939609'],
 'Q1230557': ['Q10861387'],
 'Q693369': ['Q41176', 'Q13226383', 'Q655686', 'Q49416455'],
 'Q8486': ['Q40050',
  'Q1365365',
  'Q37756327',
  'Q147538',
  'Q19359564',
  'Q2647467',
  'Q473666'],
 'Q39631': ['Q11974939'],
 'Q27349': ['Q3332438', 'Q16061291', 'Q108289390'],
 'Q188507': ['Q699405', 'Q1497384'],
 'Q837171': ['Q7406919', 'Q25351891', 'Q2424752', 'Q806750', 'Q815823'],
 'Q4260475': ['Q13226383', 'Q30139652', 'Q811979'],
 'Q1996635': ['Q5422651', 'Q213441', 'Q108290424'],
 'Q124946': ['Q48803', 'Q47728'],
 'Q181055': ['Q746549', 'Q2957687', 'Q28803', 'Q81799', 'Q7427595'],
 'Q211578': ['Q3632343', 'Q2207288', 'Q17200001'],
 'Q1318959': ['Q213441'],
 'Q1971625': ['Q206615'],
 'Q33506': ['Q1030034', 'Q570116'],
 'Q40348': ['Q185351', 'Q15987302'],
 'Q178794': ['Q1065579', 'Q376'],
 'Q160020': ['Q219858', 'Q1293220', 'Q13415428', 'Q19829125'],
 'Q2815948': ['Q42973', 'Q5322166', 'Q108289383'],
 'Q7208574': ['Q9266', 'Q44480854', 'Q28100113'],
 'Q857909': ['Q5307737'],
 'Q337810': ['Q43229', 'Q57261084'],
 'Q178588': ['Q16629185'],
 'Q46970': ['Q1875615'],
 'Q176637': ['Q213441'],
 'Q691823': ['Q20888925', 'Q65037298'],
 'Q60061622': ['Q21198548'],
 'Q846849': ['Q746549', 'Q41415', 'Q190531'],
 'Q2609670': ['Q7748'],
 'Q41298': ['Q1002697', 'Q340169', 'Q39725049', 'Q11033', 'Q1261026'],
 'Q431640': ['Q16683598'],
 'Q1505189': ['Q2302028'],
 'Q83437': ['Q7946'],
 'Q2000218': ['Q2068248', 'Q173799'],
 'Q193210': ['Q765633', 'Q644628'],
 'Q1773974': ['Q31207', 'Q1717246', 'Q189603'],
 'Q1426493': ['Q486972'],
 'Q1666223': ['Q215627'],
 'Q507816': ['Q1572278'],
 'Q5098002': ['Q1914636'],
 'Q3266340': ['Q1914636', 'Q204686'],
 'Q24736020': ['Q3914'],
 'Q562166': ['Q4539', 'Q4830453', 'Q699405'],
 'Q6097': ['Q61951',
  'Q19359564',
  'Q1365365',
  'Q11090700',
  'Q2647467',
  'Q473666'],
 'Q39201': ['Q622852'],
 'Q1294114': ['Q999981'],
 'Q7361709': ['Q1295201', 'Q213441'],
 'Q41583': ['Q50995749', 'Q1781513'],
 'Q22698': ['Q22652', 'Q111415237', 'Q13226383', 'Q811979', 'Q35145743'],
 'Q43164': ['Q180516'],
 'Q472760': ['Q2342494', 'Q2424752'],
 'Q189010': ['Q185351'],
 'Q114517612': ['Q1032774'],
 'Q11315': ['Q18760388', 'Q39659371', 'Q43229'],
 'Q10874': ['Q737460', 'Q3041498', 'Q102186718'],
 'Q185925': ['Q82604', 'Q36649'],
 'Q11453': ['Q10843872', 'Q7590'],
 'Q76470': ['Q213441'],
 'Q539809': ['Q327333'],
 'Q194428': ['Q42679632', 'Q628858', 'Q811979', 'Q811430'],
 'Q154549': ['Q15977971', 'Q2588761', 'Q811122'],
 'Q754796': ['Q877517'],
 'Q932586': ['Q21198548', 'Q590870'],
 'Q18281': ['Q1817291', 'Q53001749'],
 'Q212105': ['Q8434', 'Q627208'],

In [33]:
wiki_subclasses = pd.DataFrame(
    list(category_triple.items()), columns=["category_qid", "subclassOf"]
).explode("subclassOf")

In [34]:
wiki_subclasses

    category_qid subclassOf
0         Q11707  Q62602544
0         Q11707   Q1431026
0         Q11707     Q41176
0         Q11707     Q41958
1         Q81799    Q746549
..           ...        ...
571      Q772298  Q16605260
571      Q772298    Q699405
571      Q772298  Q13226383
572       Q57305    Q288514
572       Q57305  Q15275719

[1074 rows x 2 columns]

In [35]:
df = category_occurences.merge(
    wiki_subclasses, left_on="qid", right_on="category_qid", how="left"
)

In [36]:
schema_mappings = pd.read_csv(get_path("class_mappings.csv"))
df['split_category'] = df['split_category'].apply(lambda x: x.title().replace(' ',''))
df1 = df.merge(schema_mappings, left_on="split_category", right_on="YelpCategory", how="left")

In [37]:
df1.loc[df1['qid'] == 'Q103597']

,category,occurences,split_category,qid,qid_label,category_qid,subclassOf,YelpCategory,SchemaType
884,Surgeons,123,Surgeon,Q103597,Georg Hartog Gerson,NaN,NaN,NaN,NaN

In [38]:
from rdflib import Namespace, Graph, URIRef, Literal, BNode
from rdflib.namespace import RDFS
import urllib.parse
schema = Namespace("https://schema.org/")
example = Namespace("https://example.org/")
wiki = Namespace("https://www.wikidata.org/entity/")
# triple_file = gzip.open(filename=f"/home/ubuntu/vol1/virtuoso/import/yelp_business.nt.gz", mode="at",encoding="utf-8")

G = Graph()
for i in df1.itertuples():
    if i.subclassOf is not np.nan:
        G.add((wiki[i.qid], wiki["P279"], wiki[i.subclassOf]))
    if i.qid is not np.nan:
        G.add((wiki[i.qid], RDFS["label"], Literal(i.qid_label)))
        G.add((wiki[i.qid], RDFS["Class"], example['WikiCategory']))
        if i.SchemaType is not np.nan:
            G.add((schema[i.SchemaType], schema["sameAs"], wiki[i.qid]))
        else:
            G.add((example[i.split_category], schema["sameAs"], wiki[i.qid]))

nt = G.serialize(destination="categories.nt", format="nt")


# triple_file.write(G.serialize(format="nt"))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/rdflib/plugins/serializers/nt.py:35: UserWarning: NTSerializer always uses UTF-8 encoding. Given encoding was: None
  warnings.warn(

'coffee and tea' superclassOf 'qid of coffee'
'coffee and tea' superclassOf 'qid of tea'

'Restaurants' schema:sameAs 'qid of restaurant'

'qid of coffee' wiki:subclassOf(P279) 'qid'
'qid of tea' wiki:subclassOf(P279) 'qid'

schema:'restaurant' schema:sameAs wiki:'restaurant'