In [1]:
from Code.UtilityFunctions.run_query import run_query

### Average Indegree

In [4]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

   avgIndegree.value
0  3.353450089746473

### Average Outdegree

In [3]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

   avgOutdegree.value
0  12.200774898295313