In [1]:
from Code.UtilityFunctions.run_query import run_query

### Average Indegree (overall)

In [4]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

   avgIndegree.value
0  3.353450089746473

### Average Outdegree (overall)

In [3]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

   avgOutdegree.value
0  12.200774898295313

### Average Indegree (business)

In [2]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?o rdfs:Class schema:LocalBusiness .
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

    avgIndegree.value
0  46.494619078658561

### Average Outdegree (business)

In [3]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s rdfs:Class schema:LocalBusiness .
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

    avgOutdegree.value
0  114.016661567318053

### Average Indegree (user)

In [4]:
sparql_query = """
SELECT AVG(?indegree) as ?avgIndegree
WHERE {
    SELECT ?o (COUNT(?p) as ?indegree)
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?o rdfs:Class schema:Person .
        ?s ?p ?o .
    }
    GROUP BY ?o
}
"""

run_query(sparql_query, as_dataframe=True)

   avgIndegree.value
0  3.973627406248915

### Average Outdegree (user)

In [5]:
sparql_query = """
SELECT AVG(?outdegree) as ?avgOutdegree
WHERE {
    SELECT ?s COUNT(?p) as ?outdegree
    FROM <http://www.yelpkg.com/yelp_kg>
    WHERE {
        ?s rdfs:Class schema:Person .
        ?s ?p ?o .
    }
    GROUP BY ?s
}
"""

run_query(sparql_query, as_dataframe=True)

   avgOutdegree.value
0  74.104365065192009